<div>
  <a class="edit-link-wtl" href='#'>
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-pencil-1"></use>
      </svg>
    </span>Edit
  </a>
  <h1>Wills</h1>
</div>
<div class="card wills details">
  <div class="wtl-card-info details">
  	<div class = "will-left-info">
	  <div class = "will-card-field">
	    <label class="title">Primary Beneficiaries</label>
		<div class="will-field">
		  <span class="will-field-value">Bruna Mars</span>
		  <span class="will-percent-value">100%</span>
		</div>
	  </div>
	  <div class = "will-card-field bottom-fields">
		<label class="title">Secondary Beneficiaries</label>
		<div class="will-field">
		  <span class="will-field-value">BJ Mars</span>
		  <span class="will-percent-value">33.4%</span>
		</div>
		<div class="will-field">
		  <span class="will-field-value">Ted Mars</span>
		  <span class="will-percent-value">33.3%</span>
		</div>
		<div class="will-field">
		  <span class="will-field-value">Jackson Mars</span>
		  <span class="will-percent-value">33.3%</span>
		</div>
	  </div>
	  <div class = "will-card-field bottom-fields">
        <label class="title">Shared With</label>
		<div class="will-field">
		  <span class="user-circle">AK</span>
          <span class="user-circle">BM</span>
          <span class="user-circle">MB</span>
		</div>
	  </div>
	</div>
	<div class = "will-right-info">
	  <div class = "will-card-field">
		<label class="title">Executor</label>
        <span class="will-field will-field-value">Paul Simon</span>
		<a class="will-field will-field-email">psimon@graceland.com</a>
		<span class="will-field will-field-phone">555-231-6754</span>
	  </div>
	  <div class = "will-card-field bottom-fields">
 	    <label class="title">Attorney, Accountant, Advisor</label>
		<span class="will-field will-field-value">John Ponzleford</span>
		<a class="will-field will-field-email">j.ponzleford@allstate.cpm</a>
		<span class="will-field will-field-phone">555-231-6754</span>
	  </div>
	</div>
  </div>
</div>

<div>
  <a class="add-link fr" href="#">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>
    </span>Add Document
  </a>
  <h1>Wills Documents</h1>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Modified</th>
    <th>Tags</th>
    <th>Shared With</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td>
      <a>Name</a>
    </td>
    <td>2016-09-19 02:42:12 UTC</td>
    <td>tags</td>
    <td>
      <span class="user-circle">AK</span>
      <span class="user-circle">BM</span>
      <span class="user-circle">MB</span>
    </td>
    <td>
      <%= link_to 'Edit', '#', class: "outline-button small-button" %>
	  <%= link_to 'Delete', '#', class: "outline-button small-button" %>
    </td>
  </tr>
</table>
