<h1>Wills</h1>

<div class="wtl-header-content">
  <h1 class="wtl-question-title"> Do you have a Will? <span class="wtl-required-field"> Required</span> </h1>
  <div>
	  <ul class="radio-list">
		<li class="">
		  <input type="radio" id="yes-option" name="will_radio_group" checked="checked" value="Yes"/>
		  <label for="yes-option">Yes</label>
		  <div class="check"></div>
		</li>
		<li class="">
		  <input type="radio" id="no-option" name="will_radio_group" value="No"/>
		  <label for="no-option">No</label>
		  <div class="check"></div>
		</li>
	  </ul>
  </div>
</div>

<body>
	<div id="will-forms">
		<div id="will-form-1">
		  <%= render 'form' %>
		</div>
	</div>
</body>

<div class="wtl-footer-content">
  <div class="add-new-field" href="" onclick="addNewField();">
    <svg class="icon add-icon">
	  <use xlink:href="#icon-add-1"></use>
	</svg>
	Add another Will<br>
  </div>
</div>

<div class="wtl-btn-group">
  <%= link_to "Save", '#',
    class: "button primary-button big-button" %>
  <%= link_to 'Cancel', '#', class: "button secondary-button big-button"%>
</div>

<script>
  addNewField = function(){
    var $willForm = $('div[id^="will-form"]:last');
    var num = parseInt($willForm.prop("id").match(/\d+/g), 10) + 1;
	var $newWillForm = $willForm.clone().prop('id', 'will-form-' + num).appendTo('#will-forms');
  }
</script>
