<%- houses = current_user.financial_properties.select{|p| p.property_type == 'House'} %>
<%- houses.each do |fp| %>
  <div class="collect-fields">
    <%= hidden_field_tag :tutorial_name, @tutorial_name, class: 'saved-field' %>
    <%= hidden_field_tag 'financial_property[property_type]', "House", class: 'saved-field' %>
    <div class="input-pair tutorial-fields">
      <%= text_field_tag "financial_property[name]", fp.name, class: "saved-field form-control medium", placeholder: '1010 Main Street' %>
      <a data-id=<%= fp.id %> class="medium-button outline-button inline-button remove-btn">Remove</a>
    </div>
  </div>
<% end %>
