<%= render partial: 'layouts/category_setup_modal' %>

<button class="d-none" id="to-do-modal-popup" data-modal-id="category-setup-category-modal" onclick='categorySetupModal("Financial Information", "Document your property, investments, bank accounts, financial advisors and debp for your family.", "<%= asset_url('setup_modal/financial_information.png') %>", "<%= financial_information_path %>", "<%= to_do_modal_popup_path %>")' >
</button>