<%= render partial: 'layouts/category_setup_modal' %>

<button class="d-none" id="to-do-modal-popup" data-modal-id="category-setup-category-modal" onclick='categorySetupModal("Final Wishes", "Record your plans for pet care, burial, charity, organ donation and more.", "<%= asset_url('setup_modal/final_wishes.jpg') %>", "<%= final_wishes_path %>", "<%= to_do_modal_popup_path %>")' >
</button>