<%= render partial: 'layouts/category_setup_modal' %>

<button class="d-none" id="to-do-modal-popup" data-modal-id="category-setup-category-modal" onclick='categorySetupModal("Insurance", "Store information regarding your health, property, life and disability insurance.", "<%= asset_url('setup_modal/insurance.jpg') %>", "<%= insurance_path %>", "<%= to_do_modal_popup_path %>")' >
</button>