<%= render partial: 'layouts/category_setup_modal' %>

<button class="d-none" id="to-do-modal-popup" data-modal-id="category-setup-category-modal" onclick='categorySetupModal("Online Accounts", "Store your login and password information for social media, utility companies, banks and more.", "<%= asset_url('setup_modal/online_accounts.jpg') %>", "<%= online_accounts_path %>", "<%= to_do_modal_popup_path %>")' >
</button>