<%= render partial: 'layouts/category_setup_modal' %>

<button class="d-none" id="to-do-modal-popup" data-modal-id="category-setup-category-modal" onclick='categorySetupModal("Taxes", "Store your tax records and documents", "<%= asset_url('setup_modal/taxes.jpg') %>", "<%= taxes_path %>", "<%= to_do_modal_popup_path %>")' >
</button>