<%= render partial: 'layouts/category_setup_modal' %>

<button class="d-none" id="to-do-modal-popup" data-modal-id="category-setup-category-modal" onclick='categorySetupModal("Trusts & Entities", "Store details regarding your family trusts, charities and private entities.", "<%= asset_url('setup_modal/trusts_and_entities.jpg') %>", "<%= trusts_entities_path %>", "<%= to_do_modal_popup_path %>")' >
</button>