<%= render partial: 'layouts/category_setup_modal' %>

<button class="d-none" id="to-do-modal-popup" data-modal-id="category-setup-category-modal" onclick='categorySetupModal("Wills & Powers of Attorney", "Store digital records of your Wills, Living Wills and Powers of Attorney for your family.", "<%= asset_url('setup_modal/wills_and_powers_of_attorney.jpg') %>", "<%= wills_powers_of_attorney_path %>", "<%= to_do_modal_popup_path %>")' >
</button>