<h1>We're sorry, but something went wrong.</h1>
<br>

<%= link_to 'Email Us', email_support_path, class: "button primary-button big-button"%>
<%= link_to 'Back', @return_path, class: "button secondary-button big-button"%>