<h1>Shared With Me</h1>
<table id="shares-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Documents</th>
      <th>Categories</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @shares_by_user.each do |user, shares| %>
      <% if user.present? && (user != :primary_shared_user) %>
        <%= render partial: 'shared_view_row', locals: { user: user, shares: shares, shareables: shares.select(&:shareable_type).map(&:shareable) } %>
      <% elsif user == :primary_shared_user %>
        <% shares.each do |primary_shared_user| %>
          <%= render partial: 'shared_view_row', locals: { user: primary_shared_user, shares: nil, shareables: nil } %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    DatatableUpdate('#shares-table', [ [10, 25, 50, 100], 'shares', [[0, 'asc']] ], [1, 2, 2])
  });
</script>
