 <div class="card mb-30 text-center max-w-1000-centered ">
  <h5 class="text-center clr-gray-dark-tinted fw-600 mt-15 mb-30">Shared View Unavailable.</h5>
  <section class="max-w-1000 inline-block mb-30">
    <%= image_tag "marketing/files.png", :class => "w-200 mb-30" %><br>
    <p class="mb-30 max-w-1000">The ZokuVault account for <%= @expired_user.name %> is unavailable at this time, please contact them directly for information.</p>
    <%= link_to back_to_shared_link_text, shares_dashboard_path, class: "button big-button blue-button" %>
  </section>
</div>
