<%= link_to new_corporate_account_path, class: "no-underline-link" do %>
  <span class="circle-button">
  <svg class="icon circle-icon">
    <use xlink:href="#icon-plus-1"></use>
  </svg>
  </span>Add Account
<% end %>