<%= link_to 'javascript:void(0);', class: "no-underline-link" do %>
  <span class="circle-button">
  <svg class="icon circle-icon">
    <use xlink:href="#icon-plus-1"></use>
  </svg>
  </span>Add Account
<% end %>