<div class="card mb-30 b-radius-0 b-none box-shadow-none">
  <h3>Subscription Details</h3>
  <% subscription = current_user.current_user_subscription %>
  <% if subscription && subscription.active_trial? %>
    <%= render partial: 'free_trial_subscription_info.html.erb', locals: { subscription: subscription } %>
  <% else %>
    <%= render partial: 'subscription_info.html.erb' %>
  <% end %>
  
</div>