<% @power_of_attorneys.each do |attorney| %>

  <div class="card attorney mb-30">

    <h3 class="card-label">Legal Details</h3>

    <label class="title">Power of Attorney</label>
    <p><%= attorney.agents && attorney.agents.map(&:name).join('') %></p>

    <label class="title">Agent Powers</label>
    <p>
      <% if attorney.powers.present? %>
        <% attorney.powers.keys.each do |agent_power| %>
          <%= agent_power %><br>
        <% end %>
      <% end %>
    </p>
    
    <label>Notes</label>
    <p>
      <%= attorney.notes %>
    </p>

    <section class="shared-with">
      <h3 class="card-label shared-label">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> Shared With
      </h3>

      <label>Shared With</label>
      <div>
        <% attorney.shares.each do |share| %>
          <% if share.contact.present? %>
            <%= avatar_circle(share.contact) %>
          <% end %>
        <% end %>
      </div>
    </section>

  </div>
<% end %>
