<ul class="tut-button-wrapper mt-20">
  <li class="icon-box">
    <label>
      <input type="checkbox" name="co-owner" value="yes">
      <span class="checked-hide" onclick="createContact();">
        <h1 class="mt-35">Yes</h1>
      </span>
    </label>
  </li>
  <li class="icon-box">
    <label>
      <%= link_to new_tutorial_path, class: 'no-underline-link' do %>
        <input type="checkbox" name="co-owner" value="no">
        <span class="checked-hide">
          <h1 class="mt-35">No</h1>
        </span>
      <% end %>
    </label>
  </li>
</ul>