<% @resource_owner = current_user %>
<button class="primary-button big-button email-modal hidden" data-modal-id="email-preview-modal" id="show-modal-button">
  Email Modal
</button>
<div id="email-preview-modal" class="modal email-preview-modal modal-no-js">
  <div class="fr mr-15">
    <svg class="icon close-icon" id="close-email-modal">
      <use xlink:href="#icon-x-2"></use>
    </svg>
  </div>
  <iframe src="" id="email-iframe"></iframe>
</div>

<script>

$(document).ready(function() {
  $('#close-email-modal').on('click', function() {
    closeEmailPreviewModal()
  })
})

var emailPreviewOnLoad = function(modalBox, canvasEl) {
  cleanEmailPreviewHeader('SMTP')
  cleanEmailPreviewHeader('Date')
  cleanLinks()
  $('#' + modalBox).fadeIn($(canvasEl).data());
}

var cleanEmailPreviewHeader = function(textContained) {
  var elementDt = $("#email-iframe").contents().find("header").find("dl > dt:contains('" + textContained + "')")
  var elementDd = elementDt.next()
  elementDt.remove()
  elementDd.remove()
}

var cleanLinks = function() {
  $("#email-iframe").contents().find("iframe[name=messageBody]").contents().find("a").each(function() {
    if ($(this).parent().hasClass('mcnFollowIconContent')) { return true; }
    $(this).attr("href", "javascript:void(0);")
  })
}

var closeEmailPreviewModal = function() {
  $(".modal, .modal-overlay").fadeOut(500, function() {
    $("#contact-form").trigger("reset");
    $(".modal-overlay").remove();
  });
}
</script>