<ul class="tut-button-wrapper">
  <%- @tutorial_array.each do |tutorial|%>
    <li class="icon-box">
      <label>
        <%= check_box_tag 'tutorial[]', tutorial[:id], false, {class: "check-list-item"} %>
        <%= render partial: 'tutorial_icon', locals: { tutorial: tutorial } %>
      </label>
    </li>
  <% end %>
 </ul>
