<div class="modal-header">
  <h2>Add Trusted Advisors</h2>
  
  <p>If you work with any trusted advisors that are able to help you populate your vault, you can add them here. These are your Accountants, Attorneys, Financial Advisers, Brokers, and Trustees, etc. You will be able to assign them specific access to manage different areas of ZokuVault in the future.</p>
</div>

<div class="modal-content">
  <h3 <% if @trusted_advisors.blank? %> style="display: none;" <% end %> id='professional-contacts-table-title'>Your Professional Contacts</h3>
  <table id="professional-contacts-table" class='table-add-contactable' <% if @trusted_advisors.blank? %> style="display: none;" <% end %>>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Relationship</th>
      </tr>
    </thead>
    <tbody>
      <% @trusted_advisors.each do |primary_contact| %>
        <tr>
          <td><%= primary_contact.lastname %></td>
          <td><%= primary_contact.firstname %></td>
          <td><%= primary_contact.emailaddress %></td>
          <td><%= primary_contact.relationship %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="flash-success-static flash add-contactable static small" style="display: none;">You added a contact! Add another one of your Professional Contacts, or click Next.</div>
  <button class="button primary-button medium-button" onclick="createProfessionalContact();">Add Professional Contacts</button>
</div>

<script>
  $(document).ready(function(){
      $('#professional-contacts-table').DataTable( {
        paging: false,
        searching: false,
        info: false,
        aaSorting: [[0, 'asc']]
    });
  });
  
  var createProfessionalContact = function() {
    window.tableIdToUpdate = '#professional-contacts-table'
    setProfessionalDropdown(['Advisor'])
    contact_type_handle($('#contact_contact_type'), true)
    displayContactFormModal();
  }
</script>

