<div class="card mb-30 mt-20 text-center max-w-1000-centered">
  <h1 class="card-label fn clr-color-primary-shaded">
    Getting Started
  </h1>

  <p class="mb-30 m-0-auto">This video provides a helpful guide on how to use ZokuVault.<br>When you are finished, you will be directed to your dashboard.</p>

  <div class="m-0-auto mb-30 b-gray-light embed-video-container">
    <iframe src="https://www.youtube.com/embed/5JBZHRnCKpc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen class="video"></iframe>
  </div>

  <%= render partial: 'tutorials/buttons_section' %>
</div>
