<div class="card mb-30 max-w-1000-centered">
  <h5 class="tut-top-label mt-10 mb-30">Tell us about yourself so we can help you set up your vault.</h5>

  <%= form_for @tutorial do |f| %>
    <%= render "#{@tutorial.current_step}_step", :f => f %>

    <section class="mt-60 bt-gray-light pt-20 mb-10 flex-button">
      <%= f.submit "Continue", class: "button big-button blue-button f-right" %>
    </section>

  <% end %>
</div>
