<div class="max-w-1000-centered">
  <h3 class="clr-gray-dark">Set Up Your Vault</h3>
</div>

<div class="card mb-30 text-center max-w-1000-centered">
  <h1 class="card-label fn clr-color-primary-shaded">
    Getting Started
  </h1>

  <p class="mb-30 m-0-auto">This video provides a helpful guide on how to use ZokuVault.<br>When you are finished, you will be directed to your dashboard.</p>

  <div class=" m-0-auto mb-30 b-gray-light" style="width:642px;height:362px;">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/5JBZHRnCKpc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <%= render partial: 'pages/tutorial_buttons', locals: { tutorial_skip_path: root_path,
                                                          tutorial_continue_path: root_path,
                                                          tutorial_back_path: tutorial_important_documents_path} %>
</div>
