<div class="max-w-1000-centered">
  <h3 class="clr-gray-dark">Setup Your Vault</h3>
</div>

<div class="card mb-30 text-center max-w-1000-centered">
  <h2 class="card-label fn clr-color-primary-shaded">
    Site Demo
  </h2>
  
  <p class="mb-30 m-0-auto">Watch this video for a quick tour of functionality.</p>
  
  <div class="max-w-600 m-0-auto mb-30">
    <%= image_tag "marketing/video-image.png", :class => "w-80-percent" %>
  </div>
  
  <%= render partial: 'pages/tutorial_buttons', locals: { tutorial_skip_path: root_path,
                                                          tutorial_continue_path: root_path,
                                                          tutorial_back_path: tutorial_important_documents_path} %>
</div>