<div class="card mb-30">
  <section class="flex-boxes">
    <div class="board-name">
      <h3>
        <svg class="icon nav-icon">
          <use xlink:href="#icon-share-3"></use>
        </svg>Contacts &amp; Permissions
      </h3>
    </div>
    <div class="board-text">
      <%= contacts_count %> contacts uploaded.
    </div>
    
    <div class="board-link">
      <%= link_to button_text(contacts_count > 0), contacts_path, :class=>"outline-button small-button" %>
    </div>
  </section>
</div>