<div class="card mb-30">
  <section class="flex-boxes padding-right">
    <div class="board-name trial mr-15">
      <%= image_tag "marketing/rocket.png", :class => "w-75 mr-15 fl" %>
      <h3 class="mt-10">ZokuVault Free Trial</h3>
    </div>
    <div class="board-text trial">
      <p class="mb-0"><%= subscription_days_remaining(subscription) %> days remaining in your free trial.</p>
    </div>

    <div class="board-link trial">
      <%= link_to 'Upgrade', billing_info_account_settings_path, class: "button big-button blue-button fr" %>
    </div>
  </section>
</div>
