<div class="card mb-30">
  <section class="flex-boxes padding-right">
    <div class="board-name onboarding">
      <%= image_tag "SVG/zoku-circle.svg", :class => "w-60 mr-15 fl" %>
      <h3 class="mt-10">Onboarding</h3>
    </div>
    <div class="board-text onboarding">
      You are in the middle of onboarding, pick up where you left off?
    </div>
    
    <div class="board-link onboarding">
      <%= link_to 'Back to Onboarding', onboarding_back_path, class: "button big-button blue-button fr" %>
    </div>
  </section>
</div>