<section class="flex-boxes row-list padding-right to-do-item">
  <div class="row-list-item-name">
    <p class="mb-0 mt-5 fw-300"><%= title %></p>
  </div>
  <div class="row-list-item-link">
    <%= link_to 'Start Workflow', setup_path, class: 'outline-button category-btn small-button mr-5' %>
    <%= link_to 'Dismiss', 'javascript:void(0);', class: 'no-underline-link fz-12', onClick: "dismissToDoItem(\"#{modal_path}\", \"#{index}\")", id: "dismiss-btn-#{index}" %>
  </div>
</section>