<div class="card centered mb-30 mt-100 max-w-430 text-center w-80-percent">
  <h5 class="text-center clr-gray-dark-tinted fw-600 mt-15 mb-10">You successfully activated your account.</h5>
  <p class="text-center mb-30">Please login to continue.</p>
  <%= image_tag "marketing/shield.png", :class => "mb-30 w-50-percent" %>
  <p class="text-center mb-10"><%= link_to 'Login', new_user_session_path, class: "button blue-button big-button-2 mr-0"%></p>
</div>