<% if user_signed_in? %>

<h1>Dashboard</h1>

<div class="card">
  <h3>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-activity-monitor-1"></use>
    </svg>Financial Information
</h3>
</div>

<div class="card">
  <h3>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-document-3"></use>
    </svg>Wills Trusts &amp; Legal
  </h3>
</div>

<div class="card">
  <h3>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-umbrella-1"></use>
    </svg>Insurance
  </h3>
</div>

<div class="card">
  <h3>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-book-6"></use>
    </svg>Taxes
  </h3>
</div>

<div class="card">
  <h3>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>Healthcare Choices
  </h3>
</div>

<div class="card">
  <h3>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-bookmark-2"></use>
    </svg>Final Wishes
  </h3>
</div>

<div class="card">
  <h3>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-cloud-1"></use>
    </svg>Web Accounts
  </h3>
</div>

<% end %>
