<% if @corporate %>
  <% title = "Create Password Link Expired" %>
  <% description = "Please contact your corporate admin for requesting a new invitation mail." %>
<% else %>
  <% title = "Reset Password Link Expired" %>
  <% description = "Please request a new reset password mail from #{link_to 'reset password', new_password_path(:user), class: 'no-underline-link' }. If you have any problems please email us directly at #{ mail_to 'support@zokuvault.com', 'support@zokuvault.com'}" %>
<% end %>

<div class="card centered mb-30 mt-100 max-w-430 text-center w-80-percent">
  <h5 class="text-center clr-gray-dark-tinted fw-600 mb-30"><%= title %></h5>
  <%= image_tag "marketing/lock.png", :class => "mb-30 w-50-percent" %>
  <p class="text-center mb-10"><%= description.html_safe %></p>
</div>