<h1>
  Heading One
</h1>

<h2>
  Heading Two
</h2>

<h3>
  Heading Three
</h3>

<h4>
  Heading Four
</h4>

<h5>
  Heading Five
</h5>

<p><b>Paragraph Text</b></p>
<p>
  If what you're doing doesn't make you happy - you're doing the wrong thing. Let's put some happy trees and bushes back in here. Only think about one thing at a time. Don't get greedy. Everything's not great in life, but we can still find beauty in it. <a>I am a link</a> It just happens - whether or not you worried about it or tried to plan it.
</p>

<p><b>Un-ordered List</b></p>
<ul>
  <li>List Item One</li>
  <li>List Item Two</li>
  <li>List Item Three</li>
</ul>

<p><b>Ordered List</b></p>
<ol>
  <li>List Item One</li>
  <li>List Item Two</li>
  <li>List Item Three</li>
</ol>

<p><b>Big Buttons</b></p>

<button class="primary-button big-button">
  Primary Button
</button>

<button class="secondary-button big-button">
  Secondary Button
</button>

<button class="outline-button big-button">
  Outline Button
</button>

<p><b>Small Buttons</b></p>

<button class="primary-button small-button">
  Primary Button
</button>

<button class="secondary-button small-button">
  Secondary Button
</button>

<button class="outline-button small-button">
  Outline Button
</button>

<p><b>Circle Buttons</b></p>
<a class="add-link" href="/uploads/new">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add link
</a>

<br><br>
<a class="add-link" href="/uploads/new">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-pencil-1"></use>
    </svg>
  </span>Edit link
</a>
<br><br>

<p><b>Icon Actions</b></p>
<svg class="icon add-icon">
  <use xlink:href="#icon-add-1"></use>
</svg> Add<br>

<svg class="icon delete-icon">
  <use xlink:href="#icon-x-3"></use>
</svg> Delete<br>

<svg class="icon close-icon">
  <use xlink:href="#icon-x-2"></use>
</svg> Close<br>

<p><b>Inputs</b></p>

<label>Single Input</label><br>
<input></input>

<label>Select</label><br>
<div class="styled-select">
  <select>
    <option value="empty">Select...</option>
    <option value="muse">Muse</option>
    <option value="radiohead">Radiohead</option>
    <option value="stapleton">Chris Stapleton</option>
    <option value="beatles">The Beatles</option>
  </select>
</div>
<br>

<label>Text Area</label><br>
<textarea></textarea>

<label>Input Error <span class="error-label">- Error Reason</span></label><br>
<input class="input-error"></input>

<label class="form-disabled">Input Disabled</label><br>
<input class="form-disabled" disabled></input>

<p><b>Radio Buttons</b></p>

<ul class="radio-list">
 <li class="radio-list">
   <input type="radio" id="f-option" name="selector">
   <label for="f-option">Guitar</label>
   <div class="check"></div>
 </li>

 <li class="radio-list">
   <input type="radio" id="s-option" name="selector">
   <label for="s-option">Piano</label>
   <div class="check"></div>
 </li>

 <li class="radio-list">
   <input type="radio" id="t-option" name="selector">
   <label for="t-option">Drums</label>
   <div class="check"></div>
 </li>
</ul>

<p><b>Check Boxes</b></p>

<ul class="check-list">
  <li class="check-list">
    <label>
      <input type="checkbox" name="checkbox" value="1" checked> <span></span> First to check
    </label>
  </li>
  <li class="check-list">
    <label>
      <input type="checkbox" name="checkbox" value="2"> <span></span> Second to check
    </label>
  </li>
  <li class="check-list">
    <label>
      <input type="checkbox" name="checkbox" value="99"> <span></span> Last to check
    </label>
  </li>
</ul>

<p><b>Modal Windows</b></p>

<button class="primary-button big-button" data-modal-id="large-modal">
  Large Modal
</button>

<button class="primary-button big-button" data-modal-id="medium-modal">
  Medium Modal
</button>

<button class="primary-button big-button" data-modal-id="small-modal">
  Small Modal
</button>

<button class="primary-button big-button" data-modal-id="wizard-modal">
  Wizard Modal
</button>

<div id="large-modal" class="modal large-modal">
  <div class="modal-header">
    <a href="javascript:void(null)" class="js-modal-close modal-close">
      <svg class="icon">
        <use xlink:href="#icon-x-2"></use>
      </svg>
    </a>
    <h2>Modal Title</h2>
  </div>
  <div class="modal-content"
    <p>
      If what you're doing doesn't make you happy - you're doing the wrong thing. Let's put some happy trees and bushes back in here. Only think about one thing at a time. Don't get greedy. Everything's not great in life, but we can still find beauty in it. <a>I am a link</a> It just happens - whether or not you worried about it or tried to plan it.
    </p>
  </div>
  <div class="modal-footer">
    <button class="js-modal-close secondary-button big-button">Close Button</a>
  </div>
</div>

<div id="medium-modal" class="modal medium-modal">
  <a href="javascript:void(null)" class="js-modal-close modal-close">
    <svg class="icon">
      <use xlink:href="#icon-x-2"></use>
    </svg>
  </a>
  <div class="modal-header">
    <h2>Modal Title</h2>
  </div>
  <div class="modal-content">
    <p>
      If what you're doing doesn't make you happy - you're doing the wrong thing. Let's put some happy trees and bushes back in here. Only think about one thing at a time. Don't get greedy. Everything's not great in life, but we can still find beauty in it. <a>I am a link</a> It just happens - whether or not you worried about it or tried to plan it.
    </p>
  </div>

  <footer class="modal-footer">
    <button class="js-modal-close secondary-button big-button">Close Button</a>
  </footer>
</div>

<div id="small-modal" class="modal small-modal">
  <a href="javascript:void(null)" class="js-modal-close modal-close">
    <svg class="icon">
      <use xlink:href="#icon-x-2"></use>
    </svg>
  </a>
  <div class="modal-header">
    <h2>Modal Title</h2>
  </div>
  <div class="modal-content">
    <p>
      If what you're doing doesn't make you happy - you're doing the wrong thing. Let's put some happy trees and bushes back in here. Only think about one thing at a time. Don't get greedy. Everything's not great in life, but we can still find beauty in it. <a>I am a link</a> It just happens - whether or not you worried about it or tried to plan it.
    </p>
  </div>

  <footer class="modal-footer">
    <button class="js-modal-close secondary-button big-button">Close Button</a>
  </footer>
</div>

<div id="wizard-modal" class="modal medium-modal wizard-modal">
  <div class="step-wizard">
    <div class="inner-step">
      <span class="inner-counter completed-step">
        <svg class="icon circle-icon">
          <use xlink:href="#icon-checkmark-1">1</use>
        </svg>
      </span>Step 1
    </div>
    <div class="inner-step">
      <span class="inner-counter current-step">2</span>Step 2
    </div>
    <div class="inner-step">
      <span class="inner-counter">3</span>Step 3
    </div>
  </div>
  <div class="modal-header">
    <h2>Modal Title</h2>
  </div>
  <div class="modal-content">
    <p>
      If what you're doing doesn't make you happy - you're doing the wrong thing. Let's put some happy trees and bushes back in here. Only think about one thing at a time. Don't get greedy. Everything's not great in life, but we can still find beauty in it. <a>I am a link</a> It just happens - whether or not you worried about it or tried to plan it.
    </p>
  </div>
  <footer class="modal-footer">
    <button class="js-modal-close secondary-button big-button">Close Button</a>
  </footer>
</div>


<p><b>Category Tags</b></p>
<span class="doc-tag">Primary Tag</span>
<span class="doc-tag secondary-tag">Secondary Tag</span>


<p><b>Tables</b></p>
<table>
    <tr>
      <th>Table Head C1</th>
      <th>Table Head C2</th>
      <th>Table Head C3</th>
    </tr>
    <tr>
      <td>Table Body C1</td>
      <td>Table Body C2</td>
      <td>Table Body C3</td>
    </tr>
    <tr>
      <td>Table Body C1</td>
      <td>Table Body C2</td>
      <td>Table Body C3</td>
    </tr>
    <tr>
      <td>Table Body C1</td>
      <td>Table Body C2</td>
      <td>Table Body C3</td>
    </tr>
</table>

<table>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Tags</th>
      <th>Shared With</th>
      <th>Actions</th>
    </tr>

    <tr>
      <td>
        <a>DocumentName.pdf</a>
      </td>
      <td>07/31/2016</td>
      <td>
        <span class="doc-tag">Insurance</span>
        <span class="doc-tag secondary-tag">Car</span>
      </td>
      <td>
        <span class="user-circle">AK</span>
        <span class="user-circle">BM</span>
        <span class="user-circle">MB</span>
      </td>
      <td>
          <button class="outline-button small-button">
            Edit
          </button>
      </td>
    </tr>
</table>

<p><b>Step Wizard</b></p>

<div class="step-wizard">
  <div class="inner-step">
    <span class="inner-counter current-steop">1</span>Step 1
  </div>
  <div class="inner-step">
    <span class="inner-counter">2</span>Step 2
  </div>
  <div class="inner-step">
    <span class="inner-counter">3</span>Step 3
  </div>
</div>

<div class="step-wizard">
  <div class="inner-step">
    <span class="inner-counter completed-step">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-checkmark-1">1</use>
      </svg>
    </span>Step 1
  </div>
  <div class="inner-step">
    <span class="inner-counter current-step">2</span>Step 2
  </div>
  <div class="inner-step">
    <span class="inner-counter">3</span>Step 3
  </div>
  <div class="inner-step">
    <span class="inner-counter">4</span>Step 4
  </div>
</div>

<p><b>Primary Colors</b></p>
<div class="color-block color-primary-shaded">
$color-primary-shaded #255A85
</div>
<div class="color-block color-primary">
$color-primary #6CA1D6
</div>
<div class="color-block color-primary-light">
$color-primary-light #DEEEFA
</div>
<div class="color-block color-primary-tinted">
$color-primary-tinted #F3F9FD
</div>
<div class="color-block color-link-blue">
$color-link-blue #1D93F4
</div>

<p><b>Secondary Colors</b></p>
<div class="color-block color-secondary">
$color-secondary #F37A21
</div>
<div class="color-block color-secondary-light">
$color-secondary-light #FAAB75
</div>

<p><b>Structural Colors</b></p>
<div class="color-block color-black">
$color-black rgb(0,0,0)
</div>
<div class="color-block color-gray-dark-shaded">
$color-gray-dark-shaded rgb(10,13,16)
</div>
<div class="color-block color-gray-dark">
$color-gray-dark rgb(58,61,64)
</div>
<div class="color-block color-gray-dark-tinted">
$color-gray-dark-tinted rgb(84,87,90)
</div>
<div class="color-block color-gray-med-shaded">
$color-gray-med-shaded rgb(131,131,131)
</div>
<div class="color-block color-gray-med">
$color-gray-med rgb(150,150,150)
</div>
<div class="color-block color-gray-med-tinted">
$color-gray-med-tinted rgb(172,172,172)
</div>
<div class="color-block color-gray-light-shaded">
$color-gray-light-shaded rgb(192,192,192)
</div>
<div class="color-block color-gray-light">
$color-gray-light rgb(211,211,211)
</div>
<div class="color-block color-gray-light-tinted">
$color-gray-light-tinted rgb(233,233,233)
</div>
<div class="color-block color-off-white-shaded-more">
$color-off-white-shaded-more rgb(240,240,240)
</div>
<div class="color-block color-off-white-shaded">
$color-off-white-shaded rgb(247,247,247)
</div>
<div class="color-block color-off-white">
$color-off-white rgb(252,252,252)
</div>
<div class="color-block color-white">
$color-white rgb(255,255,255)
</div>

<p><b>System Colors - NOT FINAL!</b></p>
<div class="color-block color-alert">
$color-alert red
</div>
<div class="color-block color-confirm">
$color-confirm green
</div>
<div class="color-block color-notice">
$color-notice yellow
</div>
<div class="color-block color-warning">
$color-warning orange
</div>

<p><b>SVG Icons</b></p>

<svg class="icon icon-Safe"><use xlink:href="#icon-Safe"></use></svg><span class="mls"> icon-Safe</span><br>

<svg class="icon icon-activity-monitor-1"><use xlink:href="#icon-activity-monitor-1"></use></svg><span class="mls"> icon-activity-monitor-1</span><br>

<svg class="icon icon-add-1"><use xlink:href="#icon-add-1"></use></svg><span class="mls"> icon-add-1</span><br>

<svg class="icon icon-add-user-1"><use xlink:href="#icon-add-user-1"></use></svg><span class="mls"> icon-add-user-1</span><br>

<svg class="icon icon-arrow-left-2"><use xlink:href="#icon-arrow-left-2"></use></svg><span class="mls"> icon-arrow-left-2</span><br>

<svg class="icon icon-arrow-right-2"><use xlink:href="#icon-arrow-right-2"></use></svg><span class="mls"> icon-arrow-right-2</span><br>

<svg class="icon icon-battery-charging-3"><use xlink:href="#icon-battery-charging-3"></use></svg><span class="mls"> icon-battery-charging-3</span><br>

<svg class="icon icon-book-6"><use xlink:href="#icon-book-6"></use></svg><span class="mls"> icon-book-6</span><br>

<svg class="icon icon-bookmark-2"><use xlink:href="#icon-bookmark-2"></use></svg><span class="mls"> icon-bookmark-2</span><br>

<svg class="icon icon-call-1"><use xlink:href="#icon-call-1"></use></svg><span class="mls"> icon-call-1</span><br>

<svg class="icon icon-checkmark-1"><use xlink:href="#icon-checkmark-1"></use></svg><span class="mls"> icon-checkmark-1</span><br>

<svg class="icon icon-clipboard-2b"><use xlink:href="#icon-clipboard-2b"></use></svg><span class="mls"> icon-clipboard-2b</span><br>

<svg class="icon icon-cloud"><use xlink:href="#icon-cloud"></use></svg><span class="mls"> icon-cloud</span><br>

<svg class="icon icon-cloud-add-1"><use xlink:href="#icon-cloud-add-1"></use></svg><span class="mls"> icon-cloud-add-1</span><br>

<svg class="icon icon-cloud-download-1"><use xlink:href="#icon-cloud-download-1"></use></svg><span class="mls"> icon-cloud-download-1</span><br>

<svg class="icon icon-cloud-upload-1"><use xlink:href="#icon-cloud-upload-1"></use></svg><span class="mls"> icon-cloud-upload-1</span><br>

<svg class="icon icon-contacts-1"><use xlink:href="#icon-contacts-1"></use></svg><span class="mls"> icon-contacts-1</span><br>

<svg class="icon icon-contacts-2"><use xlink:href="#icon-contacts-2"></use></svg><span class="mls"> icon-contacts-2</span><br>

<svg class="icon icon-control-1"><use xlink:href="#icon-control-1"></use></svg><span class="mls"> icon-control-1</span><br>

<svg class="icon icon-credit-card-1"><use xlink:href="#icon-credit-card-1"></use></svg><span class="mls"> icon-credit-card-1</span><br>

<svg class="icon icon-document-1"><use xlink:href="#icon-document-1"></use></svg><span class="mls"> icon-document-1</span><br>

<svg class="icon icon-document-3"><use xlink:href="#icon-document-3"></use></svg><span class="mls"> icon-document-3</span><br>

<svg class="icon icon-folder-1"><use xlink:href="#icon-folder-1"></use></svg><span class="mls"> icon-folder-1</span><br>

<svg class="icon icon-graph-3"><use xlink:href="#icon-graph-3"></use></svg><span class="mls"> icon-graph-3</span><br>

<svg class="icon icon-heart-1"><use xlink:href="#icon-heart-1"></use></svg><span class="mls"> icon-heart-1</span><br>

<svg class="icon icon-home-3"><use xlink:href="#icon-home-3"></use></svg><span class="mls"> icon-home-3</span><br>

<svg class="icon icon-info-2"><use xlink:href="#icon-info-2"></use></svg><span class="mls"> icon-info-2</span><br>

<svg class="icon icon-key-1"><use xlink:href="#icon-key-1"></use></svg><span class="mls"> icon-key-1</span><br>

<svg class="icon icon-left-1"><use xlink:href="#icon-left-1"></use></svg><span class="mls"> icon-left-1</span><br>

<svg class="icon icon-left-2"><use xlink:href="#icon-left-2"></use></svg><span class="mls"> icon-left-2</span><br>

<svg class="icon icon-link-4"><use xlink:href="#icon-link-4"></use></svg><span class="mls"> icon-link-4</span><br>

<svg class="icon icon-lock-2"><use xlink:href="#icon-lock-2"></use></svg><span class="mls"> icon-lock-2</span><br>

<svg class="icon icon-mail-2"><use xlink:href="#icon-mail-2"></use></svg><span class="mls"> icon-mail-2</span><br>

<svg class="icon icon-menu-2"><use xlink:href="#icon-menu-2"></use></svg><span class="mls"> icon-menu-2</span><br>

<svg class="icon icon-menu-list-2"><use xlink:href="#icon-menu-list-2"></use></svg><span class="mls"> icon-menu-list-2</span><br>

<svg class="icon icon-money-1"><use xlink:href="#icon-money-1"></use></svg><span class="mls"> icon-money-1</span><br>

<svg class="icon icon-paperclip-1"><use xlink:href="#icon-paperclip-1"></use></svg><span class="mls"> icon-paperclip-1</span><br>

<svg class="icon icon-pencil-1"><use xlink:href="#icon-pencil-1"></use></svg><span class="mls"> icon-pencil-1</span><br>

<svg class="icon icon-photo-1"><use xlink:href="#icon-photo-1"></use></svg><span class="mls"> icon-photo-1</span><br>

<svg class="icon icon-pin-1"><use xlink:href="#icon-pin-1"></use></svg><span class="mls"> icon-pin-1</span><br>

<svg class="icon icon-plus-1"><use xlink:href="#icon-plus-1"></use></svg><span class="mls"> icon-plus-1</span><br>

<svg class="icon icon-print-1"><use xlink:href="#icon-print-1"></use></svg><span class="mls"> icon-print-1</span><br>

<svg class="icon icon-profile-1"><use xlink:href="#icon-profile-1"></use></svg><span class="mls"> icon-profile-1</span><br>

<svg class="icon icon-repeat-4"><use xlink:href="#icon-repeat-4"></use></svg><span class="mls"> icon-repeat-4</span><br>

<svg class="icon icon-server-1"><use xlink:href="#icon-server-1"></use></svg><span class="mls"> icon-server-1</span><br>

<svg class="icon icon-settings-1"><use xlink:href="#icon-settings-1"></use></svg><span class="mls"> icon-settings-1</span><br>

<svg class="icon icon-settings-2"><use xlink:href="#icon-settings-2"></use></svg><span class="mls"> icon-settings-2</span><br>

<svg class="icon icon-share-3"><use xlink:href="#icon-share-3"></use></svg><span class="mls"> icon-share-3</span><br>

<svg class="icon icon-switch-window-1"><use xlink:href="#icon-switch-window-1"></use></svg><span class="mls"> icon-switch-window-1</span><br>

<svg class="icon icon-trash-2"><use xlink:href="#icon-trash-2"></use></svg><span class="mls"> icon-trash-2</span><br>

<svg class="icon icon-trophy-1"><use xlink:href="#icon-trophy-1"></use></svg><span class="mls"> icon-trophy-1</span><br>

<svg class="icon icon-umbrella-1"><use xlink:href="#icon-umbrella-1"></use></svg><span class="mls"> icon-umbrella-1</span><br>

<svg class="icon icon-user-1"><use xlink:href="#icon-user-1"></use></svg><span class="mls"> icon-user-1</span><br>

<svg class="icon icon-wrench-1"><use xlink:href="#icon-wrench-1"></use></svg><span class="mls"> icon-wrench-1</span><br>

<svg class="icon icon-x-1"><use xlink:href="#icon-x-1"></use></svg><span class="mls"> icon-x-1</span><br>

<svg class="icon icon-x-2"><use xlink:href="#icon-x-2"></use></svg><span class="mls"> icon-x-2</span><br>

<svg class="icon icon-x-3"><use xlink:href="#icon-x-3"></use></svg><span class="mls"> icon-x-3</span><br>

<script>
$(function(){

  //SOMEONE PLEASE FIX THIS GARBAGE
  var appendthis =  ("<div class='modal-overlay js-modal-close'></div>");

  $('button[data-modal-id]').click(function(e) {
    e.preventDefault();
    $("body").append(appendthis);
    $(".modal-overlay").fadeTo(500, 0.8);
    $(".js-modalbox").fadeIn(500);
    var modalBox = $(this).attr('data-modal-id');
    $('#'+modalBox).fadeIn($(this).data());
  });


  $(".js-modal-close, .modal-overlay").click(function() {
    $(".modal, .modal-overlay").fadeOut(500, function() {
      $(".modal-overlay").remove();
    });
  });

  //ESPECIALLY THIS GARBAGE
  $(window).resize(function() {
    $(".large-modal").css({
      top: ($(window).height() - $(".modal").outerHeight()) / 2,
      left: ($(window).width() - $(".large-modal").outerWidth()) / 2,
    });
  });
  $(window).resize(function() {
    $(".medium-modal").css({
      top: ($(window).height() - $(".modal").outerHeight()) / 2,
      left: ($(window).width() - $(".medium-modal").outerWidth()) / 2,
    });
  });
  $(window).resize(function() {
    $(".small-modal").css({
      top: ($(window).height() - $(".modal").outerHeight()) / 2,
      left: ($(window).width() - $(".small-modal").outerWidth()) / 2,
    });
  });
  $(window).resize();

});
</script>
