<div class="card centered mb-30 mt-100 max-w-430 text-center w-80-percent">
  <h5 class="text-center clr-gray-dark-tinted fw-600 mt-15 mb-30">Check your email.</h5>
  <%= image_tag "marketing/airplane.png", :class => "mb-30 w-50-percent" %>
  <p class="text-center mb-10">We sent you a link to verify your identity.</p>
</div>
