<a class="cta tall" href="<%= sign_up_path %>" >
  <%= image_tag "SVG/ZokuVault_logo_white.svg" %>
  <h1>Take the<br>next step.</h1>

  <button class="big-button blue-button">
    Sign Up
  </button>
</a>
