<% products_comparison = [ { title: 'Full encryption of your data during storage and transmission', free: true, premium: true },
                           { title: 'Two-factor authentication', free: true, premium: true },
                           { title: 'View all data and documents shared with you', free: true, premium: true },
                           { title: 'Store unlimited documents', free: false, premium: true },
                           { title: 'Create and share with unlimited contacts', free: false, premium: true },
                           { title: 'Financial Information & Estate Planning', free: false, premium: true },
                           { title: 'Manage Insurance Information', free: false, premium: true },
                           { title: 'Store tax support and returns', free: false, premium: true },
                           { title: 'Input Final Wishes', free: false, premium: true },
                           { title: 'Wills & Powers of Attorney management', free: false, premium: true },
                           { title: 'Trust & Entity management', free: false, premium: true }] %>
<% continue_path ||= shares_path %>
<% start_now_path ||= billing_info_account_settings_path %>
<div class="card mb-30 min-w-460">
  <table class="product-comparison" cellspacing="0">
    <tr>
      <th class="text-center table-title">
        <h1>Compare ZokuVault Products</h1>
      </th>
      <th class="plan-information free text-center">
        <h4 class="clr-gray-dark-tinted fw-500 mt-80">View and Edit Access.</h4>
        <%= link_to 'Continue', continue_path, class: 'button big-button primary-button inline-block mt-30 mr-0' %>
        <h4 class="fw-600 clr-gray-dark-tinted mt-30 h-35">Free Access To Other Vaults</h4>
      </th>
      <th class="plan-information premium text-center">
        <h4 class="clr-gray-dark-tinted fw-500 mt-80">Unlimited Storage and Sharing</h4>
        <% if SubscriptionService.eligible_for_trial?(current_user) %>
          <%= link_to 'Start Free Trial', first_run_accounts_path, class: 'button big-button primary-button inline-block mt-30 mr-0' %>
          <h4 class="fw-600 clr-gray-dark-tinted mt-30 h-35">14 day free trial and then $9.99 a month</h4>
        <% else %>
          <%= link_to 'Start Now', start_now_path, class: 'button big-button primary-button inline-block mt-30 mr-0' %>
          <h4 class="fw-600 clr-gray-dark-tinted mt-30 h-35">$9.99 a month</h4>
        <% end %>
      </th>
    </tr>

    <% products_comparison.each do |comparison| %>
      <tr>
        <td class="description">
          <span><%= comparison[:title] %></span>
        </td>
        <td>
          <% if comparison[:free] %>
            <div class="circle"></div>
          <% end %>
        </td>
        <td>
          <% if comparison[:premium] %>
            <div class="circle"></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
