<p>Welcome to <a href=" https://zokuvault.com">https://zokuvault.com</a>, a website (the “Site”) owned and operated by Zoku Technologies, Inc., its affiliates, agents, independent contractors, designees and assignees (collectively “Zoku,” “ ZokuVault,” “us” or “we”), to provide storage, organization, access and sharing services (the “Service(s)”) of electronic files, content, email messages, contacts and information (“Your Data”).</p>
<p>PLEASE READ THIS TERMS OF SERVICE AGREEMENT CAREFULLY BEFORE USING THE SITE.</p>
<p>Your use of the Site or the Service is governed by this Terms of Service Agreement (the “User Agreement”). Please read this document carefully before accessing the Site or using the Service. By accessing the Site or using the Service, you are entering into a legally binding contract and agree to be bound by this User Agreement (including all associated policies including our Privacy Policy). If you do not agree to be bound by any of the provisions of this User Agreement, please do not access the Site or use the Service. We may revise this User Agreement from time to time without prior notice. When we revise the User Agreement, we will post the revised User Agreement on the Site. Please review the most current version of the User Agreement each time you visit the Site. Your continued use of the Site or the Service following revisions to the User Agreement reaffirms your continuing agreement to be bound by the then-current User Agreement. Third parties may provide portions of the Service (“third-party service provider”) in accordance with the terms of this User Agreement. The Zoku Privacy Policy which is a part of this User Agreement governs the collection, security and use of all information we gather about you in connection with using the Site. You acknowledge that no fiduciary relationship is created between you and Zoku or its third-party service providers by storing copies of Your Data on the Site. We do not provide legal services or tax services. Neither we nor our third -party service providers intend to be a provider of personal health records. The Service is not directed to children under the age of 13 and we do not collect personal information from them. If you are under 13 years of age, you are not permitted to access or use the Services. If we become aware that a child under the age of 13 is using the Service, we will immediately deactivate the account. If you are under the age of 18, you may create an Account only with the consent of your parent or legal guardian.</p>
<p>By clicking the “I Agree” button, you agree to be bound by and to act in accordance with, this User Agreement in order to use the Site and certify that you are at least 18 years of age (or have the express consent of your parent or legal guardian) and are a resident of the United States.</p>

<p>CONTENTS</p>
<ol>
  <li>Your ZokuVault Account</li>
  <li>Access to the Site and the Service</li>
  <li>Your Rights and Responsibilities</li>
  <li>Links to Third Party Sites</li>
  <li>Disclaimer of Warranties</li>
  <li>Limitation of Liability</li>
  <li>ZokuVault Trademarks</li>
  <li>Digital Millennium Copyright Act</li>
  <li>Indemnification</li>
  <li>Miscellaneous</li>
</ol>

<p><b>1.Your ZokuVault Account</b></p>
<p>You may enroll in the Service and create a secure ZokuVault Account (“Account”) that will only be accessible to you (“User”) and any other User with whom you have shared access. The Service allows you to store, upload, access, download, review, share and delete copies of Your Data that have been uploaded into your Account via the internet in compliance with this User Agreement. We do not review Your Data for accuracy, legality, non-infringement, or for any other purpose. If you create an Account on behalf of a corporate or other legal entity, you represent that you have the authority to bind such entity to this User Agreement.</p>
<p>Account Username and Password</p>
<p>You access your Account with an Account username and password that you create in the registration process as specified from time to time. We recommend that you change your password regularly.</p>
<p>The registration process will include an email message confirming your identity, which must be completed to continue with the registration process. You will then provide answers to security questions and will be sent a confirmation code via text message, which will allow you to to verify your device and identity again and complete the registration process. You will have the option thereafter to use the device as a secondary authentication during future login attempts.</p>
<p>Protection of Password</p>
<p>You agree that you:</p>
<ul>
  <li>will be the only user of your specific Account username and password</li>
  <li>will not transfer or disclose your password to any other person; and</li>
  <li>will be solely responsible for all usage of the Service through your Account whether or not authorized by you.</li>
</ul>
<p>If you believe that your password may have been lost or stolen, or that someone has uploaded, viewed, downloaded, shared or deleted any of Your Data from your Account without your authorization, or if you know of or suspect any unauthorized activity in your Account, you agree to immediately notify us at <a href="mailto:support@zokuvault.com">support@zokuvault.com</a></p>
</p>You will have the ability to invite one or more trusted individuals (“Contacts”) with whom you may share access to documents or information in your Account. Your Contact must also register as a User of the Site in order to gain access to your shared documents or information. You will designate the documents or information you wish to share with your Contact and you may terminate your Contact’s access to such at any time. You may also direct that your Contact continue to have, or gain access to the selected documents or information following your death.</p>

<p><b>2. Access to the Site and the Service</b></p>
<p>At certain times, access to the Site or the Service may not be available due to maintenance or circumstances beyond our control. We may discontinue or modify access to the Site or the Service at any time without prior notice and you accept any modifications by your continued use of the Site or the Service.</p>
<p>Suspension, Termination or Deletion of Access to the Site or the Service</p>
<p>We may suspend or terminate your access at any time if you violate any provisions herein or for any other reason, in our sole discretion, without prior notice to you. If we suspend or terminate your access, we reserve the right to permanently destroy Your Data. If you wish to terminate your Account, you may do so by contacting us at <a href="mailto:support@zokuvault.com">support@zokuvault.com</a> or by ceasing to pay. If you elect to terminate your Account, we will use reasonable efforts to suspend access to the Account and to destroy Your Data in accordance with the terms of this User Agreement, subject to valid legal process procedures. If you instruct us to delete any specific item of Your Data, we will take reasonable steps to do so, subject to internal procedures and valid legal process. Your Data, which is so deleted or destroyed, may result in the permanent loss of Your Data which may not be recovered.</p>
<p>We reserve the right, without notice to you, to destroy any portion of Your Data which we deem, in our sole discretion, to be illegal, offensive, inappropriate, or in violation of this User Agreement or its intent.</p>

<p><b>3. Security</b></p>
<p>You are responsible for ensuring that you have signed off from the Site when a session is complete. You will be logged out of your Account after a period of inactivity. Neither we nor our third-party providers will access, use or share Your Data for any purpose, except at your direction, to scan for viruses or as required or permitted by law. Please see our Privacy Policy, which is incorporated herein by reference and the receipt of which you acknowledge.</p>

<p><b>4. Your Rights and Responsibilities</b></p>
<p>You represent and warrant to Zoku that:</p>
<ul>
  <li>you have full power and authority to enter into this User Agreement;</li>
  <li>the information you have provided and will provide will be true, accurate, current and complete;</li>
  <li>you will not misrepresent your identity;</li>
  <li>you own all Your Data or have obtained all permissions, releases, rights or licenses required to engage in your activities (and allow Zoku to perform its obligations) in connection with the Services without obtaining any further releases or consents;</li>
  <li>Your Data and your other activities in connection with the Service and Zoku’s exercise of all rights and license granted by you herein, do not and will not violate, infringe, or misappropriate any third party’s copyright, trademark, right of privacy or publicity, or other personal or proprietary right, nor does Your Data contain any matter that is unlawful or illegal; and</li>
  <li>You will comply with all applicable laws regarding the exportation and re-exportation of any data from the United States through the Service.</li>
</ul>

<p>You also agree not to:</p>
<ul>
  <li>upload, post, transmit, or otherwise make available any of Your Data that is unlawful or illegal, including without limitation Data that is libelous or invasive of another’s privacy;</li>
  <li>use the Service to harm minors in any way;</li>
  <li>use the Service to download or view any objectionable material including harassing, threatening, harmful, vulgar, pornographic or obscene material;</li>
  <li>use the Service for illegal, offensive or abusive behavior including gambling and disseminating fraudulent or deceptive goods or schemes</li>
  <li>impersonate any person or entity, including, but not limited to, a Zoku employee, or other user, or falsely state or otherwise misrepresent your affiliation with a person or entity or falsify the origin of any electronic file;</li>
  <li>use the Service to download or view any illegal materials not permitted by this User Agreement including commercial music or video files, code or material that violates the intellectual property rights of others or personal health records;</li>
  <li>manipulate identifiers in order to disguise the origin of any of Your Data;</li>
  <li>upload, post, transmit, or otherwise make available any of Your Data that you do not have a right to make available under any law or under contractual or fiduciary relationships;</li>
  <li>upload, transmit or otherwise make available any of Your Data in a manner that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party;</li>
  <li>use the Service for any commercial purpose or to upload, transmit, or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation or sale of digital content;</li>
  <li>use the Service to upload, transmit, or otherwise make available any software virus, worm, “Trojan horse” or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware;</li>
  <li>interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service, including using any device or software;</li>
  <li>modify, adapt, or hack the Service, including by using any non-public Zoku APIs, or otherwise attempt to gain unauthorized access to the Service or its related systems or networks or access or attempt to access to an account on the Site without authorization including the circumvention of security measures or copy, modify, share or display any information or data from any such account;</li>
  <li>use the Service for phishing, scamming, password robbery, spidering, harvesting or similar activities;</li>
  <li>intentionally or unintentionally violate any applicable local, state, national or international law in connection with your use of the Service, including, but not limited to, any data, privacy, or export control laws and any regulations having the force of law;</li>
  <li>use the Service to provide material support or resources (or to conceal or disguise the nature, location, source, or ownership of material support or resources) to any organization(s) designated by the United States government as a foreign terrorist organization pursuant to section 219 of the Immigration and Nationality Act; and</li>
  <li>use the Service to build a competitive product or Service.</li>
</ul>
<p>You acknowledge, consent and agree that Zoku may access, preserve and disclose your account information and Your Data if required to do so by law or in a good faith belief that such access, preservation or disclosure is reasonably necessary to: (i) comply with legal process; (ii) enforce the User Agreement; (iii) respond to claims that any of Your Data violates the rights of third parties; (iv) respond to your requests for customer service; or (v) protect the rights, property or personal safety of Zoku, its users and the public.</p>

<p><b>5. Links to Third Party Sites</b></p>

<p>The Site may contain links to other websites. We do not monitor or check the accuracy of such third-party materials and accordingly, we have no control over such third-party sites and resources. We: (a) not responsible for the availability of such external sites or resources; and (b) do not endorse and are not responsible or liable for any advertising, products or other materials on or available from such third parties. If you decided to access a third-party link, you do so at your own risk. You should review any terms and conditions and privacy polices prior to navigating to such third-party site from the Service.</p>

<p><b>6. Disclaimer of Warranties</b></p>
<p>THE SERVICE AND ALL RELATED COMPONENTS AND INFORMATION ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT ANY WARRANTIES OF ANY KIND and ZOKU EXPRESSLY DISCLAIMS ANY AND ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE and NON-INFRINGEMENT. YOU ACKNOWLEDGE THAT ZOKU DOES NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, ERROR-FREE OR VIRUS-FREE, NOR DOES IT MAKE ANY WARRANTY THAT ANY DEFECTS OR INACCURACIES WILL BE CORRECTED. ZOKU MAKES NO WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE SERVICES and NO INFORMATION, ADVICE OR SERVICES OBTAINED BY YOU FROM ZOKU OR THROUGH THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THIS USER AGREEMENT.</p>

<p><b>7. Limitation of Liability</b></p>
<p>UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (WHETHER IN CONTRACT, TORT, OR OTHERWISE) SHALL ZOKU BE LIABLE TO YOU OR ANY THIRD PARTY FOR (A) ANY DIRECT OR INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING LOST PROFITS, GOODWILL, LOST DATA, FILES OR THE COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES OR DAMAGES THAT RESULT FROM USE OR LOSS OF USE OF THE SERVICE AND THIRD-PARTY CONTENT, INCONVENIENCE OR DELAY OR (B) FOR ANY AMOUNT IN THE AGGREGATE IN EXCESS OF THE FEES ACTUALLY PAID BY YOU IN THE SIX (6) MONTHS PRECEDING THE EVENT GIVING RISE TO YOUR CLAIM OR, IF NO FEES APPLY, FIVE HUNDRED ($500) U.S. DOLLARS, OR (C) ANY MATTER BEYOND OUR DIRECT CONTROL OR THE DIRECT CONTROL OF OUR THIRD-PARTY PROVIDERS. THIS INCLUDES FAILURE OF ELECTRONIC OR MECHANICAL EQUIPMENT OR COMMUNICATION LINES (INCLUDING TELEPHONE, CABLE AND INTERNET), UNAUTHORIZED ACCESS, MISUSE OF UNIQUE ID OR PASSWORD, VIRUSES, THEFT, OPERATOR ERRORS, SEVERE OR EXRAORDINARY WEATHER (INCLUDING FLOOD, EARTHQUAKE OR OTHER ACT OF GOD), FIRE, WAR, INSURRECTION, TERRORIST ACT, RIOT, LABOR DISPUTE AND OTHER LABOR ISSUES, ACCIDENT, EMERGENCY OR ACTION OF GOVERNMENT THE PROVISIONS OF THIS SECTION ALLOCATE THE RISKS UNDER THIS TOS BETWEEN THE PARTIES and THE PARTIES HAVE RELIED ON THESE LIMITATIONS IN DETERMINING WHETHER TO ENTER INTO THIS USER AGREEMENT.</p>

<p>Some jurisdictions do not allow the exclusion of implied warranties or limitation of liability for incidental or consequential damages, which means that some of the above limitations may not apply to you. IN THESE JURISDICTIONS, ZOKU’S LIABILITY WILL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.</p>

<p><b>7. Zoku Trademarks</b></p>
<p>All trademarks and service marks on our Site belong to us except third-party trademarks and service marks, which are the property of their respective owners.</p>

<p><b>8. Digital Millennium Copyright Act</b></p>
<p>If you are a copyright owner or an agent thereof and believe that any content on the Site infringes upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA") by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):</p>
<p>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</p>
<p>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works are covered by a single notification, a representative list of such works;</p>
<p>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled and information reasonably sufficient to permit us to locate the material;</p>
<p>Your address, telephone number and email address;</p>
<p>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</p>
<p>A statement that the information in the notification is accurate and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>
<p>Our designated Copyright Agent to receive notifications of claimed infringement is Bart Loethen; email: <a href="mailto:bart@synergylawgroup.com">bart@synergylawgroup.com</a>; fax: 312.454.0261. You acknowledge that if you fail to comply with all of the requirements of this section, your DMCA notice may not be valid.</p>

<p><b>9. Indemnity</b></p>
<p>To the extent permitted by applicable law, you agree to defend, indemnify and hold harmless Zoku, its officers, directors, employees, agents, attorneys and  representatives from and against any and all claims, damages, obligations, losses, liabilities, costs or debt and expenses (including but not limited to attorney's fees), whether known or unknown, contingent or otherwise, arising from: (i) your use of and access to the Service; (ii) your violation of any term of this User Agreement; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that Your Data caused damage to a third party. This defense and indemnification obligation will survive this User Agreement and your use of the Service.</p>

<p><b>10. General</b></p>
<p>Term and Termination</p>
<p>This User Agreement will continue in full effect unless and until your account or this User Agreement is terminated as described herein. Service plans that are paid monthly will automatically renew for additional months and Service plans that are paid annually will automatically renew for additional years. You have the right to deactivate your Account at any time by using the account deactivation interface provided as part of the Service. If you elect to terminate your Account, we will take reasonable steps to suspend access to your Account and destroy Your Data subject to valid legal process. If you direct us to delete any specific item of Your Data, we will take reasonable steps to do so subject to valid legal process procedures. Your Data which is so deleted or destroyed may result in the permanent loss of Your Data which may not be recovered.</p>

<p>We reserve the right to deactivate, suspend or terminate your account (or the access privileges of any user) and terminate this User Agreement at any time if you violate any provisions herein or for any other reason, or no reason, in our sole discretion, with or without notice. If we suspend access or terminate your account, we reserve the right to permanently destroy Your Data.</p>
<p>Governing Law</p>
<p>The User Agreement and the relationship between the parties shall be governed by the laws of the State of Delaware without regard to its conflict of law.</p>

<p>Dispute Resolution/Arbitration</p>

<p>PLEASE READ THIS SECTION CAREFULLY – IT MAY SIGNIFICANTLY AFFECT YOUR LEGAL RIGHTS, INCLUDING YOUR RIGHT TO FILE A LAWSUIT IN COURT AND TO HAVE A JURY HEAR YOUR CLAIMS. In order to expedite and control the cost of disputes, you and Zoku agree that any legal or equitable claim arising out of or relating in any way to your use of the Services or this User Agreement and the formation, validity, enforceability, scope, or applicability of this User Agreement, including this section (referred to as a “Claim”) will be resolved as provided herein.</p>

<p>Informal Resolution</p>

<p>We will first try to resolve any Claim informally. Accordingly, except for Claims described in “Exceptions” below, neither of us may start a formal proceeding for at least 30 days after one of us notifies the other of a Claim in writing. Notice of the Claim will include a brief written statement that sets forth the name, address and contact information of the party giving it, the facts giving rise to the dispute, claim, or controversy and the relief requested. You will send your notice by email to <a href="mailto:support@zokuvault.com">support@zokuvault.com</a> AND to Zoku Technologies, Inc., c/o Synergy Law Group, L.L.C., 730 W Randolph St #600, Chicago, IL 60661. We will send your notice by email to the email address associated with your Account.</p>

<p>Formal Resolution</p>


<p>Except as provided in the “Exceptions” section below, if we cannot resolve a Claim informally, any Claim either of us asserts will be resolved only by binding arbitration and not in courts of general jurisdiction. The arbitration will be conducted under the rules of JAMS that are in effect at the time the arbitration is initiated (referred to as the “JAMS Rules”) and under the rules set forth in this User Agreement. If there is a conflict between JAMS Rules and the rules set forth in this User Agreement, the rules set forth in this User Agreement will govern. ARBITRATION MEANS THAT YOU WAIVE YOUR RIGHT TO A JURY TRIAL. You may, in arbitration, seek any and all remedies otherwise available to you pursuant to your state’s law.</p>

<p>The arbitration will be held at a location in your home area unless you and we both agree to another location or telephonic arbitration. To initiate an arbitration proceeding, you or we must do the following things:</p>

<p>Write a Demand for Arbitration. The demand must include a description of the Claim and the amount of damages sought to be recovered. A copy of a Demand for Arbitration is available at www.jamsadr.com.</p>
<p>Send three copies of the Demand for Arbitration, plus the appropriate filing fee, to: JAMS 500 North State College Blvd., Suite 600, Orange, CA 92868 (1-800-352-5267).</p>
<p>Send one copy of the demand for arbitration to Zoku Technologies, Inc., c/o Synergy Law Group, L.L.C., 730 W Randolph St #600, Chicago, IL 60661.</p>

<p>Special Rules</p>

<p>In the arbitration proceeding, the arbitrator has no authority to make errors of law and any award may be challenged if the arbitrator does so. Otherwise, the arbitrator’s decision is final and binding on all parties and may be enforced in any federal or state court that has jurisdiction. Neither you nor we shall be entitled to join or consolidate claims in arbitration by or against other individuals or entities, or arbitrate any claim as a representative member of a class or in a private attorney general capacity.  Accordingly, you and we agree that the JAMS Class Action Procedures do not apply to our arbitration.  A court may sever any portion of this Dispute Resolution/Arbitration section that it finds to be unenforceable, except for the prohibition on class, representative and private attorney general arbitration.</p>

<p>Exceptions</p>

<p>Notwithstanding the foregoing, the notice and 30-day negotiation period required by this section shall not apply, however, to disputes, claims, or controversies concerning patents, copyrights, moral rights, trademarks and trade secrets and claims of piracy or unauthorized use of the Service, including disputes involving a violation of the Communications Act of 1934, 47 U.S.C. § 605, or the Digital Millennium Copyright Act, 17 U.S.C. § 1201, or the Electronic Communications Privacy Act, 18 U.S.C. §§ 2510-2521, or any other statement or law governing theft of service, may be decided only by a court of competent jurisdiction. You may also assert an individual action in small claims court in lieu of arbitration.</p>

<p>User Right to Opt-Out</p>

<p>You have the right to opt-out and not be bound by the binding arbitration requirement by sending written notice of your decision to opt-out to the email address <a href="mailto:support@zokuvault.com">support@zokuvault.com</a> AND by U.S. Mail to Zoku Technologies, Inc. at c/o Synergy Law Group, L.L.C., 730 W Randolph St #600, Chicago, IL 60661. The notice must be sent within the later of 30 days of October 31, 2016, or your first use of the Service, whichever is later. If you opt-out of the binding arbitration requirement, Zoku also will not be bound by the requirement.</p>
<p>Assignment</p>
<p>We may assign this User Agreement, in whole or in part, without your prior consent; however, you may not assign or transfer this User Agreement. We may also assign or delegate certain of our rights and responsibilities hereunder to independent contractors or other third parties.</p>
<p>Entire Agreement</p>
<p>This User Agreement represents the sole and exclusive agreement between you and Zoku regarding the Site and the Service and merges and supersedes all previous and contemporaneous written or oral agreements and understandings regarding the subject matter hereof. If a court of competent jurisdiction deems any provision unenforceable, that provision will be enforced to the maximum extent permissible and the remaining provisions will remain in full force and effect.</p>
<p>This User Agreement is effective October 31, 2016.</p>
