<section class="mt-60 bt-gray-light pt-20 mb-10 flex-button">
  <a class="big-button outline-button padded f-left">Back</a>
  <a class="big-button outline-button padded">Skip</a>
  <a class="button big-button blue-button f-right">Continue</a>
</section>
