<section class="careers-1">
  <article>
    <h1 class="hero-text">Careers</h1>
    <h5 class="hero-text">Join the team helping to build ZokuVault.</h5>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Careers</h1>
    <p>ZokuVault allows individuals to safely and securely store and share their important documents and online accounts with people in their lives.  This requires team members that are familiar with secuirty and enterprise operations, as well as a deep sense of empathy for our partners needs.</p>
    <p>Founded in 2016 Zoku Was launched by a team of industry vetrans frustrated with the current solutions that existed in this marketplace, and the deficencies in current platforms.  Building on the success of thier past buisness and product experience, the team has built a product that provides our users with a strong foundation in securing the important details of their lives.</p>

    <h1>Open Positions</h1>

    <h3>Full Stack Web Developer</h3>
    <p>We are looking for innovative full-stack web developers that understand and think beyond standard best practices. Strong candidates will be familiar with and capable of designing, developing, testing, and maintaining solutions with exceptional competency. If you have experience in taking performant web apps to production, or if you are a pragmatic programmer who is passionate about crafting high-quality and high-value software, let’s talk.</p>

    <h3>Huge Pluses</h3>
    <ul>
      <li>Proficiency with Ruby on Rails or another server-side MVC framework </li>
      <li>Competency with React or another client-side JavaScript framework</li>
      <li>Experience with a variety of database technologies (e.g., PostgreSQL, MongoDB)</li>
      <li>Passion and intuition for application design, development, and scaling</li>
      <li>Comfort with Test-Driven Design and Agile software methodologies</li>
      <li>Experience with security and infastructure development</li>
    </ul>

    <h3>Compensation</h3>
    <p>ZokuVault offers competitive salary, benefits, and equity options for its employees.

    <p>Please <a href="/contact-us">contact us</a> to apply for a position.</a>
  </article>


</section>
