<section class="careers-1">
  <article>
    <h1 class="hero-text">Careers</h1>
    <h4 class="hero-text">Join the team helping to build ZokuVault.</h4>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Careers</h1>
    <p>ZokuVault is an online vault that helps individuals and families store, share and organize the most important details of their lives.  We are assembling an exciting team of developers, sales people and managers to deliver this product to a growing and hungry marketplace.</p>
    <p>Founded in 2016, the Company was launched by a team of industry veterans that brings together work experiences in the realms of family risk management and technology as well as their personal needs as both parents and adult-aged children in their own growing families.  Building on the successes of their past business and product experience, the team has built a Company that provides users with a truly differentiated product.</p>

    <h1>Open Positions</h1>

    <h3>Full Stack Web Developer</h3>
    <p>We are looking for innovative full stack web developers that understand and think beyond standard best practices.  Strong candidates will be familiar with and capable of designing, developing, testing and maintaining solutions with exceptional competency.  If you have experience in taking web apps to production, or if you are a pragmatic programmer who is passionate about crafting high-quality and highly-valued software, let’s talk.</p>

    <h3>Huge Pluses</h3>
    <ul>
      <li>Proficiency with Ruby on Rails or another server-side MVC framework</li>
      <li>Competency with React or another client-side JavaScript framework</li>
      <li>Experience with a variety of database technologies (e.g., PostgreSQL, MongoDB)</li>
      <li>Passion and intuition for application design, development and scaling</li>
      <li>Comfort with Test-Driven Design and Agile software methodologies</li>
      <li>Experience with security and infrastructure development</li>
    </ul>

    <h3>Compensation</h3>
    <p>ZokuVault offers a competitive salary, strong benefits and equity options for its employees.

    <p>Please <a href="<%= contact_page_path %>">contact us</a> to apply for a position.</p>
  </article>
</section>
