<section class="security-1">
  <article>
    <h1 class="hero-text">Careers</h1>
    <h5 class="hero-text">ZokuVault helps families plan, organize, and share the important details of their lives.</h5>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Careers</h1>
  </article>
</section>
