<section class="contact-1">
  <article>
    <h1 class="hero-text">Contact Us</h1>
    <h5 class="hero-text">ZokuVault helps families plan, organize, and share the important details of their lives.</h5>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Contact Us</h1>
    <p>Let us know how we can help you.  You can email us directly at <a href="mailto:support@zokuvault.com">support@zokuvault.com</a> or fill out the form below. A member of our team will get back to you shortly.</p>

    <label>Name</label>
    <input></input>
    <label>Email</label>
    <input></input>
    <label>Phone Number<span>optional</span></label>
    <input></input>
    <label>Message</label>
    <textarea></textarea>
    <button class="primary-button big-button">Submit</button>
  </article>
</section>
