<section class="careers-1">
  <article>
    <h1 class="hero-text">Join our mailing list</h1>
    <h5 class="hero-text">Please enter your details below.</h5>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Thank you for your interest!</h1>
    <p>ZokuVault isn't live yet, but if you are interested in participating in our beta program, please provide your information below.  We will consider you in an upcoming release and will provide you with progress updates along the way.</p>

    <!-- Begin MailChimp Signup Form -->

    <div id="mc_embed_signup">
    <form action="//zokuvault.us14.list-manage.com/subscribe/post?u=55ddf9415eea8def74757885c&amp;id=d891f43f08" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <label>Email <span class="required">(Required)</span></label>
    	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">

    	<label for="mce-FNAME">First Name <span class="required">(Required)</span></label>
    	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">

    	<label for="mce-LNAME">Last Name <span class="required">(Required)</span></label>
    	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">

      <label for="mce-PHONE">Phone </label>
      <input type="text" name="PHONE" class="" value="" id="mce-PHONE">

  		  <div class="response" id="mce-error-response" style="display:none"></div>
  		  <div class="response" id="mce-success-response" style="display:none"></div>

      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_55ddf9415eea8def74757885c_d891f43f08" tabindex="-1" value=""></div>
      <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="primary-button big-button">Submit</button>


    </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->

  </article>
</section>
