<section class="careers-1">
  <article>
    <h1 class="hero-text">Join our mailing list</h1>
    <h5 class="hero-text">Please enter your details below.</h5>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Thanks for your interest.</h1>
    <p>ZokuVault isn't live yet, but it will be soon!  If you are interested in receiving access to our beta program or details on upcoming product releases, please provide your information below.   While we consider you for participation in an upcoming release, please know that your information will be kept as confidential as if it were in our Vault.</p>

    <label>Name</label>
    <input></input>
    <label>Email</label>
    <input type="email"></input>
    <label type="phone">Phone Number<span>optional</span></label>
    <input></input>
    <label>Message</label>
    <textarea></textarea>
    <button class="primary-button big-button">Submit</button>

  </article>
</section>
