<section class="careers-1">
  <article>
    <h1 class="hero-text">Join our mailing list</h1>
    <h5 class="hero-text">Please enter your details below.</h5>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Thanks for your interest.</h1>
    <p>ZokuVault isn't live yet, but if you are interested in receiving access to our beta program please provide your information below, and we will consider you in an upcoming release.</p>

    <label>Name</label>
    <input></input>
    <label>Email</label>
    <input></input>
    <label>Phone Number</label>
    <input></input>
    <label>Message</label>
    <textarea></textarea>
    <button class="primary-button big-button">Submit</button>

  </article>
</section>
