<section class="resources-1">
  <article>
    <h1 class="hero-text">Resources</h1>
    <h4 class="hero-text">ZokuVault helps families plan, organize and share the important details of their lives.</h4>
  </article>
</section>

<section class="generic">
  <article>
    <h1>We are here to help</h1>
    <p>
      151, 600 people die every day.  Those that die leave behind countless family members and friends that need help picking up pieces and moving on. Many platforms do not account for these scenarios in their day to day workflows. ZokuVault is here to help.    </p>
  </article>
</section>
