<section class="setup-1">
  <article>
    <h1 class="hero-text">Easy Setup</h1>
    <h5 class="hero-text">ZokuVault helps families plan, organize, and share the important details of their lives.</h5>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Sign Up</h1>
    <p>The first step is signing up</p>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Enter Your Contacts</h1>
    <p>Load in your important family memebers, accountants, attorneys, financial advisors and service providers.</p>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Link Your Data</h1>
    <p>Upload key documents and link your online accounts.  ZokuVault makes it easy to store your:</p>
    <ul>
      <li>Wills, Trusts, and Legal documents</li>
      <li>Financial Information</li>
      <li>Insurance Policies</li>
      <li>Tax Information</li>
      <li>Healthcare Choices</li>
      <li>Final Wishes</li>
      <li>Web Accounts</li>
    </ul>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Secure Sharing</h1>
    <p>Once your key contacts, documents, and data have been uploaded into ZokuVault we provide a safe and secure way for your to share these details with the key contacts in your life.</p>
  </article>
</section>
