<section class="security-1">
  <article>
    <h1 class="hero-text">Easy Setup</h1>
    <h5 class="hero-text">ZokuVault helps families plan, organize, and share the important details of their lives.</h5>
  </article>
</section>

<section class="generic">
  <article>
    <h1>Keys to your Estate Planning and Risk Management Success</h1>
    <ol>
      <li>Break the inertia! So many people do not begin their estate plan or documentation process out of a feeling of overwhelming inertia. There is a fear of needing to complete everything at once. The solution is to start small. Just identifying the top 4 or 5 key contacts is 50% of the battle to most families. Get them into ZokuVault now and chip away over time. Before you know it, you will have an estate plan to be proud of.</li>
      <li>Share your Vault strategically. Now that you have the basics or more entered, make sure to get this information into the hands of those that need to know. We are confident that you have done a great job creating a plan, however, it doesn't help your family if you are the only person who knows where things are you are unexpectedly unable to share the details. Share now, safely, securely and thoughtfully, so that your family is taken care of. Detail your plan in ZokuVault ,and share it at any level of depth with your most trusted family members and professional advisers before it is too late.</li>
      <li>There is just too much! Ask your trusted professional advisers to assist in populating your complete information. If you work with Insurance Brokers, Financial Advisers, Trust and Estate Attorneys, Accountants, or anyone else to create your risk management plan, ask them to assist you in updating your vault. It will be beneficial to both sides, and your Vault and Estate Plan will be complete!</li>
    </ol>
  </article>
</section>
