<section class="setup-1">
  <article>
    <h1 class="hero-text-dark">Easy Setup</h1>
    <h5 class="hero-text-dark">ZokuVault is your virtual safety deposit box and estate planning portal. </h5>
  </article>
</section>

<section class="generic-dark">
  <article>
    <h1>1. Sign Up</h1>
    <div class="cta-outer">
    <%= render :partial => 'pages/cta_short' %>
  </div>
    <p>
      Break the inertia! Start small...
      <br><br>
      So many people are halted from beginning their risk management and estate plan solutions out of a feeling of overwhelming inertia. There is a fear of needing to complete everything at once, or that it is just too much to tackle.
      <br><br>
      Let ZokuVault help you break down this barrier. Sign up, and get started on you way.
      <br><br>
    </p>
  </article>
</section>

<section class="generic wall">


    <article class="get-help mw-20">
      <h1>Get Help</h1>
      <p>Ask your trusted professional advisers to assist in populating your ZokuVault.  If you work with Insurance Brokers, Financial Advisors, Trust and Estate Attorneys, Accountants, etc. as part of your risk management plan, ask them to assist you in populating your ZokuVault. It will be beneficial to both sides, and your Vault and Estate Plan will be closer to complete!</p>
    </article>


  <article>
    <h1>2. Enter Your Contacts</h1>
    <p>Simply identifying the most critical 4 or 5 contacts that you and/or your family should call in times of trouble is 50% of the battle. Quickly enter them into ZokuVault. Then load in the people you want to inform, including your family members.</p>
  </article>

  <article>
    <h1>3. Link Your Data</h1>
    <p>Upload key documents and detail your most important information. ZokuVault makes it easy to upload and store your:</p>
    <ul>
      <li>Wills, Trusts, and Legal documents</li>
      <li>Financial Information</li>
      <li>Insurance Policies</li>
      <li>Tax Information</li>
      <li>Healthcare Choices</li>
      <li>Final Wishes</li>
      <li>Web Accounts</li>
    </ul>
  </article>
</section>

<section class="generic setup-2">

  <%= image_tag "marketing/files.png", :class => "fr mt-20" %>
  <article>
    <h1>4. Secure Sharing</h1>
    <p>
      Now that you have your critical information entered, make sure to get it into the hands of those that need to know. Utilize ZokuVault's secure, managed sharing functionality, and you will be off to a great start.
      <br><br>
      Now take a deep breath, and chip away at the rest over time. Before you know it, you will have your desired, executable estate plan.
    </p>
    <br>
    <a class="button primary-button call-to-action" href="/mailing-list">Sign Up</a>
  </article>
</section>
