<h3>Show of the page.</h3>
<br>
<%= render "tutorials/#{@tutorial_name}/#{@page_name}" %>
<br>
<br>

<%- if @next_page <= @tutorial.number_of_pages %>
  <p><%= link_to "Next", tutorial_page_path(@tutorial_name, @next_page), class: "button big-button primary-button" %></p>
<% elsif @confirmation %>
  <p><%= link_to "Confirmation", tutorials_confirmation_path, class: "button big-button primary-button" %></p>
<% else %>
  <p><%= link_to "Next Tutorial", tutorial_page_path(@current_tutorial_name, '1'), class: "button big-button primary-button" %></p>
<% end %>
