<% if current_user.contingent_owner.eql?(@contact) %>
  <tr>
    <td class="document-name-big"><%= link_to 'Contingent Owner', vault_inheritance_path %></td>
    <td>Vault Inheritance</td>
    <td></td>
  </tr>
<% end %>