<div class="card vault-info mb-30 text-center mt-20 max-w-1000-centered">
  <h2 class="card-label fn clr-color-primary mb-30">
    <svg class="icon" viewBox="0 0 20 20">
      <use xlink:href="#icon-Safe"></use>
    </svg> Shared With
  </h2>
  
  <span class="mb-30 inline-block">ZokuVault lets you securely share your vault with family members and professional advisors.<br>
     Here are some examples of how people share with ZokuVault.
  </span>
  
   <div class="max-w-600 m-0-auto mb-30">
     <%= image_tag "marketing/lock.png", :class => "w-120 inline-block w-30-percent"%>
     <h4 class="description lh-30 clr-gray-dark-tinted w-70-percent fr mt-10">You can share your entire vault with your spouse/domestic partner.</h4>
     <span class="clear mb-30"></span>
   
     <%= image_tag "marketing/files.png", :class => "w-120 inline-block w-30-percent"%>
     <h4 class="description lh-30 clr-gray-dark-tinted w-70-percent fr mt-10">You can have your estate planning attorney or accountant upload documents directly into your vault.</h4>
     <span class="clear mb-30"></span>
   
     <%= image_tag "marketing/heart_bubble.png", :class => "w-120 inline-block w-30-percent"%>
     <h4 class="description lh-30 clr-gray-dark-tinted w-70-percent fr mt-10">You can share your kids insurance cards with your parents.</h4>
     <span class="clear mb-30"></span>
   </div>
  
  <%= render partial: 'tutorials/buttons_section' %>
</div>