<% if !@shared_user.present? %>
  <div class="card category-shared">

    <a class="edit-link fr mr-15 mt-15" href='<%= share_category_category_path(category) %>'>
      <span class="circle-button">
        <svg class="icon circle-icon">
          <use xlink:href="#icon-pencil-1"></use>
        </svg>
      </span>Edit
    </a>

    <section class="shared-with category-shared">
      <h3 class="card-label shared-label fl-mobile-off pl-0 mb-0">
        <svg class="icon" viewBox="0 0 20 20">
          <use xlink:href="#icon-Safe"></use>
        </svg> Document Upload Shared With
      </h3>
      <span class="clear"></span>

      <p class="mt-10">Provide access for a third party to securely upload documents directly into your Vault.</p>

      <label>SHARED WITH</label>
      <div>
        <% if @contacts_with_access.blank? %>
          <p>No shared access</p>
        <% else %>
          <% @contacts_with_access.each do |contact| %>
            <% if contact.present? %>
              <%= render partial: "layouts/avatar_circle", locals: { :contact => contact } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
<% end %>
