<a class="add-link fr" href="<%=new_document_path%>">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Document
</a>

<h1>Documents</h1>

<table>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Tags</th>
      <th>Shared With</th>
      <th>Actions</th>
    </tr>
    <% @documents.each do |document| %>
    <tr>
      <td>
        <a><%= link_to document.name, document_path(document) %></a>
      </td>
      <td><%=document.updated_at%></td>
      <td>tags</td>
      <td>
        <span class="user-circle">AK</span>
        <span class="user-circle">BM</span>
        <span class="user-circle">MB</span>
      </td>
      <td>
          <%= link_to 'Edit', edit_document_path(document), class: "outline-button small-button" %>
        
      </td>
    </tr>
    <%end%>
</table>
