<a class="add-link fr mrg-top" href="<%=new_document_path%>">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Document
</a>

<h1>Documents</h1>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @documents} %>
