<div class="card text-center">
  <h5 class="clr-gray-dark fw-600 mt-20">Thank you for creating your Corporate Account!</h5>
  
  <%= image_tag "SVG/zoku-circle.svg", :class => "w-120 mr-15 mt-20 mb-30" %>
  
  <p class="m-0-auto mb-20">The ZokuVault team will be in contact with you shortly to verify your account and complete your setup. If you have any questions in the meantime, please reach out to <%= mail_to 'support@zokuvault.com', 'support@zokuvault.com' %>.</p>
</div>