<div class="card attorney details">
  <div class="wtl-card-info details">
    <div class = "will-card-field">
	  <label class="title">Power of Attorney</label>
	  <div class="will-field">
	    <span class="will-field-value">BJ Mars</span>
	  </div>
	</div>
	<div class = "will-card-field bottom-fields">
	  <label class="title">Agent Powers</label>
	  <div class="will-field">
	   <span class="will-field-value">General</span>
	  </div>
	  <div class="will-field">
	    <span class="will-field-value">Digital</span>
	  </div>
	</div>
      <div class = "will-card-field bottom-fields">
      <label class="title">Shared With</label>
      <div class="will-field">
	    <span class="user-circle">AK</span>
        <span class="user-circle">BM</span>
        <span class="user-circle">MB</span>
	  </div>
	</div>
  </div>
</div>

<div class="card attorney details">
  <div class="wtl-card-info details">
    <div class = "will-card-field">
	  <label class="title">Power of Attorney</label>
	  <div class="will-field">
	    <span class="will-field-value">BJ Mars</span>
	  </div>
	</div>
	<div class = "will-card-field bottom-fields">
	  <label class="title">Agent Powers</label>
	  <div class="will-field">
	   <span class="will-field-value">General</span>
	  </div>
	  <div class="will-field">
	    <span class="will-field-value">Digital</span>
	  </div>
	</div>
      <div class = "will-card-field bottom-fields">
      <label class="title">Shared With</label>
      <div class="will-field">
	    <span class="user-circle">AK</span>
        <span class="user-circle">BM</span>
        <span class="user-circle">MB</span>
	  </div>
	</div>
  </div>
</div>
