<% @contacts = Contact.for_user(current_user) %>
<% @contacts_shareable = @contacts.reject { |c| c.emailaddress == current_user.email } %>
<div class="wtl-body-content">
  <div class="field">
    <label>Power of Attorney</label>
    <div class="chosen-styled-select">
      <%= f.collection_select :agent_ids, 
        @contacts, :id, :name, {}, 
        { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true }
      %>
  </div>
  </div>
  <div class="field">
    <% check_box_options = ["Digital", 
                            "Financial",
                            "Healthcare",
                            "General",
                            "Limited",
                            "Durable",
                            "Springing"] %>
                          <label>This Agent's powers are (please choose all that apply):</label>
                          <ul class="check-list">
                            <% check_box_options.each_with_index do |check_box_option, index| %>
                              <li class="check-list">
                                <label>
                                  <%= check_box_tag 'checkbox', index, false %>
                                  <span></span> <%= check_box_option %>
                              </label>
                              </li>
                            <% end %>
                          </ul>
  </div>
  <div class="field shared-field bt-gray-light bb-gray-light wtl-shared-with">
    <label>Shared With</label>
    <span class="shared-with-block">
      <h2 class="shared-with-title">Shared With</h2>
      <svg class="icon icon-Safe share-with-icon" viewBox="0 0 20 20">
        <use xlink:href="#icon-Safe"></use>
      </svg>
    </span>
    <div class="chosen-styled-select">
      <%= f.collection_select :share_ids, 
        @contacts_shareable, :id, :name, {}, 
        { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true }
      %>
  </div>
  </div>
</div>
