<div class="card">
  <h1>Contingent Owner Details</h1>
  <p class="max-w-100-percent"><%= @shared_user.name %> has designated you as the contingent owner of their vault. For steps on inheriting the vault please reach out to <%= mail_to 'support@zokuvault.com', 'support@zokuvault.com' %>.</p>
</div>