<h1>Dashboard</h1>
<div class="card mb-30">
  <% if @shared_category_names_full.any? %>
    <% Rails.application.config.x.ShareCategories.each do |category| %>
      <% if show_navigation_link?(category) %>
        <% category_instance = Category.fetch(category.downcase) %>
        <section class="flex-boxes shared-boxes  padding-right">
          <div class="shared-name">
            <h4>
              <%= render partial: 'layouts/category_icons', locals: { category: category_instance } %> <%= category %>
            </h4>
          </div>
          <div class="shared-link">
            <%= link_to 'View Category', category_view_path(category_instance, @shared_user), class: 'outline-button small-button' %>
          </div>
        </section>
      <% end %>
    <% end %>
  <% else %>
    <section class="flex-boxes shared-boxes">
      <div class="shared-name">
        <h4>No shared categories.</h4>
      </div>
    </section>
  <% end %>
</div>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @document_shareables, :shareable => true} %>
