<h1>Dashboard</h1>
<table class="shared-view-dashboard">
  <% if @shared_category_names_full.any? %>
    <% Rails.application.config.x.ShareCategories.each do |category| %>
      <% if show_navigation_link?(category) %>
        <tr>
          <td>
            <svg class="icon dashboard-icon">
              <use xlink:href="#icon-document-3"></use>
            </svg>
            <h5 class="category-title"><%= category %></h5>
            <%= link_to 'View Category', category_view_path(Category.fetch(category.downcase), @shared_user), class: 'view-category' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <tr>
      <td>
        <h5 class="category-title">No shared categories</h5>
      </td>
    </tr>
  <% end %>
</table>
<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @document_shareables, :shareable => true} %>