<h1>Dashboard</h1>
<table class="shared-view-dashboard">
  <% @category_shareables.each do |category| %>
    <tr>
      <td>
        <svg class="icon dashboard-icon">
          <use xlink:href="#icon-document-3"></use>
        </svg>
        <h5 class="category-title"><%= category.name %></h5>
        <%= link_to 'View Category', shared_category_view_path(category, @shared_user), class: 'view-category' %>
      </td>
    </tr>
  <% end %>
  <% @other_shareables.each do |shareable| %>
    <tr>
      <td>
        <span><%= shareable.class %></span>
      </td>
    </tr>
  <% end %>
</table>
<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @document_shareables, :shareable => true} %>
