<div class="card terms-card">
  <div>
    <h1>You are not authorized to access this page.</h1>
  </div>
  <p>
    <%= link_to 'Email Us', email_support_path, class: "button primary-button big-button"%>
    <%= link_to 'Back', session[:ret_url] || root_url, class: "button secondary-button big-button"%>
  </p>
</div>
