<h1>Editing Vendor</h1>

<%= render 'form' %>

<div class="vendor-button-group">
	<%= link_to 'Show', vendor_path(@vendor, return: params[:return]), class: "button secondary-button big-button" %>
	<%= link_to 'Back', *return_to_path(vendors_path), class: "button secondary-button big-button" %>
	<%= link_to 'Delete', vendor_path(@vendor), method: :delete, data: { confirm: 'Are you sure?' }, class: "button secondary-button big-button" %>
</div>
