<div class="card mb-30 mt-20 max-w-1000-centered">
  <h1 class="mb-20">Add Your Tax Accountant</h1>

  <div class="modal-content">
  <%= render partial: 'tutorials/contact_tutorial_table', locals: { table_title: 'Your Tax Accountants', 
                                                                    contacts: @tax_accountants, 
                                                                    table_id: 'tax-accountant-table' } %>

  <div class="flash-success-static flash add-contactable static small" style="display: none;">
    You added a contact! Add another one of your Financial Advisors, or click Next.</div>
    <button class="button primary-button big-button" onclick="createTaxAccountantContact();">Add Tax Accountant</button>
  </div>

  <%= render partial: 'tutorials/buttons_section' %>
</div>

<%= render partial: 'contacts/ajax_form', style: 'display: none;' %>

<script>
  var createTaxAccountantContact = function() {
    window.tableIdToUpdate = '#tax-accountant-table'
    setProfessionalDropdown(['Advisor'])
    setRelationshipDropdown(['Accountant'])
    displayContactFormModal();
  }
</script>
