<div class="card trusts details mb-30">
  <div>
    <h2 class="trust-title">The Mars Family Trust</h2>
    <a class="trust-view-edit-link">View/Edit Financial Details</a>
  </div>
  <div class="wtl-card-info details">
  	<div class = "will-left-info">
	  <div class = "will-card-field">
	    <label class="title">Trustees</label>
		<div class="will-field">
		  <span class="will-field-value">BJ Mars</span>
		</div>
	  </div>
	  <div class = "will-card-field bottom-fields">
		<label class="title">Successor Trustees</label>
		<div class="will-field">
		  <span class="will-field-value">Clindy Mars</span>
		</div>
	  </div>
	  <div class = "will-card-field bottom-fields">
        <label class="title">Shared With</label>
		<div class="will-field">
		  <span class="user-circle">PC</span>
          <span class="user-circle">BM</span>
		</div>
	  </div>
	</div>
	<div class = "will-right-info">
	  <div class = "will-card-field">
		<label class="title">Trust Advisor</label>
        <span class="will-field will-field-value">Phil Collins</span>
		<a class="will-field will-field-email">pcollins@drums.com</a>
		<span class="will-field will-field-phone">555-231-6754</span>
	  </div>
	</div>
  </div>
</div>

<div class="card trusts details mb-30">
  <div>
    <h2 class="trust-title">The Mars Charity Trust</h2>
    <a class="trust-view-edit-link">View/Edit Financial Details</a>
  </div>
  <div class="wtl-card-info details">
  	<div class = "will-left-info">
	  <div class = "will-card-field">
	    <label class="title">Trustees</label>
		<div class="will-field">
		  <span class="will-field-value">Habitat for Humanity</span>
		</div>
        <div class="will-field">
		  <span class="will-field-value">The Red Cross</span>
		</div>
        <div class="will-field">
		  <span class="will-field-value">The Highwater Foundation</span>
		</div>
	  </div>
	  <div class = "will-card-field bottom-fields">
        <label class="title">Shared With</label>
		<div class="will-field">
		  <span class="user-circle">PC</span>
		</div>
	  </div>
	</div>
	<div class = "will-right-info">
	  <div class = "will-card-field">
		<label class="title">Trust Advisor</label>
        <span class="will-field will-field-value">Phil Collins</span>
		<a class="will-field will-field-email">pcollins@drums.com</a>
		<span class="will-field will-field-phone">555-231-6754</span>
	  </div>
	</div>
  </div>
</div>
