// Load url helpers from routes
"<% url_helpers = Rails.application.routes.url_helpers %>"

/**
 * This component handles dinamic fields on tutorials.
 * To reuse it you need to put tutorial-fields class inside the form's elements.
 * Example in page_1 partial in tutorials/home/ folder.
 */
var DinamicTutorialField = function(params, path) {
  this.params = params;
  this.submitURL = path;
  this.fields = '.tutorial-fields';
  this.addBtn = '.tutorial-fields .add-another-btn';
  this.savedClass = '.saved-field';
  this.addAnotherBtnListener();
};

DinamicTutorialField.prototype.addRow = function($btn) {
  if (this.fieldIsEmpty($btn)) {
    var html = $btn.closest(this.fields).clone();
    $btn.closest(this.fields).after(html);
    html.find('input.repeated-field').focus().val('');
    $btn.after(this.addRemoveBtn());
    $btn.remove();
  } else {
    this.showLittleError($btn);
  }
};

DinamicTutorialField.prototype.fieldIsEmpty = function($btn) {
  return $btn.siblings('input.repeated-field').val() != '';
};

DinamicTutorialField.prototype.showLittleError = function($btn) {
  $btn.siblings('input.repeated-field').addClass('input-error');
  setTimeout(function() {
    $btn.siblings('input.repeated-field').removeClass('input-error');
  }, 1000);
};

DinamicTutorialField.prototype.addRemoveBtn = function() {
  var $btn = $('<a class="medium-button outline-button inline-button">Remove</a>');
  this.removeBtnListener($btn);
  return $btn;
};

DinamicTutorialField.prototype.removeBtnListener = function($btn) {
  var that = this;
  $btn.on('click', function() {
    $btn.closest(that.fields).remove();
  });
};

DinamicTutorialField.prototype.addAnotherBtnListener = function() {
  var that = this;
  $(document).on('click', this.addBtn, function() {
    var $btn = $(this);
    that.submit().success(function() {
      $btn.closest('input').addClass('saved-field');
      that.addRow($btn);
    }).error(function() {
      that.showLittleError($btn)
    });
  });
};

DinamicTutorialField.prototype.submit = function(button) {
  var that = this;

  return $.ajax({
    url: that.submitURL,
    type: "POST",
    data: $('.collect-fields input').not('.saved-field').serialize()
  })
}
$(document).on('ready', function() {
  if ($('.tutorial-fields').length) {
    var path = "<%= url_helpers.add_property_path %>";

    var tutorial = new DinamicTutorialField(path);
  }
});
