<% @contacts = Contact.for_user(current_user) %>
  <%= ff.hidden_field :id, id: "tax_id_#{index}" %>
  <div class="field">
    <label>Tax Preparer</label>
    <div class="chosen-styled-select">
      <%= ff.collection_select :tax_preparer_id,
        @contacts, :id, :name, {},
        { 'data-placeholder' => 'Add Contact...', class: "chosen-select", multiple: false, id: "tax_preparer_id_#{index}" }
      %>
    </div>
  </div>
  <div class="field">
    <label>Notes</label>
    <%= ff.text_area :notes, id: "tax_notes_id_#{index}" %>
  </div>
  <div class="field shared-field bt-gray-light bb-gray-light wtl-shared-with">
    <label>Shared With</label>
    <span class="shared-with-block">
      <h2 class="shared-with-title">Shared With</h2>
      <svg class="icon icon-Safe share-with-icon" viewBox="0 0 20 20">
        <use xlink:href="#icon-Safe"></use>
      </svg>
    </span>
    <div class="chosen-styled-select">
      <%= ff.collection_select :share_with_contact_ids,
        @contacts, :id, :name, {},
        { 'data-placeholder' => 'Choose Contacts...', class: "chosen-select", multiple: true, id: "tax_share_id_#{index}" }
      %>
    </div>
  </div>

<script>
  changeIdAndName = function($form, old_id, new_id, new_name){
    $form.find("#" + old_id).attr({
      id: new_id,
      name: new_name,
      value: ""
    });
    $form.find("#" + new_id + " option").prop("selected", false);
  };

  clearForm = function($newWtlForm, old_id, new_id) {
    new_tax_name = "tax_year_info[tax_" + new_id + "]";

    changeIdAndName($newWtlForm, "tax_id_" + old_id,
      "tax_id_" + new_id, new_tax_name + "[id]")

    changeIdAndName($newWtlForm, "tax_preparer_id_" + old_id,
      "tax_preparer_id_" + new_id, new_tax_name + "[tax_preparer_id]")

    changeIdAndName($newWtlForm, "tax_notes_id_" + old_id,
      "tax_notes_id_" + new_id, new_tax_name + "[notes]")

    changeIdAndName($newWtlForm, "tax_share_id_" + old_id,
      "tax_share_id_" + new_id, new_tax_name + "[share_with_contact_ids][]")
  }
</script>
