<h1>Taxes</h1>
<section class="flex-boxes">
  <% 2016.downto(2010) do |year| %>
    <div class="flex-column">
      <%= render :partial => 'tax_card', :locals => {:year => year} %>
    </div>
  <% end %>
</section>

<a class="add-link fr" href="<%= new_document_path(:category => @category) %>">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Document
</a>
<h2>Tax Documents</h2>

<%= render :partial => "layouts/standard_document_table", :locals => {:documents => @documents} %>

<script>

$(function() {

  $('.flex-boxes').masonry({
    columnWidth: '.flex-column',
    gutter: 20,
    percentPosition: true,
    itemSelector: '.flex-column'
  });

});

</script>
