@import "neat-helpers"; // or 'neat-helpers' when in Rails

// Change the grid settings
$column: 100px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 100%;

// Define your breakpoints
$twelvesixty: new-breakpoint(max-width 1260px 12);
$teneighty: new-breakpoint(max-width 1080px 12);
$ninesixty: new-breakpoint(max-width 960px 12);
$eightfifty: new-breakpoint(max-width 850px 12);
$tablet: new-breakpoint(max-width 800px 12);
$mobile: new-breakpoint(max-width 660px 12);

// Height based media queries
$nav-height: new-breakpoint(min-height 535px);
$nav-height-free: new-breakpoint(min-height 545px);
$nav-height-corporate: new-breakpoint(min-height 565px);