// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question-select{
  select{
    text-overflow: ellipsis;
    padding-right: 40px;
    overflow: hidden;
    white-space: no-wrap;
    -moz-appearance: none;
    width: $form-width;
  }
}
