$edit-button-margin-top: 13px;
$cards-margin: 12px;

.card{
  background: white;
  border-radius: 5px;
  border: 1px solid  $color-gray-light-shaded;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor:pointer;
  word-wrap: break-word;
  &.details.insurance, &.details.wtl {
    padding: 0;
  }

  &:hover {
    // border: 1px solid  $color-link-blue;
    // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  }
}

.cg-1,
.card.life,
.card.wills{
  border-left: 10px solid $color-card-1;
  margin-right: $cards-margin;
}

.cg-2,
.card.property,
.card.trusts{
  border-left: 10px solid $color-card-2;
  margin-right: $cards-margin / 2;
  margin-left: $cards-margin / 2;
  &.details {
    margin: 0 30px 30px 0;
  }
}

.cg-3,
.card.health,
.card.attorney{
  border-left: 10px solid $color-card-3;
  margin-left: $cards-margin;
  &.details {
    margin: 0 30px 30px 0;
  }
}

.card.login-card{
  margin: 100px auto;
  max-width: 400px;
}

.wtl-card-info{
  padding: 10px;
  padding-left: 5px;

  .wtl-start-button{
    float: right;
  }
  .percent-complete{
    float: left;
  }
}

.edit-link{
  float: right;
  margin-top: $edit-button-margin-top;
  text-decoration: none;
}

.details-card-info {
  padding: 10px;
  padding-left: 5px;
  &.details {
    overflow: auto;
    padding-top: 5px;
  }
  .details-left-info{
    float: left;
    width: 40%;
  }
  .details-right-info{
    float: left;
    width: 60%;
  }
  .provider-details-title, {
      margin-top: 20px;
      float: right;
   }
  .details-card-field {
     margin-top: 20px;
     &.details-notes {
       width: 60%;
     }
    .title {
      text-transform: uppercase;
      font-weight: 700;
    }
    &.bottom-fields{
      margin-top: 20px;
    }
    &.shared {
      padding-left: 15px;
      margin-top: 0;
    }
  }
  .details-field {
    display: block;
    margin: 2px 0;
    width: 60%;
    .user-circle {
      background: white;
    }
    .percent-value{
      float: right;
    }
  }
}
.wtl-card-info {
  padding: 10px;
  padding-left: 5px;

  .wtl-start-button{
    float: right;
  }
}
.details-wrapper {
  &.wtl {
    padding-bottom: 0;
  }
  padding: 15px;
  padding-top: 0;
  .add-document-field {
    margin: 0 0;
  }
  .percent-complete{
    float: left;
  }
}

.edit-link-wtl{
  float: right;
}

.clear {
  clear: right;
  display: block;
}

.shared-field {
  background-color: $color-primary-light;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  overflow: visible;
  .share-with-icon {
    float: right;
    opacity: 0.7;
  }
  .shared-with-title {
    float: right;
    padding-right: 30px;
    color: $color-primary;
    padding-bottom: 20px;
  }
  .shared-with-block {
    .icon-Safe {
      font-size: 38px;
      color: $color-primary;
      margin: 2px 12px 0 0;
      opacity: 1;
    }
  }
  &.details-bottom {
    margin-top: 0;
  }
  &.insurance-shared-with {
    padding-bottom: 20px;
  }
}

.field.shared-field.wtl-shared-with {
  padding-bottom: 20px;
}
