$edit-button-margin-top: 13px;
$cards-margin: 12px;

.card{
  background: white;
  border-radius: 5px;
  border: 1px solid  $color-gray-light-shaded;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor:pointer;
  word-wrap: break-word;
}

.cg-1,
.card.life,
.card.wills{
  border-left: 10px solid $color-card-1;
  margin-right: $cards-margin;
}

.cg-2,
.card.property,
.card.trusts{
  border-left: 10px solid $color-card-2;
  margin-right: $cards-margin / 2;
  margin-left: $cards-margin / 2;
  &.details {
    margin: 0 30px 30px 0;
  }
}

.cg-3,
.card.health,
.card.attorney{
  border-left: 10px solid $color-card-3;
  margin-left: $cards-margin;
  &.details {
    margin: 0 30px 30px 0;
  }
}

.card.login-card{
  margin: 100px auto;
  max-width: 400px;
}

.wtl-card-info{
  padding: 10px;
  padding-left: 5px;

  .wtl-start-button{
    float: right;
  }
  .percent-complete{
    float: left;
  }
}

.edit-link{
  float: right;
  margin-top: $edit-button-margin-top;
  text-decoration: none;
}

.wtl-card-info{
  padding: 10px;
  padding-left: 5px;

  .wtl-start-button{
    float: right;
  }
  .percent-complete{
    float: left;
  }
}

.edit-link-wtl{
  float: right;
}
