.highcharts-container {
    width:100% !important;
    height:100% !important;
}
.pie-chart{
  width: 35%;
  height: 300px;
  display: inline-block;
  position: relative;

  @include media($teneighty) {
    width: 29.4%;
    height: 220px;
    margin-top: 50px;
  }
    
  @include media($ninesixty) {
    height: 300px;
    width: 100%;
  }
}
.pie-legend{
  height: auto;
  width: 25%;
  min-width: 200px;
  display: inline-block;
  float: right;

  h4{
    color: $color-gray-med-shaded;
    font-size: 20px;
  }
  .data-right{
    margin-top: 4px;
  }
    
  @include media($ninesixty) {
    width: 100%;
    float: none;
  }
}
.sum-line{
  height: 1px;
  background: $color-gray-light;
  margin: 4px 0 6px;
  &.no-margin {
    margin: 0;
  }
}


.highcharts-credits{
  display:none;
}
