$chosen-sprite: asset-url('chosen-sprite.svg') !default;
$chosen-sprite-retina: asset-url('chosen-sprite@2x.svg') !default;

$arrow-dropdown-margin-right: 30px;

.chosen-select {
  @include chosen-dropdown-default;
  @include form-width;
}

.chosen-styled-select{
  margin-bottom: 10px;
  &.min-h-30 {
    input[type="text"] {
      min-height: 30px !important;
    }
  }
  &.w-290 {
    @include chosen-width(290px)
  }
  &.w-270 {
    @include chosen-width(270px)
  }
  &.min-w-240 {
    @include chosen-min-width(240px)
  }
}

.chosen-container-multi .chosen-choices li.search-field input[type=text]{
  font-family: "Open Sans", serif;
}

.chosen-container-single {
  .chosen-single {
    @include chosen-dropdown-default;
    @include form-width;

    span {
      padding-left: 5px;
      padding-top: 2px
    }
    div b{
      visibility: hidden;
    }
    abbr {
      top: 10px !important;
      right: 35px !important;
      background: asset-url('chosen-sprite.svg') -42px 1px no-repeat !important;
      font-size: 1px;
    }
  }
}

.chosen-container-single.chosen-container-active .chosen-single,
.chosen-container-active .chosen-choices{
  border-radius: 5px 5px 0 0 !important;
}

.chosen-choices {
    border: 1px solid $color-gray-med-tinted !important;
    border-radius: 5px !important;
    min-height: 32px !important;
    padding: 0 !important;
    background: white asset-url('SVG/select-drop-down.svg') no-repeat right !important;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: normal;
    padding-left: 5px !important;
    cursor: pointer !important;
    @include form-width;
  
  &.input-error{
    border-color: $color-alert !important;
    background-color: $color-alert-ligth !important;
  }
}
.chosen-drop {
   font-weight: normal;
   font-family: "Open Sans", serif;
   font-size: 16px;
}
.chosen-container-single .chosen-drop{
  border-top: 1px solid $color-gray-med-tinted !important;
}

//SET WIDTH
.chosen-container-multi,
.chosen-container-multi .chosen-choices,
.chosen-container .chosen-drop{
  @include form-width;
}

//CHOSEN SPRITE
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: asset-url('chosen-sprite.svg') -42px 1px no-repeat !important;
}
.chosen-container-single .chosen-single abbr:hover,
.chosen-container-single.chosen-disabled .chosen-single abbr:hover,
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background: asset-url('chosen-sprite.svg') -42px -10px no-repeat !important;
}

//Search-results
.chosen-container .chosen-drop .chosen-results li.highlighted{
  background-color: $color-primary-shaded;
  background-image: linear-gradient($color-primary-shaded, $color-primary-shaded);
}

//Search in single select
.chosen-container-single .chosen-search input[type="text"] {
  background: transparent asset-url('SVG/search.svg')no-repeat 4px 7px !important;
  padding-left: 20px;
}

//Multi-select selected contacts
.chosen-container-multi .chosen-choices li.search-choice{
  border: 1px solid $color-gray-light-shaded;
  background-color:  $color-off-white-shaded;
  background-image: linear-gradient( $color-off-white-shaded,  $color-off-white-shaded);
  width: 85%;
  display: inline-block;
  float: none;
  line-height: 16px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
  top: 6px;
}

//Search in multi select
.chosen-container-multi .chosen-choices li{
  float:right;
}
.chosen-container-multi .chosen-choices li.search-field:first-child{
  float:left;
}
.chosen-container-multi.chosen-container-active .chosen-choices li{
  display: block;
  float: none;
}
.chosen-container-multi .chosen-choices li.search-field input:focus{
  background: transparent asset-url('SVG/search.svg')no-repeat 0 7px !important;
  padding-left: 16px;
}

//CREATE NEW
.chosen-container .chosen-results{
  max-height: 150px;
  padding: 0;
}
.chosen-container .chosen-results li.create-new{
  border-bottom: 1px solid $color-gray-light;
  background:  $color-off-white-shaded-more;
  padding: 8px 6px 7px 25px;

  &.highlighted {
    border-bottom: 1px solid $color-gray-light;
    background: $color-off-white-shaded-more;
    background-color: $color-off-white-shaded-more;
    color: $color-gray-dark;
  }

  &::before{
    content:"";
    background: transparent asset-url('SVG/add-contact.svg') no-repeat 0 0px;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 5px;
  }

  &:hover{
    color: white;
    background: $color-gray-dark-tinted;
    opacity: .8;
  }
}
