// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$contact-avatar-size: 30px;
$avatar-circle-border: 1px;
$common-font-size: 10px;
$zipcode-width: 80px;
$state-width: 210px;

.contact-avatar-td {
  width: $contact-avatar-size;
}
.contact-avatar-wrapper-size {
  height: $contact-avatar-size;
  line-height: 26px;
  width: $contact-avatar-size;
  border-radius: 52px;
  overflow: hidden;
  display: inline-block;
}
.contact-avatar-wrapper-size img {
  width: 100%;
  height: $contact-avatar-size;
  font-size: 10px;
}
.inline-block {
  display: inline-block;
}
.text-vertical-center {
  vertical-align: middle;
}

.contact-element-name {
  font-family: "Helvetica Neue", sans-serif;
  font-size: $common-font-size;
  font-weight: bold;
  display: block;
  color: #696969;
  text-transform: uppercase;
}

.back-link {
  text-decoration: none;
}

.contact-user-name {
  display: inline; 
}

.contact-header-info, .contact-body-info {
  height: 30em;
  overflow: hidden;
  text-align: justify;
  background: white;
  border-radius: 5px;
  border: 1px solid  $color-gray-light-shaded;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor:pointer;
  word-wrap: break-word;
  height: auto;
  margin-bottom: 30px;
}

.contact-element-value {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.contact-element-title {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  .user-circle {
    background-color: white;
    position: relative;
    top: -5px;
  }

  .edit-link-contact {
    margin-top: 5px;
    float: right;
  }
}

#left-contact-info {
  width: 30%;
  float: left;
  display: inline-block;
}

#right-contact-info {
  width: 70%;
  float: left;
  display: inline-block;
}

.contact-element {
  margin-bottom: 10px;
  display: block;
}

.notes {
  width: 90%;
}

table {
  table-layout: auto;
  td {
    white-space: nowrap;
  }
  td.details-col {
    & > a {
      text-decoration: none;
    }
  }
  td:last-child {
    width: 1%;
  }
}

table.share-with-contact {
  table-layout: auto;
  td {
    white-space: nowrap;
  }
  width: 100%;
  td.document-name-big {
    width: 60%;
  }
  td.contact-tag-right {
    text-align: right;
  }
  td:last-child {
    width: 10%;
  }
}

.contact-profile {
  .styled-select {
    background: white asset-data-url('SVG/select-drop-down.svg') no-repeat right;
  }

  .zipcode-field {
    .zipcode-text {
      .zipcode {
        input[type=text] {
          width: $zipcode-width;
          height: 32px;
        }
      }
    }
    display: inline-block;
    float:left;
    margin-right: 10px;
  }
  
  .state-select {
    display: inline-block;
    float:left;
    .state {
      &.styled-select {
        width: $state-width;
      }
      select {
        width: $state-width + $gu;
      }
    }
  }
        
  .field.address-field:after {
    content: "";
    display: table;
    clear: left;
    white-space: nowrap;
  }
  
  .bottom-field {
    margin-top: 0;
  }
}