$avatar-circle-radius: 30px;

.doc-tag{
  font-size: 12px;
  color: $color-white;
  background:$color-primary-shaded;
  margin-right: 5px;
  border-radius: 5px;
  padding: 2px 5px;
}
.secondary-tag{
  background:$color-primary;
}
.user-circle{
  text-transform: uppercase;
  color: $color-gray-med;
  border-radius: 50%;
  border: 1px solid $color-gray-med;
  width: $avatar-circle-radius;
  height: $avatar-circle-radius;
  padding-top: 5px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  line-height: 17px
}

.undo-link-style{
  text-decoration: none !important;
  color: #000 !important;
}

.flex-column a.whole-card-link {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.add-details-link {
  position: relative;
  z-index: 1000;
}

//
// .doc-details {
//     width: 50%;
// //    border-right: 1px solid rgb(211, 211, 211);
// //    padding: 2px 0px 0px 21px;
//     display: inline-block;
// }
// .share-details{
//     display: inline-block;
// }
// .doc-details div{
//   display:inline-block;
// }
// .button-block {
//     border-top: 1px solid rgb(211, 211, 211);
//     padding: 9px 0px 0px 23px;
// }
