.doc-tag{
  font-size: 12px;
  color: white;
  background:$color-primary-shaded;
  margin-right: 5px;
  border-radius: 5px;
  padding: 2px 5px;
}
.secondary-tag{
  background:$color-primary;
}
.user-circle{
  text-transform: uppercase;
  color:white;
  background:$color-primary-shaded;
  border-radius: 20px;
  padding:5px;
  font-size: 13px;
  font-weight: 600;
}


.flash{
    position: absolute;
    top: 33px;
    margin: 0 auto;
    width: 300px;
    right: 50%;
    left: 50%;
    border: 1px solid $color-gray-med;
    border-radius: 5px;
}


$base-spacing: 1.5em !default;
$flashes: (
  "alert": #fff6bf,
  "error": #fbe3e4,
  "notice": #e5edf8,
  "success": #e6efc2,
) !default;

@each $flash-type, $color in $flashes {
  .flash-#{$flash-type} {
    background-color: $color;
    color: shade($color, 60%);
    display: block;
    margin-bottom: $base-spacing / 2;
    padding: $base-spacing / 2;
    text-align: center;

    a {
      color: shade($color, 70%);
      text-decoration: underline;

      &:focus,
      &:hover {
        color: shade($color, 90%);
      }
    }
  }
}
