.doc-tag{
  font-size: 12px;
  color: $color-white;
  background:$color-primary-shaded;
  margin-right: 5px;
  border-radius: 5px;
  padding: 2px 5px;
}
.secondary-tag{
  background:$color-primary;
}
.user-circle{
  text-transform: uppercase;
  color: $color-gray-med;
  border-radius: 20px;
  border: 1px solid $color-gray-med;
  padding:5px;
  font-size: 13px;
  font-weight: 600;
}
.undo-link-style{
  text-decoration: none !important;
  color: #000 !important;
}

//
// .doc-details {
//     width: 50%;
// //    border-right: 1px solid rgb(211, 211, 211);
// //    padding: 2px 0px 0px 21px;
//     display: inline-block;
// }
// .share-details{
//     display: inline-block;
// }
// .doc-details div{
//   display:inline-block;
// }
// .button-block {
//     border-top: 1px solid rgb(211, 211, 211);
//     padding: 9px 0px 0px 23px;
// }
