.flex-boxes {
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}
.flex-box {
  width: 50%;

  &:first-child{
    margin-right: $gu;
  }
}
.flex-33{
  width: 33%;
}

.flex-box-big {
  flex: 1 1 40em;
}
