.flex-column{
  width: 32%;

  @include media($twelvesixty) {
    width: 31%;
  }
  @include media($teneighty) {
    width: 48%;
  }
  @include media($eightfifty) {
    width: 100%;
    min-width: 275px;
  }
}
.column-card{
  margin-bottom: 20px;
}

.flex-boxes {
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100.3%;

  &.percent-100 {
    width: 100% !important;
  }

  &.justify-center {
    justify-content: center;
    padding-left: 0;
    padding-right: 20px;
  }
  @include media($twelvesixty) {
    &.padding-right {
      padding-right: 15px;
    }
    width: 102%;
  }
  @include media($teneighty) {
    width: 101%;
    &.padding-right {
      padding-right: 10px;
    }
  }
  @include media($eightfifty) {
    width: 100%;
    &.padding-right {
      padding-right: 0;
    }
  }
}

//TUTORIAL BUTTONS
.flex-button{
  position: relative;
  @include display(flex);
  flex-direction: row;
  justify-content: flex-end;

  .f-left{
    display: flex;
    margin-right: auto;
    align-self: flex-start;
  }
  .f-right{
    align-self: flex-end;
    margin: 0 0 0 15px;
  }

}


//IE EDGE TUTORIAL
//@supports (-ms-ime-align:auto) {
  .multiple-edge-label {
    min-width: 285px !important;
    max-width: 285px !important;
    @include media($tablet) {
      min-width: 250px !important;
      max-width: 250px !important;
    }
  }
  .multiple-edge {
    input[type="text"] {
      max-width: 270px;
    }
    .chosen-styled-select{
      @include chosen-width(290px)
    }
    @include media($tablet) {
      input[type="text"] {
        max-width: 240px !important;
      }
      .chosen-styled-select{
        @include chosen-width(250px !important)
      }
    }
    @include media($mobile) {
      input[type="text"] {
        max-width: 100% !important;
      }
    }
  }
//}


//TUTORIAL INPUT PAIRS
.input-pair{
  @include display(flex);
  flex-direction: row;
  max-width: 500px;

  &.wide {
    max-width: 800px;
    
    @supports (-ms-ime-align:auto) {
      input[type="text"] {
        max-width: 270px;
        @include media($mobile) {
          max-width: 100% !important;
        }
      }
    }
    
    @include media($mobile) {
      flex-direction: column;
      .styled-select {
        margin-left: 0 !important;
      }
      .chosen-styled-select {
        margin-left: 0 !important;
      }
      .inline-button {
        flex: none !important;
        max-width: 100px;
        margin-left: 0;
        &.remove-btn {
          margin-bottom: 30px;
        }
      }
      &:not(.add-tutorial) {
        border-bottom: 1px dashed $color-gray-med-shaded;
        margin-bottom: 30px;
      }
    }
  }
  .inline-input{
    flex: 70%;
  }
  .inline-button{
    flex: 30%;
    margin-left: 10px;
    margin-right: 0;
    text-align: center;
    padding: 0;
    height: 34px;
    line-height: 34px;
  }
}

//Marketing settings
.flex-marketing{
  flex: 20%;
  margin: 0 2% 2% 0;

 &.copyright{
   flex: 32%;
   margin: 0 2% 2% 0;
 }
  @include media($mobile) {
    flex: 100%;
    margin: 0 0 2%;
  }
}

//Account Setup Settings
.flex-account-setup{
  background: $color-white;
  flex: 33%;
  padding: 0 15px 15px 15px;

  img {
    max-width: 80px;
    margin-top: 15px;
  }

  @include media($ninesixty) {
    flex: 100%;
    margin: 0 0 2%;
    &:nth-of-type(1) { order: 2; }
    &:nth-of-type(2) { order: 1; }
    &:nth-of-type(3) { order: 3; }
  }

  @include media($mobile) {
    img {
      margin-left: 3px;
    }
  }

  h4, h5 {
    position: absolute;
    top: 38%;
  }
  li {
    margin-bottom: 10px;
  }

  &.recommended-setup {
    border: 2px solid $color-primary;
    color: $color-black;
    padding-left: 10px;
  }

  &.recommended-setup:before {
    content: "RECOMMENDED";
    color: $color-white;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    display: block;
    margin-top: -50px;
    margin-left: -12px;
    width: calc(100% + 29px);
    height: 50px;
    line-height: 50px;
    background: $color-primary;
  }
}

//Trial Ended
.flex-trial {
  flex: 33%;
  padding: 0 15px 15px 25px;
  position: relative;
  .membership-stats {
    padding-left: 35px;
  }
  .flex-footer {
    margin-bottom: 15px;
  }
  @include media($teneighty) {
    img {
      width: 50%;
      margin-left: 0 !important;
      margin-bottom: 0 !important;
      margin-top: 15px;
    }
    position: static !important;
    flex: 100%;
    .flex-footer {
      margin-top: 30px;
      margin-bottom: 0;
      position: static !important;
    }
    a.button {
      display: inline-block;
      position: static !important;
      margin-bottom: 15px;
    }
    .membership-stats {
      padding: 0;
    }
  }

  .flex-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    a.button {
      position: relative;
      bottom: 20px;
    }
  }
}

//Dashboard settings
.board-name{
  flex:40%;
  @include media($teneighty) {
    flex:100%;
  }
  &.trial {
    flex: 40%;
    @include media($teneighty) {
      margin-bottom: 15px;
      flex:100%;
    }
    @include media($mobile) {
      padding-left: 0;
      max-width: 330px;
      margin: 0 auto !important;
    }
  }
  &.onboarding {
    flex: 30%;
    @include media($teneighty) {
      margin-bottom: 15px;
      flex: 100%;
    }
    @include media($mobile) {
      padding-left: 0;
      max-width: 220px;
      margin: 0 auto;
    }
  }
}

.board-text{
  flex:40%;
  padding-top: 12px;
  @include media($teneighty) {
    border-top: 1px solid $color-gray-light;
    flex:70%;
    padding-bottom: 12px;
  }
  @include media($mobile) {
    border-top: 1px solid $color-gray-light;
    flex:55%;
    padding-bottom: 12px;
  }
  &.trial {
   flex: 43%;
   padding-top: 19px;
   @include media($teneighty) {
     flex: 60%;
   }
   @include media($mobile) {
     flex: 100%;
     border-top: none;
     text-align: center;
   }
 }
  &.onboarding {
    flex: 45%;
    padding-top: 19px;
    @include media($teneighty) {
      flex: 60%;
    }
    @include media($mobile) {
      flex: 100%;
      border-top: none;
      text-align: center;
    }
  }
}
.board-link{
  flex: 10%;
  text-align:right;
  padding-top: 10px;
  @include media($teneighty) {
    border-top: 1px solid $color-gray-light;
    flex:30%;
    padding-bottom: 12px;
  }
  @include media($mobile) {
    border-top: 1px solid $color-gray-light;
    flex:45%;
    padding-bottom: 12px;
  }
  &.trial {
   flex: 10%;
   @include media($teneighty) {
     flex: 40%;
   }
   @include media($mobile) {
     flex: 100%;
     padding-top: 15px;
     padding-bottom: 0;
     border-top: none;
     max-width: 97px;
     margin: 0 auto;
   }
 }
  &.onboarding {
    flex: 25%;
    @include media($teneighty) {
      flex: 40%;
    }
    @include media($mobile) {
      flex: 100%;
      padding-top: 15px;
      padding-bottom: 0;
      border-top: none;
      max-width: 170px;
      margin: 0 auto;
    }
  }
}

.board-sub-title{
  display:block;
  padding-top:12px;
  @include media($teneighty) {
    display: none;
  }
}
.board-border{
  border-top: 1px solid $color-gray-light;
  margin-top: 10px;
  @include media($teneighty) {
    border-top: 0px solid $color-gray-light;
  }
}

//Shared view Dashboard

.shared-boxes{
  border-top: 1px solid $color-gray-light;
  padding: 5px 0;
  margin-top: 5px;

  &:first-child{
    border-top: 0px solid $color-gray-light;
    padding-top: 0;
    margin-top: 0;
  }
  &:last-child{
    padding-bottom: 0;
  }
}
.shared-name{
  flex: 85%;
  h4{
    margin-bottom: 0;
  }
  @include media($teneighty) {
    flex:80%;
  }
}
.shared-link{
  flex: 15%;
  text-align:right;
  padding-top: 5px;
  @include media($teneighty) {
    border-top: 1px solid $color-gray-light;
    flex:20%;
    padding-bottom: 12px;
    margin-right: 1px;
  }
}

// User Account Card
.flex-boxes {
  &.bb-gray-light-padding {
    border-bottom: 1px solid $color-gray-light;
    @include media($mobile) {
      padding-bottom: 20px;
    }
    &.user-account-link {
      margin-bottom: 0;
    }
  }
}

.user-account-title {
  flex: 70%;
  @include media($mobile) {
    flex: 100%;
  }
}

.user-account-link {
  flex: 30%;
  text-align: right;
  @include media($mobile) {
    flex: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}