html{
  font-family: Open Sans, serif;
}
h1, h2, h3, h4, h5{
  font-weight: 300;
  margin: 0 0 10px;
  color: $color-primary-shaded;
}
h1{
  font-size: 2em;
}
h2{
  font-size:1.8em;
}
h3{
  font-size:1.6em;
}
h4{
  font-size:1.4em;
}
h5{
  font-size:1.2em;
}
p{
  max-width: 800px;
  padding: 0;
  margin: 0 0 1em;
}
.small-text{
  font-size: .75em;
}
a, a:visited{
  color: $color-link-blue;
  cursor: pointer;

  &:hover{
    text-decoration: underline;
  }
}
ol {
  counter-reset: item;
  -webkit-padding-start: 20px;
}
ol li {
  display: block;

  &:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
    margin-right: 10px;
  }
}
.phone-type, .optional{
  padding-left: 10px;
  color: $color-gray-med;
}
.nowrap{
  white-space: nowrap;
}
