input,
textarea{
  border: 1px solid $color-gray-med-tinted;
  border-radius: 5px;
  display:block;
  margin-bottom: 10px;
  padding: 5px;
  width: $form-width;
  -webkit-appearance: none;
}

.styled-select{
  border: 1px solid $color-gray-med-tinted;
  border-radius: 5px;
  background: white asset-data-url('SVG/select-drop-down.svg') no-repeat 269px center;
  height: 32px;
  overflow: hidden;
  width: $form-width;
  padding: 0;
}

select{
  background: transparent;
  border: none;
  height: 30px;
  padding: 5px;
  width: $form-width + $gu;
  box-shadow: none;
  -webkit-appearance: none;
}

label{
  color: $color-gray-dark-tinted;
}

//BUTTONS

button{
  cursor: pointer;
  border:0;
  border-radius: 5px;
  color: white;
  text-shadow: .5px 1px rgba(0,0,0,.25);
  box-shadow: .5px 1px 3px rgba(0,0,0,.25);
  margin: 0 10px 0 0;

  &:hover{
    opacity: .8;
    box-shadow: none;
  }
}

.big-button{
  font-size: 14px;
  padding: 10px;
}

.small-button{
  font-size: 12px;
  padding: 5px;
}

.primary-button{
  background: $button-primary;
}

.secondary-button{
  background: $button-secondary;
}

.outline-button{
  background: transparent;
  border: 1px solid $color-gray-med-tinted;
  color: $color-gray-med;
  text-shadow: none;
  box-shadow: none;

  &:hover{
    opacity: 1;
    color: $color-link-blue;
    border: 1px solid $color-link-blue;
  }
}

.add-link{
  text-decoration: none;
}

.circle-button{
  background:$color-primary-shaded;
  border-radius: 40px;
  padding: 7px 6px 5px 10px;
  width: 30px;
  height: 30px;
  box-shadow: $drop-shadow;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

//ERRORS & STATE
.error-label{
  color: $color-alert;
  font-size: 12px;
}

.input-error{
  border-color: $color-alert;
  background: #fff3f5;
}

.form-hidden{
  display: none;
}

.form-disabled{
  opacity: 0.5;
}

//RADIO BUTTONS & CHECKBOXES

ul.radio-list,
ul.check-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

li.radio-list,
li.check-list{
  display: block;
  position: relative;
  width: 100%;
  height: 20px;
}

li.radio-list input[type=radio]{
  position: absolute;
  visibility: hidden;
}

li.radio-list label{
  display: block;

  position: relative;
  padding: 0 0 0 25px;
  margin: 10px auto 10px 3px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.25s linear;
}

li.radio-list:hover label{
//	color: #FFFFFF;
}

li.radio-list .check{
  display: block;
  position: absolute;
  border: 1px solid $color-gray-med-shaded;
  background: white;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 1px;
  left: 0px;
  z-index: 5;
	transition: border .25s linear;
}

li.radio-list:hover .check {
//  border: 2px solid #AAAAAA;
}

li.radio-list .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 3px;
  left: 3px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  //border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: $color-link-blue;
}

input[type=radio]:checked ~ label{
  //color: #0DFF92;
}



/*****************************************
  CHECKBOX
******************************************/
li.check-list{
  margin-bottom: 10px;

  label{
      cursor: pointer;
  }
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + span {
  background-color: white;
  border: 1px solid $color-gray-med-shaded;
  //box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  display: inline-block;
  float: left;
  margin-right: 10px;
  padding: 8px;
  position: relative;
  top: 2px;
  transition: border .25s linear;
  cursor: pointer;
}
input[type="checkbox"]:checked + span {
//  background: $color-link-blue;
  color: black;
}
input[type="checkbox"]:checked + span:after {
  color: black;
  content: asset-data-url('SVG/checkmark-2.svg');
  font-size: 24px;
  left: 2px;
  position: absolute;
  top: -13px;
}
label:hover input[type="checkbox"] + span {
//  border-color: #900 #f00 #f00 #900;
}
label:hover input[type="checkbox"]:checked + span {
//  border-color: #fff;
}
.hidden{
  display:none;
}
