input,
textarea{
  border: 1px solid $color-gray-med-tinted;
  border-radius: 5px;
  display:block;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  -webkit-appearance: none;
}

.styled-select{
  border: 1px solid $color-gray-med-tinted;
  border-radius: 5px;
  background: white asset-data-url('SVG/select-drop-down.svg') no-repeat 269px center;
  height: 32px;
  overflow: hidden;
  width: 300px;
  padding: 0;
}

select{
  background: transparent;
  border: none;
  height: 30px;
  padding: 5px;
  width: 320px;
  box-shadow: none;
  -webkit-appearance: none;
}

label{
  color: $color-gray-dark-tinted;
}

//BUTTONS

button{
  cursor: pointer;
  border:0;
  border-radius: 5px;
  color: white;
  text-shadow: .5px 1px rgba(0,0,0,.25);
  box-shadow: .5px 1px 3px rgba(0,0,0,.25);
  margin: 0 10px 0 0;

  &:hover{
    opacity: .8;
    box-shadow: none;
  }
}

.big-button{
  font-size: 14px;
  padding: 10px;
}

.small-button{
  font-size: 12px;
  padding: 5px;
}

.primary-button{
  background: $button-primary;
  margin-bottom: 20px;
}

.secondary-button{
  background: $button-secondary;
  margin-bottom: 20px;
}

.outline-button{
  background: transparent;
  border: 1px solid $color-gray-med-tinted;
  color: $color-gray-med;
  text-shadow: none;
  box-shadow: none;

  &:hover{
    opacity: 1;
    color: $color-link-blue;
    border: 1px solid $color-link-blue;
  }
}

.add-link{
  text-decoration: none;
}

.circle-button{
  background:$color-primary-shaded;
  border-radius: 40px;
  padding: 7px 6px 5px 10px;
  width: 30px;
  height: 30px;
  box-shadow: $drop-shadow;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

//ERRORS
.error-label{
  color: $color-alert;
  font-size: 12px;
}

.input-error{
  border-color: $color-alert;
  background: #fff3f5;
}
.form-hidden{
  display: none;
}
