html,
body,
nav,
main{
  height:100%;
}

body{
  @include outer-container;
  background: $color-gray-light-tinted;
  min-width: 320px;
}

header{
  background: white;
  padding: $bu $gu 5px;
  box-shadow: $drop-shadow;
  z-index: 100;
  position: relative;

  @include media($eightfifty) {
    padding: $bu 5px 5px $bu;
  }
}

.logo{
  margin:0;
}

.header-search{    //Currently commented out in _header.html.erb
  float: right;
  width: 200px;
}

.logout-link{
  float: right;
  color: $color-link-blue;
  margin-top: 10px;
}

.user-avatar {
  padding-top: 8px;
  color: #969696;

  @include media($mobile) {
    display:none;
  }

}

.login-link{
  float:right;
  color: $color-link-blue;
  margin: 10px 0 0;
  padding:0 20px;
  text-decoration: none;

  @include media($eightfifty) {
    padding-right: 0;
  }
}

//MARKEITNG NAVIGATION
nav.marketing-nav{
  float: right;
  margin-top: 10px;
  margin-right: 30px;

    @include media($eightfifty) {
      margin-right: 0;
    }
}
a.marketing-link{
  color: $color-primary-shaded !important;
  padding: 10px;
  text-decoration: none;
  @include media($mobile) {
    color: white !important;
  }
}
.close-link,
a.mobile-menu{
  display:none;
  border-bottom: none;

  @include media($mobile) {
    display:block;
  }
}

.menu-signup{
  display: block;
  @include media($eightfifty) {
    display:none;
  }

}

//MARKETING NAV MOBILE
.slide-nav{
  display: block;

  @include media($mobile) {
    position: absolute;
    right: 0;
    width: 200px;
    background: $color-primary-shaded;
    height: 1000px;
    margin-top: -10px;
    box-shadow: $drop-shadow;
    display:none;

    nav.marketing-nav{
      display:block;
      float:none;
      text-align: left;
      margin: 0;
      width: 100%;
    }


    .close-link,
    .menu-signup,
    .login-link,
    .marketing-nav a {
      display:block;
      float:none;
      text-align: left;
      margin: 0;
      width: 100%;
      padding: 15px 10px 15px 20px;
      color:  white;
      border-bottom: 1px solid $color-primary;
      border-radius: 0;

      &:hover{
        text-decoration:none;
        background: darken($color-primary-shaded,20%)
      }
    }

  }
}


//APPLICATION NAVIGATION
nav.primary-nav{
  width: 240px;
  float:left;
  background: #3B4A54;
  padding: $bu 0 0 0;
  position: fixed;
  display: block;

  @include media($mobile) {
    display:none;
    position: absolute;
    top: -10px;
    right: 0;
    z-index: 102;
    overflow-y:scroll;
  }
}

.mobile-app-menu{
  display:none;
  @include media($mobile) {
    display:block;
  }
}
.logout-link{
  display:block;
  @include media($mobile) {
    display:none;
  }
}

a.main-nav,
a:visited.main-nav{
  width: 100%;
  color: #C8C8C8;
  padding: $bu 0 $bu $gu;
  display:block;
  width:100%;
  cursor: pointer;
  text-decoration: none;

  &.active{
    background: #22303A;
  }
  &.active:hover,
  &:hover{
    background: #22303A;
    text-decoration: none;
    color: #C8C8C8;
  }

  &.close-primary-nav{
    padding: $bu $gu;
    background: #22303A;
    border-bottom: 1px solid black;
    display:none;
    @include media($mobile) {
      display:block;
    }
  }
}

.nav-icon{
  margin-right:10px;
  fill: $color-primary-light;
  vertical-align: middle;
  margin-top: -3px;
}
a.main-nav:hover .nav-icon{
  fill: $color-primary;
}

//LOGGED OUT
main.marketing{

  header{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .content{
    min-height: 100%;
    margin-top:60px;
  }
}

//LOGGED IN
main.app-nav{
  height: 100%;
  overflow:hidden;
  margin-left: 240px;

  .content{
    padding: 15px 25px 100px 25px;
    height:100%;
    overflow-y:scroll;

    @include media($eightfifty) {
      padding: 20px 20px 100px;
    }
  }
  @include media($mobile) {
    margin-left: 0 ;
  }

  //SCROLL TO BOTTOM FOR IE
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    @include bottom-scroll-margin
  }
  
  //SCROLL TO BOTTOM FOR FIREFOX
  @-moz-document url-prefix() {
    @include bottom-scroll-margin
  }
  
  //SCROLL TO BOTTOM FOR EDGE
  _:-ms-lang(x), _:-webkit-full-screen {
    @include bottom-scroll-margin
  }
}

//MARKETING FOOTER
body.logged-in{
  .marketing-footer{
    display:none;
  }
}
.marketing-footer{
  min-height: 200px;
  background: #255984;
  padding: 50px 0;

  @include media($teneighty) {
      padding: 50px 20px;
  }
}
.footer-inner{
  max-width: 1065px;
  margin: 0 auto;
}
.copyright{
  color:white;
}
a.footer-link{
  color:white !important;
  text-decoration: none;
}
.copyright{
  float:left;
  margin-right: 50px;

  @include media($mobile) {
      margin: 0 0 20px;
      float:none;
  }
}

//APP FOOOTER
body.logged-out{
  .app-footer{
    display:none;
  }
}
.app-footer{
  min-height: 200px;
  background: #255984;
  padding: 50px 0;

  @include media($teneighty) {
      padding: 50px 20px;
  }
}
