html,
body,
nav,
main{
  height:100%;
}

body{
  @include outer-container;
  background: $color-gray-light-tinted;
  min-width: 320px;
}

header{
  background: white;
  padding: $bu $gu 5px;
  box-shadow: $drop-shadow;
  z-index: 100;
  position: relative;

  @include media($ninesixty) {
    padding: $bu 5px 5px $bu;
  }
}

.logo{
  margin:0;
}

.header-search{    //Currently commented out in _header.html.erb
  float: right;
  width: 200px;
}
.user-avatar {
  padding-top: 8px;
  padding-right: 5px;
  color: $color-primary-shaded;

  @include media($tablet) {
    display:none;
  }

  &:after{
    content: "▼";
    position: relative;
    right: 0;
    top: -7px;
    font-size: 10px;
  }
}
.no-vatar{
  height: 16px;
  margin-top: 10px;
  display: block;
}
.user-menu{
  display:none;
  position: absolute;
  top: 55px;
  right: 10px;
  padding: 10px;
  border: 1px solid $color-primary-shaded;
  background:white;
  border-radius: 8px;
  box-shadow: 0 25px 40px -20px $color-gray-med-tinted;

  &::before {
    position: absolute;
    right: 5px;
    border: 8px solid transparent;
    color: white;
    font-size: .8em;
    margin-left: -8px;
    text-align: center;
    text-shadow: 0 -3px .01px $color-primary-shaded;
    content: "▲";
    top: -19px;
  }
}
a.user-nav,
a.user-nav:visited{
  display:block;
  width:100%;
  cursor: pointer;
  text-decoration: none;
  color: $color-primary-shaded;
  padding: 4px;

  &:hover{
    text-decoration:none;
    color: $color-primary;
  }
}

.login-link{
  float:right;
  font-size: 15px;
  color: $color-link-blue;
  margin: 10px 0 0;
  padding:0 20px;
  text-decoration: none;

  @include media($ninesixty) {
    padding:0 10px 0 5px;
  }

  @include media($eightfifty) {
    margin-top: 50px !important;
  }
}

//MARKEITNG NAVIGATION
nav.marketing-nav{
  float: right;
  margin-top: 9px;
  margin-right: 30px;

  @include media($teneighty) {
    margin-right: 0;
  }
}
a.marketing-link{
  color: $color-primary-shaded !important;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  @include media($teneighty) {
    padding: 10px 8px;
  }

  @include media($ninesixty) {
    padding: 10px 7px;
  }

  @include media($eightfifty) {
    color: white !important;
  }
}
.close-link,
a.mobile-menu{
  display:none;
  border-bottom: none;

  @include media($eightfifty) {
    display:block;
  }
}
.menu-signup{
  display: block;
  @include media($eightfifty) {
    display:none;
  }
}

//MARKETING NAV MOBILE
.slide-nav{
  display: block;
  
  @include media($eightfifty) {
    position: absolute;
    right: 0;
    width: 200px;
    background: $color-primary-shaded;
    height: 1000px;
    margin-top: -10px;
    box-shadow: $drop-shadow;
    display:none;
    overflow-y: scroll;

    nav.marketing-nav{
      display:block;
      float:none;
      text-align: left;
      margin: 0;
      width: 100%;
    }


    .close-link,
    .menu-signup,
    .login-link,
    .marketing-nav a {
      display:block;
      float:none;
      text-align: left;
      margin: 0;
      width: 100%;
      padding: 15px 10px 15px 20px;
      color:  white;
      border-bottom: 1px solid $color-primary;
      border-radius: 0;
      font-size: 15px;
      &:hover{
        text-decoration:none;
        background: darken($color-primary-shaded,20%)
      }
    }
  }
}


//APPLICATION NAVIGATION
nav.primary-nav{
  width: 250px;
  float:left;
  background: #3B4A54;
  padding: $bu 0 0 0;
  position: fixed;
  display: block;
  overflow-y: auto;
  
  @include media($tablet) {
    display:none;
    position: absolute;
    top: -10px;
    right: 0;
    z-index: 2147483628;
    overflow-y:scroll;
    height: calc(100% + 10px);
    height: -moz-calc(100% + 10px);
    height: -webkit-calc(100% + 10px);
    height: -o-calc(100% + 10px);
  }
}

.mobile-app-menu{
  display:none;
  @include media($tablet) {
    display:block;
  }
}
.logout-link{
  display:block;
  @include media($tablet) {
    display:none;
  }
}

a.main-nav,
a:visited.main-nav{
  width: 100%;
  color: #C8C8C8;
  padding: $bu 0 $bu $bu;
  display:block;
  width:100%;
  cursor: pointer;
  text-decoration: none;

  @include media($nav-height) {
    &.bottom-nav {
      &:not(.free) {
        position: fixed;
        width: inherit;
        bottom: 20px;
      }
    }
  }

  @include media($nav-height-free) {
    &.bottom-nav.free {
      position: fixed;
      width: inherit;
      bottom: 20px;
    }
  }
  
  @include media($nav-height-corporate) {
    &.bottom-nav-corporate {
      position: fixed;
      width: inherit;
      bottom: 20px;
    }
  }

  @include media($tablet) {
    &.bottom-nav,
    &.bottom-nav-corporate {
      position: relative !important;
      bottom: 0 !important;
    }
  }

  &.blocked {
    opacity: .5;
  }

  &.active{
    background: #22303A;
  }
  &.active:hover,
  &:hover{
    background: #22303A;
    text-decoration: none;
    color: $color-primary;
  }

  &.close-primary-nav{
    padding: $bu $gu;
    background: #22303A;
    border-bottom: 1px solid black;
    display:none;
    @include media($tablet) {
      display:block;
    }
  }

  &.tablet-show{
    display:none;
    @include media($tablet) {
      display:block;
    }
  }
}

.nav-icon{
  margin-right:10px;
  fill: $color-primary-light;
  vertical-align: middle;
  margin-top: -3px;
}
a.main-nav:hover .nav-icon{
  fill: $color-primary;
}

//LOGGED OUT
main.marketing{

  header{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .content{
    min-height: 100%;
    margin-top:60px;
  }
}

//LOGGED IN
main.app-nav{
  height: 100%;
  overflow:hidden;
  margin-left: 250px;

  &.blank {
    margin: 0;
  }

  .content{
    padding: 15px 25px 100px 25px;
    height:100%;
    overflow-y:scroll;

    @include media($eightfifty) {
      padding: 20px 20px 100px;
    }

    &.blank {
      overflow-y: auto;
    }
  }
  @include media($tablet) {
    margin-left: 0 ;
  }

  //SCROLL TO BOTTOM FOR IE
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    @include bottom-scroll-margin
  }

  //SCROLL TO BOTTOM FOR FIREFOX
  @-moz-document url-prefix() {
    @include bottom-scroll-margin
  }

  //SCROLL TO BOTTOM FOR EDGE
  @supports (-ms-accelerator:true) {
    @include bottom-scroll-margin
  }
}

//MARKETING FOOTER
body.logged-in{
  .marketing-footer{
    display:none;
  }
}
.marketing-footer{
  min-height: 200px;
  background: #255984;
  padding: 50px 0;

  @include media($teneighty) {
      padding: 50px 20px;
  }
}
.footer-inner{
  max-width: 1065px;
  margin: 0 auto;
}
.copyright{
  color:white;
}
a.footer-link{
  color:white !important;
  text-decoration: none;
}
.copyright{
  float:left;
  margin-right: 50px;

  @include media($mobile) {
    margin: 0 0 20px;
    float:none;
  }
}

//APP FOOOTER
body.logged-out{
  .app-footer{
    display:none;
  }
}
.app-footer{
  min-height: 200px;
  background: #255984;
  padding: 50px 0;

  @include media($teneighty) {
      padding: 50px 20px;
  }
}

//SHARED VIEW MODE
.shared-name-header {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include media($mobile) {
    max-width: 80%;
  }
}

// IE Edge Fix
@supports (-ms-ime-align:auto) {
  .ie-edge-bottom {
    margin-bottom: 100px;
    &.shared {
      margin-bottom: 140px;
    }
  }
}
