$logo-user-name-bottom: 13px;

//LOGGED OUT SPECIFIC
body.logged-out{

  .header-inner{
    max-width: 1065px;
    margin: 0 auto;
  }
}

//HOME PAGE
.hero-01{
  background: transparent asset-data-url('marketing/hero-01.jpg') center top;
  background-size: cover;
  height: 600px;
  text-align: center;

  @include media($mobile) {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0.15) 100%),
                transparent asset-data-url('marketing/hero-01.jpg') center top;
    background-size: cover;
    height: auto;
  }

  article{
    margin: 0 auto;
    padding-top: 300px;
    max-width: 500px;

    @include media($mobile) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

  }
}
.hero-01a{
  background: linear-gradient(to bottom, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, 0.6) 100%),
              transparent asset-data-url('marketing/hero-01a.jpg') center top;
  background-size: cover;
  height: 700px;
  text-align: center;

  @include media($mobile) {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0.75) 100%),
                transparent asset-data-url('marketing/hero-01a.jpg') center top;
    background-size: cover;
    height: auto;
  }

  article{
    margin: 0 auto;
    padding-top: 360px;
    max-width: 500px;

    @include media($mobile) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

  }
}
.logo-bg{
  background: transparent asset-data-url('marketing/logo-bg.jpg') left top;
  background-size: cover;
  height: 615px;
  text-align: center;
  padding-top: 150px;

  @include media($mobile) {
    height: auto;
    padding: 20px 0;
  }

}
.security{
  height: 450px;
  background: white;
  padding-top: 60px;

  h3{
    padding-top: 80px;

    @include media($eightfifty) {
      padding-top: 0;
    }
  }

  @include media($mobile) {
    height: auto;
    text-align:center;
    padding-top: 0;
  }

  article{
    margin: 0 auto;
    max-width: 1020px;

    @include media($mobile) {
      max-width: 600px;
      padding: 20px;
    }
  }
  img{
    margin-right: 50px;

    @include media($mobile) {
      height: 200px;
      width: 200px;
      float:none;
      margin-right: 0;
    }
  }
}
.hero-02{
  background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, 0.6) 100%),
              transparent asset-data-url('marketing/hero-02.jpg') center top;
  background-size: cover;
  height: 700px;
  text-align: center;

  @include media($mobile) {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0.75) 100%),
                transparent asset-data-url('marketing/hero-02.jpg') center top;
    background-size: cover;
    height: auto;
  }

  article{
    margin: 0 auto;
    max-width: 500px;
    padding-top: 350px;

    @include media($mobile) {
      padding: 20px 0;
    }
  }
}
.three-up{
  background: white;
  text-align: center;
  padding-top: 100px;

  article{
    margin-bottom: 30px;
  }
  h1{
    padding: 0 20px;
  }

}
.three-up img{
  max-width: 240px;

  @include media($eightfifty) {
    max-width: 60%;
  }
}
.hero-03{
  background: linear-gradient(to bottom, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 0.3) 100%),
              transparent asset-data-url('marketing/hero-03.jpg') center top;
  background-size: cover;
  height: 700px;

  @include media($eightfifty) {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 0.5) 100%),
                transparent asset-data-url('marketing/hero-03.jpg') center center;
    background-size: cover;
    height: auto;
  }

  article{
    margin: 0 10%;
    max-width: 500px;
    padding-top: 100px;

    @include media($eightfifty) {
      margin: 0 auto;
      padding: 20px 0;
      text-align:center;
    }
  }
}
.screen-text{
  height: 250px;
  background: white;
  text-align: center;

  @include media($mobile) {
    height: auto;
  }

  article{
    margin: 0 auto;
    padding-top: 50px;
    max-width: 500px;

    @include media($mobile) {
      padding-top: 20px;
    }

  }
}

.hero-04{
  background: white asset-data-url('marketing/hero-04.png') center top;
  background-size: cover;
  height: 700px;
  text-align: center;

  @include media($mobile) {
    height: 400px;
  }
}

.hero-05{
  background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, 0.6) 100%),
              transparent asset-data-url('marketing/hero-05.jpg') center top;
  background-size: cover;
  height: 700px;
  text-align:center;

  @include media($mobile) {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .55) 0%, rgba(0, 0, 0, 0.75) 100%),
                transparent asset-data-url('marketing/hero-05.jpg') center top;
    background-size: cover;
    height: auto;
  }

  article{
    margin: 0 auto;
    max-width: 500px;
    padding-top: 400px;

    @include media($mobile) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.wrapper{
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
}

h1.hero-text,
h1.hero-text-dark{
  font-size: 2.25em;
}
.hero-text{
  color: white;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.75);

  @include media($mobile) {
    padding: 0 20px;
  }
}
.hero-text-dark{
  text-shadow: 0 0 4px white;

  @include media($mobile) {
    padding: 0 20px;
  }
}

//SECURITY
.security-1{
  background: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0.60) 100%),
              transparent asset-data-url('marketing/security-01.jpg') center top;
  background-size: cover;
  height: 450px;
  text-align: center;

  @include media($mobile) {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.75) 100%),
                transparent asset-data-url('marketing/security-01.jpg') center top;
    background-size: cover;
    height: auto;
  }

  article{
    margin: 0 auto;
    padding-top: 270px;
    max-width: 500px;

    @include media($mobile) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

  }
}
.security-2{
  @include media($eightfifty) {
    img{
      width: 50%;
    }
  }
  @include media($mobile) {
    article{
      background: linear-gradient(to bottom, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 0.8) 100%),
                  transparent asset-data-url('marketing/lock.png') center 50px no-repeat;
    }
    img{
      display:none;
    }
  }
}
.security-3{
  background: white;
  padding: 40px 20px;

  article{
    margin: 0 auto;
    max-width: 1065px;

    @include media($tablet) {
        background: linear-gradient(to bottom, rgba(255, 255, 255, .85) 0%, rgba(255, 255, 255, 0.85) 100%),
                    transparent asset-data-url('marketing/safe.png') center top no-repeat;
    }

    h1,p{
      margin-left: 340px;

      @include media($tablet) {
        margin-left: 0;
      }
    }
  }
  img{
    max-width: 300px;

      @include media($tablet) {
        display: none;
      }
  }
}
.security-cta{
  background: linear-gradient(to bottom, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, 0.8) 100%),
              transparent asset-data-url('marketing/security-cta.jpg') center top;
  background-size: cover;
  height: 700px;
  text-align:center;

  @include media($mobile) {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 0.9) 100%),
                transparent asset-data-url('marketing/security-cta.jpg') center center;
    background-size: cover;
    height: auto;
  }

  article{
    margin: 0 auto;
    max-width: 500px;
    padding-top: 400px;

    @include media($mobile) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

//ABOUT
.about-header{
  background: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0.60) 100%),
              transparent asset-data-url('marketing/about-header.jpg') center top;
  background-size: cover;
  height: 550px;
  text-align: center;

  @include media($mobile) {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.75) 100%),
                transparent asset-data-url('marketing/about-header.jpg') center top;
    background-size: cover;
    height: auto;
  }

  article{
    margin: 0 auto;
    padding-top: 370px;
    max-width: 500px;

    @include media($mobile) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

  }
}


//GENERIC
.generic{
  background: white;
  padding: 20px;

  article{
    margin: 0 auto;
    max-width:1065px;
  }
}

.generic-dark{
  border-top: 2px solid $color-secondary;
  background: $color-primary-shaded;
  padding: 40px 20px;
  color: white;

  h1,h2,h3{
    color: $color-primary-light;
  }

  article{
    margin: 0 auto;
    max-width:1065px;
  }
}

.generic.wall{
  background: asset-data-url('marketing/wall.jpg');
  padding: 60px 20px;
  background-size: cover;
}

//RESOURCES
.resources-1{
  background: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0.60) 100%),
              transparent asset-data-url('marketing/resources.jpg') center top;
  background-size: cover;
  height: 450px;
  text-align: center;

  @include media($mobile) {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.75) 100%),
                transparent asset-data-url('marketing/resources.jpg') center top;
    background-size: cover;
    height: auto;
  }

  article{
    margin: 0 auto;
    padding-top: 270px;
    max-width: 500px;

    @include media($mobile) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

  }
}


//SETUP
.setup-1{
  background: linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0.60) 100%),
              transparent asset-data-url('marketing/setup.jpg') center top;
  background-size: cover;
  height: 450px;
  text-align: center;

  @include media($mobile) {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.75) 100%),
                transparent asset-data-url('marketing/setup.jpg') center top;
    background-size: cover;
    height: auto;
  }

  article{
    margin: 0 auto;
    padding-top: 270px;
    max-width: 500px;

    @include media($mobile) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

  }
}

//Call to action sections
.cta{
    background: asset-data-url('marketing/cta_bg.jpg') top center;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display:block;
    position: relative;
    padding: 20px;

    &.tall{
      height:350px;
    }
    &.short{
      height: 175px;
    }
    &:hover{
      text-decoration:none;
    }
    h1{
      color: white;
      margin-top: 40px;
      font-size: 2.75em;
    }
    button{
      position: absolute;
      bottom: 20px;
      left: 90px;
    }
}
