@mixin form-width{
  width: $form-width;

  @include media($mobile) {
    width: 100%;
  }
}

@mixin avatar-circle($radius) {
  width: $radius;
  height: $radius;
  border: 1px solid $color-gray-med;
  border-radius: 30px;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

@mixin button-fixed-width($width) {
  width: $width;
  text-align: center;
  padding: 8px !important;
}

@mixin bottom-scroll-margin {
  .content:after {
    content: "";
    height: 100px;
    display: block;
  }
}

@mixin word-break {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-break: break-word;
}

// Table mixins
@mixin fixed-cell-size($width) {
  width: $width;
}