@mixin form-width{
  width: $form-width;

  @include media($mobile) {
    width: 100%;
  }
}

@mixin chosen-dropdown-default {
  height: 32px !important;
  border: 1px solid $color-gray-med-tinted !important;
  border-radius: 5px !important;
  padding: 0 !important;
  background: white asset-url('SVG/select-drop-down.svg') no-repeat right !important;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: normal;
}

@mixin chosen-width($width) {
  select,
  .chosen-container,
  .chosen-choices,
  .chosen-results,
  .chosen-drop {
    width: $width;
    @include media($mobile) {
      width: 100% !important;
    }
  }
  input {
    max-width: $width;
    @include media($mobile) {
      max-width: 100% !important;
    }
  }
}

@mixin chosen-min-width($width) {
  select,
  .chosen-container,
  .chosen-choices,
  .chosen-results,
  .chosen-drop {
    width: 100% !important;
    min-width: $width !important;
  }
  .search-choice-close {
    min-width: auto;
    margin-top: 0 !important;
  }
  input {
    @include media($mobile) {
      max-width: 100% !important;
    }
  }
}

@mixin avatar-circle($radius) {
  width: $radius;
  height: $radius;
  border: 1px solid $color-gray-med;
  border-radius: 30px;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

@mixin button-fixed-width($width) {
  width: $width;
  text-align: center;
  padding: 8px !important;
}

@mixin bottom-scroll-margin {
  .content:after {
    content: "";
    height: 100px;
    display: block;
  }
}

@mixin word-break {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-break: break-word;
}

@mixin card-title($button-width) {
  max-width: calc(100% - #{$button-width});
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  @include media($eightfifty) {
    max-width: 100%;
  }
}

// Table mixins
@mixin fixed-cell-size($width) {
  width: $width;
}