$zipcode-width: 80px;
$state-width: 210px;

.modal{
  display: none;
  position: absolute;
  z-index: 1000;
  border-bottom: 1px solid #aaa;
  border-radius: 20px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  background: white;
//  padding: 15px 25px 0;
  min-height: 400px;
  border: 1px solid $color-gray-med-tinted;
}

.large-modal{
  width: 900px;
}

.medium-modal{
  width: 500px;
}

.small-modal{
  width: 300px;
}
.wizard-modal{
  padding: 0;
}

.modal-header{
  padding: 15px 25px 0;
  margin-bottom: 15px;
}
.modal-content{
  padding: 0 25px;
  overflow-y: scroll;
}
.modal-footer{
    width: 100%;
    padding: 15px 25px;
    margin: 15px 0;

}
.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) !important;
}

a.modal-close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.modal-close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}
.modal-no-js{
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  max-width: 525px;
  width: 90%;
}

@media screen and (max-width: 525px) {
  .modal-no-js {
    .modal-step-title {
      font-size: 0.9em;
    }
    .modal-content {
      .field {
        input[type=text], .styled-select, textarea, select {
          width: 70%;
          min-width: 200px;
        }
      }
      .styled-select {
        background: white asset-data-url('SVG/select-drop-down.svg') no-repeat right;
        select {
          width: 70%;
          min-width: 200px;
          text-overflow: ellipsis;
          padding-right: 40px;
          overflow: hidden;
          white-space: no-wrap;
          -moz-appearance: none;
        }
      }
      
      .state-select {
        display: inline-block;
        float:left;
        .state {
          &.styled-select {
            max-width: 200px;
          }
          select {
            max-width: 200px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .modal-no-js {
    .modal-step-title {
      font-size: 0.8em;
      margin-left: -2px;
    }
  }
}

@media screen and (max-width: 340px) {
  .inner-step {
    margin-left: -4px;
  }
}