.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.circle-icon{
  fill: white;
  color:white;
  width: 15px;
  height: 15px;
}
.social-icon{
  fill: white;
  font-size:25px;
  &:hover{
    cursor: pointer;
    fill: $color-primary-light;
  }
}
.add-icon{
  fill: $color-gray-light-shaded;
  color: $color-gray-light-shaded;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.25s linear;

  &:hover{
    fill: $color-confirm;
    color: $color-confirm;
  }
}
.delete-icon{
  fill: $color-gray-light-shaded;
  color: $color-gray-light-shaded;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.25s linear;

  &:hover{
    fill: $color-alert;
    color: $color-alert;
  }
}
.close-icon{
  fill: $color-gray-light-shaded;
  color: $color-gray-light-shaded;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.25s linear;

  &:hover{
    fill: $color-black;
    color: $color-black;
  }
}
.home-icon{
  color: white;
  width: 60px;
  height:60px;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.75);
}


/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
    font-size: 32px; // works because "width" & "height" were set using em units
    color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-Safe {
    width: 1.05859375em;
}

.icon-add-user-1 {
    width: 1.1875em;
}

.icon-battery-charging-3 {
    width: 0.5em;
}

.icon-book-6 {
    width: 0.875em;
}

.icon-bookmark-2 {
    width: 0.75em;
}

.icon-clipboard-2b {
    width: 0.875em;
}

.icon-document-1 {
    width: 0.875em;
}

.icon-document-3 {
    width: 0.875em;
}

.icon-home-3 {
    width: 1.1396484375em;
}

.icon-lock-2 {
    width: 0.75em;
}

.icon-money-1 {
    width: 0.625em;
}

.icon-paperclip-1 {
    width: 1.080078125em;
}

.icon-pin-1 {
    width: 0.9970703125em;
}

.icon-trash-2 {
    width: 0.875em;
}

.icon-umbrella-1 {
    width: 0.9931640625em;
}

.icon-user-1 {
    width: 0.875em;
}

.icon-trust {
    width: 0.875em;
}