.dataTables_wrapper {
  overflow-x: scroll;
}

table {
  width: 100%;
  background: white;
  border: 1px solid $color-gray-light;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 20px;

  td {
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid $color-gray-light;
    padding: 5px;
    z-index: 10;
  }
  tr:last-child td {
    border-bottom: 0;
    padding: 5px;
  }
}
th {
  border-bottom: 1px solid $color-gray-light;
  text-align: left;
  padding: 5px;
  font-size: 11px;
  text-transform: uppercase;
  color: $color-gray-med-shaded;
  background:$color-off-white;
  line-height: 14px;
  &.fixed-cell-small {
    @include fixed-cell-size($table-cell-small)
  }
}
