table{
  width: 100%;
  background: white;
  border: 1px solid $color-gray-light;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 20px;
}
th{
  border-bottom: 1px solid $color-gray-light;
  text-align: left;
  padding: 5px;
  font-size: 11px;
  text-transform: uppercase;
  color: $color-gray-med-shaded;
  background:$color-off-white;
  line-height: 14px;
}
td{
  border-bottom: 1px solid $color-gray-light;
  padding: 7px;
}
tr:last-child td{
  border-bottom: 0;
  padding: 7px;
}
