.tooltip-item {
  $base-border-color: $color-primary-shaded;
  $base-line-height: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $tooltip-max-width: 32em;
  $tooltip-min-width-wide: 20em;
  $tooltip-min-width: 16em;
  $tooltip-arrow-width: 8px;
  $tooltip-shadow: 0 2px 2px silver;
  $tooltip-distance-from-item: 3em;
  $tooltip-arrow-distance-from-box-chrome: -1.2em;
  $tooltip-arrow-distance-from-box-firefox: -1.2em;
  $tooltip-arrow-distance-from-box-firefox-bottom: -1.3em;
  $tooltip-arrow-distance-from-box-default: -1.3em;
  $tooltip-arrow-distance-from-box-default-bottom: -1.2em;
  
  a.avatar-link {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 200;
  }
  
  @mixin tooltip-box {
    position: absolute;
    left: 5px;
    border: $tooltip-arrow-width solid transparent;
    color: white;
    font-size: 1.4em;
    margin-left: -$tooltip-arrow-width;
    text-align: center;
    text-shadow: 0 2px .5px $color-primary-shaded;
  }

  display: inline-block;
  position: relative;
  text-align: left;

  &:focus,
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  
  .tooltip {
    &.bottom {
      @include position(absolute, $tooltip-distance-from-item 0 null 0);
    }
    &.top {
      @include position(absolute, null 0 $tooltip-distance-from-item 0);
    }
    background-color: white;
    background: #fff;
    border: $color-primary-shaded 1px solid;
    border-radius: 3px;
    box-shadow: $tooltip-shadow;
    font-size: 0.9em; // Make sure you use -webkit-backface-visibility: hidden; on the body element to prevent 1px nudging bugs.
    line-height: 1.5em;
    margin: 0 auto;
    max-width: $tooltip-max-width;
    min-width: $tooltip-min-width;
    opacity: 0;
    padding: 1em;
    text-align: left;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    z-index: 100;

    p {
      color: $base-font-color;
      line-height: $base-line-height;
      margin: 0;
      @include word-break;
    }
    
    &.wide {
      min-width: $tooltip-min-width-wide;
    }

    &::after {
      @include tooltip-box;
      content: "▼";
      bottom: $tooltip-arrow-distance-from-box-default;
      @media screen and (-webkit-min-device-pixel-ratio:0) 
        and (min-resolution:.001dpcm) {
          bottom: $tooltip-arrow-distance-from-box-chrome;
      }
      @-moz-document url-prefix() {
        bottom: $tooltip-arrow-distance-from-box-firefox;
      }
    }
    &.bottom::after {
      content: "";
    }
    &.bottom::before {
      @include tooltip-box;
      content: "▲";
      top: $tooltip-arrow-distance-from-box-default-bottom;
      @media screen and (-webkit-min-device-pixel-ratio:0) 
        and (min-resolution:.001dpcm) {
          top: $tooltip-arrow-distance-from-box-chrome;
      }
      @-moz-document url-prefix() {
        top: $tooltip-arrow-distance-from-box-firefox-bottom;
      }
      
      text-shadow: 0 -2px .5px $color-primary-shaded;
    }
  }
}