// Place all the styles related to the Trusts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card.trusts.details{
  margin-left: 0;
  margin-right: 0;
}

.trust-view-edit-link{
  float: right;
  text-decoration: none;
}

.trust-title{
  display: inline-block;
  color: $color-gray-dark-shaded;
}
