.cp{
  cursor: pointer !important;
}
.fr{
  float:right;
}
.fl{
  float: left;
}
.clear{
  clear:both;
}
.clr-red {
  color: red;
}
.box-shadow-none {
  box-shadow: none !important;
}
.b-none {
  border: none !important;
}
.bl-none {
  border-left: none !important;
}
.b-gray-light {
  border: 1px solid $color-gray-light;
}
.bb-gray-light {
  border-bottom: 1px solid $color-gray-light;
}
.bb-gray-med {
  border-bottom: 1px solid $color-gray-med-tinted;
}
.bb-gray-light-dashed {
  border-bottom: 1px dashed $color-gray-light;
}
.bb-dashed {
  border-bottom: 1px dashed $color-gray-med-tinted;
}
.bt-dashed {
  border-top: 1px dashed $color-gray-med-tinted;
}
.bt-gray-light{
  border-top: 1px solid $color-gray-light;
}
.bl-gray-light{
  border-left: 1px solid $color-gray-light;
}
.br-gray-light{
  border-right: 1px solid $color-gray-light;
}
.bt-gray-light{
  border-top: 1px solid $color-gray-light;
}
.b-radius-0 {
  border-radius: 0 !important;
 }
.w-80-percent {
  width: 80%;
}
.w-21{
  width: $gu * 21 !important;
}
.min-w-330 {
  min-width: 330px;
}
.bottom-fixed{
  position: relative;
  bottom:0;
}
.mb-10{
  margin-bottom: 10px !important;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.mt-100{
  margin-top: 100px;
}
.mt-50{
  margin-top: 50px;
}
.mt-60{
  margin-top: 60px;
}
.mt-30{
  margin-top: 30px;
}
.mt-20{
  margin-top: 20px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-10 {
  margin-left: 10px;
}
.p-0 {
  padding: 0 !important;
}
.mt-5{
  margin-top: 5px;
}
.pt-20{
  padding-top: 20px;
}
.pt-30{
  padding-top: 30px;
}
.pt-60{
  padding-top: 60px;
}
.pb-10{
  padding-bottom: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.p-0 {
  padding: 0 !important;
}
.mr-0{
  margin-right: 0 !important;
}
.mr-10{
  margin-right: 10px;
}
.mr-15{
  margin-right: 15px;
}
.mr-20{
  margin-right: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mw-20{
  margin:0 20px;
}
.mh-200{
  min-height: 200px;
}
.not-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.pt-50 {
  padding-top: 50px !important;
}
.ps-relative {
  position: relative;
}
.text-center {
  text-align: center;
}
.fz-20 {
  font-size: 20px !important;
}
.fz-16 {
  font-size: 16px !important;
}
.fz-12 {
  font-size: 12px !important;
}
.no-underline-link {
  text-decoration: none;
}
.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.not-link {
  text-decoration: none;
  span {
    color: $color-black;
  }
  &:hover {
    text-decoration: none;
  }
}
.overflow-y-visible {
  overflow-y: visible !important;
}
.p-rel {
  position: relative;
}
.b-40 {
  bottom: 40px !important;
}

.mobile-hide{
  @include media($mobile) {
    display:none !important;
  }
}
.mobile-show{
  display:none !important;
  @include media($mobile) {
    display:block !important;
    &.inline-block {
      display:inline-block !important;
    }
  }
}
