/* COLORS
   ========================================================================== */

//PRIMARY - BLUES
$color-primary-shaded: #255A85;
$color-primary: #6CA1D6;
$color-primary-light: #DEEEFA;
$color-primary-tinted: #F3F9FD;
$color-link-blue: #1D93F4;

//SECONDARY - ORANGE
$color-secondary: tomato;
$color-secondary-light: #FAAB75;

//STRUCTURAL - GRAYS
$color-black: black;
$color-gray-dark-shaded: rgb(10,13,16);
$color-gray-dark: rgb(58,61,64);
$color-gray-dark-tinted: rgb(84,87,90);
$color-gray-med-shaded: rgb(131,131,131);
$color-gray-med: rgb(150,150,150);
$color-gray-med-tinted: rgb(172,172,172);
$color-gray-light-shaded: rgb(192,192,192);
$color-gray-light: rgb(211,211,211);
$color-gray-light-tinted: rgb(233,233,233);
$color-off-white-shaded: rgb(247,247,247);
$color-off-white-shaded-more: rgb(240,240,240);
$color-off-white: rgb(252,252,252);
$color-white: rgb(255,255,255);

//SYSTEM COLORS ****NEEDS TO BE ADJUSTED!
$color-alert: #D0021B;
$color-confirm: #40B034;
$color-notice: yellow;
$color-warning: orange;


//CARD COLORS
$color-card-1: #97C761;
$color-card-2: $color-primary-shaded;
$color-card-3: $color-primary;
$color-card-4: #518910;
$color-card-5: #117884;
$color-card-6: #37A2B9;
$color-card-7: #072F51;
$color-card-8: #62b55a;
$color-card-9: #52994c;
$color-card-10: #3f753a;
$color-card-11: #2c4f29;

//AVATAR RADIUS
$small-radius: 30px;
$medium-radius: 40px;

//GRID UNITS
$gu: 20px; //Gutter unit for horizontal
$bu: 10px; //Baseline unit for vertical

//FROM WIDTH
$form-width: 350px;
$form-width-250: 250px;
$medium-form-width: 225px;
$short-form-width: 115px;
$small-form-width: 95px;

//SHADOWS
$drop-shadow: 0 3px 5px rgba(0,0,0,.25);

//BUTTONS
$button-primary: tomato;
$button-secondary: #a2a2a2;

//FONTS
$white: white;

//COLOR CLASSES
.clr-primary-shaded {
  color: $color-primary-shaded;
}
