/* COLORS
   ========================================================================== */

//PRIMARY - BLUES
$color-primary-shaded: #255A85;
$color-primary: #6CA1D6;
$color-primary-light: #DEEEFA;
$color-primary-tinted: #F3F9FD;
$color-link-blue: #1D93F4;

//SECONDARY - ORANGE
$secondary: #F37A21;
$secondary-light: #FAAB75;

//STRUCTURAL - GRAYS
$color-gray-dark-shaded: rgb(10,13,16);
$color-gray-dark: rgb(58,61,64);
$color-gray-dark-tinted: rgb(84,87,90);
$color-gray-med-shaded: rgb(131,131,131);
$color-gray-med: rgb(150,150,150);
$color-gray-med-tinted: rgb(172,172,172);
$color-gray-light-shaded: rgb(192,192,192);
$color-gray-light: rgb(211,211,211);
$color-gray-light-tinted: rgb(233,233,233);
$color-off-white: rgb(252,252,252);
$color-off-white-shaded: rgb(247,247,247);
$color-off-white-shaded-more: rgb(240,240,240);
$color-white: rgb(255,255,255);

//SYSTEM COLORS ****NEEDS TO BE ADJUSTED!
$color-alert: red;
$color-confirm: green;
$color-notice: yellow;
$color-warning: orange;

//GRID UNITS
$gu: 20px;
$bu: 10px;

//SHADOWS
$drop-shadow: 0 3px 5px $color-gray-light;

//BUTTONS
$button-primary: #F27A20;
$button-secondary: #a2a2a2;
