<a class="edit-link" id="toggle">
  <span class="fin-overview">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-pencil-1"></use>
      </svg>
    </span>Add Financial Information
  </span>
  <span class="fin-options" style="display:none;">
    <span class="circle-button">
      <svg class="icon circle-icon">
        <use xlink:href="#icon-left-1"></use>
      </svg>
    </span>Back to Overview
  </span>

</a>
<h1>Financial Information</h1>


<div class="card cg-3 mb-30 fin-toggle" data-toggle="true">

  <section class="fin-overview">
    <div id="asset" class="pie-chart"></div>
    <div id="debt"  class="pie-chart"></div>
    <div class="pie-legend">

      <ul class="data-summary">
        <li class="data-pair">
          <h4>Cash</h4>
          <h4 class="data-right">
            $220,458
          </h4>
        </li>
        <li class="data-pair">
          <h4>Investments</h4>
          <h4 class="data-right">
            $1,220,458
          </h4>
        </li>
        <li class="data-pair">
          <h4>Property</h4>
          <h4 class="data-right">
            $920,458
          </h4>
        </li>
        <li class="data-pair">
          <h4>Credit Cards</h4>
          <h4 class="data-right negative-value">
            -$20,458
          </h4>
        </li>
        <li class="data-pair">
          <h4>Loans</h4>
          <h4 class="data-right negative-value">
            -$20,458
          </h4>
        </li>

        <div class="sum-line"></div>

        <li class="data-pair">
          <h4>Net Worth</h4>
          <h4 class="data-right">
            $1,920,458
          </h4>
        </li>
    </ul>
    </div>
  </section>

  <section class="fin-options" style="display:none;">
    <a class="fr button big-button primary-button">Add Account</a>
    <h3>Add Institutional Account</h3>
    <p>Accounts include checking, savings, brokerage, stocks, bonds, derivatives, government securities, mutual funds, IRAs, 401K's, 403B's, 529's, alternative investments, credit cards, mortgages, loans, lines of credit, undrawn commitments, etc. If it has an account number, it goes here.</p>
    <div class="sum-line"></div>

    <a class="fr button big-button primary-button" href="<%=add_property_path%>">Add Property</a>
    <h3>Add Property</h3>
    <p>Property includes, but is not limited to, houses, vacant land, vehicles, artwork, furniture, jewelry, heirlooms, antiquities, etc. If it is a thing and you value it, it goes here.</p>
    <div class="sum-line"></div>

    <a class="fr button big-button primary-button">Add Other</a>
    <h3>Add Other Investment or Debt</h3>
    <p>Private company stocks or bonds, royalty streams, personal loans, and miscellaneous situations, etc. If it doesn't fit in Accounts or Property, it goes here.</p>
  </section>
</div>

<section class="flex-boxes ">

  <div class="card cg-3 flex-column mb-20 cp cp">
    <h3>Aurora Credit Union</h3>
    <p><a>http://www.acu.com</a><br>
       888-234-3456
    </p>
    <label>Primary Contact</label>
    <ul class="data-list">
      <li class="contact-pair">
        Thedore Billington<br>
        <a>tbilington@acu.com</a><br>
        312-277-1161
      </li>
    </ul>
    </p>
    <ul class="data-list mb-20">
      <li class="data-pair">
        <label>Mortgage</label>
        <span class="data-right">
          $20,458
        </span>
      </li>
    </ul>

    <label>Shared With</label>
    <section class="shared-list">
      <span class="user-circle">AK</span>
      <span class="user-circle">BM</span>
      <span class="user-circle">MB</span>
    </section>

  </div>

  <div class="card cg-3 flex-column mb-20 cp">
    <h3>Chase</h3>
    <p><a>www.card.com</a></p>
    <ul class="data-list mb-20">
      <li class="data-pair">
        <label>Checking</label>
        <span class="data-right">
          $20,458
        </span>
      </li>
      <li class="data-pair">
        <label>Savings</label>
        <span class="data-right">
          $20,458
        </span>
      </li>
      <li class="data-pair">
        <label>Credit Card</label>
        <span class="data-right negative-value">
          $-20,458
        </span>
      </li>
      <li class="data-pair">
        <label>529</label>
        <span class="data-right">
          $20,458
        </span>
      </li>
    </ul>
    <label>Shared With</label><br>
    <span class="user-circle">AK</span>
    <span class="user-circle">BM</span>

  </div>

  <div class="card cg-3 flex-column mb-20 cp ">
    <h3>Fidelity</h3>
    <p><a>http://fidelity.com</a></p>

    <ul class="data-list mb-20">
      <li class="data-pair">
        <label>401k</label>
        <span class="data-right">
          $20,458
        </span><br>
      </li>
    </ul>
      <label>Shared With</label>
      <section class="shared-list">
        <span class="user-circle">AK</span>
        <span class="user-circle">BM</span>
        <span class="user-circle">MB</span>
      </section>
  </div>

  <div class="card cg-3 flex-column mb-20 cp">
    <h3>Lake House</h3>
    <ul class="data-list mb-20">
      <li class="data-pair">
        <label>Property</label>
        <span class="data-right">
          $20,458
        </span>
      </li>
    </ul>

    <label>Shared With</label>
    <section class="shared-list">
      <span class="user-circle">AK</span>
      <span class="user-circle">BM</span>
      <span class="user-circle">MB</span>
    </section>
  </div>

  <div class="card cg-3 flex-column mb-20 cp ">
    <h3>Picasso</h3>

    <ul class="data-list mb-20">
      <li class="data-pair">
        <label>Property</label>
        <span class="data-right">
          $20,458
        </span>
      </ki>
    </ul>

    <label>Shared With</label>
    <section class="shared-list">
      <span class="user-circle">AK</span>
      <span class="user-circle">BM</span>
      <span class="user-circle">MB</span>
    </section>
  </div>

  <div class="card cg-3 flex-column mb-20 cp">
    <h3>Scottrade</h3>
    <p><a>http://scottrade.com</a><br>
       888-234-3456
    </p>
    <ul class="data-list mb-20">
      <li class="data-pair">
        <label>Brokerage</label>
        <span class="data-right">
          $20,458
        </span>
      </li>
    </ul>

    <label>Shared With</label>
    <section class="shared-list">
      <span class="user-circle">AK</span>
      <span class="user-circle">BM</span>
    </section>
  </div>

  <div class="card cg-3 flex-column mb-20 cp">
    <h3>Toyota of America</h3>
    <p><a>http://toyota.com</a><br>
       888-234-3456
    </p>
    <ul class="data-list mb-20">
      <li class="data-pair">
        <label>Car Loan</label>
        <span class="data-right negative-value">
          $-20,458
        </span>
      </li>
    </ul>

    <label>Shared With</label>
    <section class="shared-list">
      <span class="user-circle">MB</span>
    </section>
  </div>

  <div class="card cg-3 flex-column mb-20 cp">
    <h3>ZokuVault</h3>
    <p><a>http://wwww.zokuvault.com</a></p>
    <label>Primary Contact</label>
    <ul class="data-list">
      <li class="contact-pair">
        Thedore Billington<br>
        <a>tbilington@acu.com</a><br>
        312-277-1161
      </li>
    </ul>
    <ul class="data-list mb-20">
      <li class="data-pair">
        <label>Private Investment</label>
        <span class="data-right">
          $20,458
        </span>
      </li>
    </ul>

    <label>Shared With</label>
    <section class="shared-list">
      <span class="user-circle">AK</span>
      <span class="user-circle">BM</span>
      <span class="user-circle">MB</span>
    </section>

  </div>
</section>


<h3>Financial Documents</h3>
<table>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Tags</th>
      <th>Shared With</th>
      <th>Actions</th>
    </tr>

    <tr>
      <td>
        <a>DocumentName.pdf</a>
      </td>
      <td>07/31/2016</td>
      <td>
        <span class="doc-tag">Insurance</span>
        <span class="doc-tag secondary-tag">Car</span>
      </td>
      <td>
        <span class="user-circle">AK</span>
        <span class="user-circle">BM</span>
        <span class="user-circle">MB</span>
      </td>
      <td>
          <button class="outline-button small-button">
            Edit
          </button>
      </td>
    </tr>
</table>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
$(function () {

  //Top Toggle
  $( "#toggle" ).click(function() {
    $( ".fin-options, .fin-overview" ).toggle();
  });

  //Masonry
  $('.flex-boxes').masonry({
    columnWidth: '.flex-column',
    gutter: 20,
    percentPosition: true,
    itemSelector: '.flex-column'
  });

  //Highcharts
    Highcharts.chart('asset', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            style: {
              fontFamily: "Open Sans"
            }
        },
        navigation: {
            buttonOptions: {
                enabled: false
            }
        },
        title: {
            text: 'Assets',
            verticalAlign: 'bottom'

        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                colors: ['#6CA1D6','#255A85', '#B2B2B2', '#DADADA', '#717171']
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Investments',
                y: 432584
            }, {
                name: 'Property',
                y: 356987
            }, {
                name: 'Cash',
                y: 42987
            }]
        }]
    });
    Highcharts.chart('debt', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            style: {
              fontFamily: "Open Sans"
            }
        },
        navigation: {
            buttonOptions: {
                enabled: false
            }
        },
        title: {
            text: 'Liabilities',
            verticalAlign: 'bottom'

        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                colors: ['#6CA1D6','#255A85', '#B2B2B2', '#DADADA', '#717171']
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Loans',
                y: 60435
            }, {
                name: 'Credit Cards',
                y: 32987
            }]
        }]
    });
});
</script>
