<h1>My Profile</h1>

<div class="card">
  <h3>User Name</h3>
  <label>Username</label><br>
<label>Address</label><br>
<label>Phone</label><br>
<label>Social Security Number</label><br>
<label>Date of Birth</label><br>
<label>Buisness Information</label><br>
<label>Primary Shared With</label><br>
</div>

<h2>User Name Documents</h2>
<p>Put Doc Table here that is all documents with the association Contact and Current User</p>
