<h1>My Profile</h1>

<div class="card mb-30">
  <h3>User Name</h3>
  <label>Username</label>
  <p>Bruno Mars</p>

  <label>Address</label>
  <p>2233 Main Street<br>
     Hollywood CA, 60504</p>

  <label>Cell Phone</label>
  <p>888-674-3209</p>

  <label>Social Security Number</label>
  <p><a>***-**-****</a></p>

  <label>Date of Birth</label>
  <p>09/04/1980</p>

  <label>Buisness Information</label>
  <p>American Buisness Corp<br>
     456 Elm Parkway<br>
     Los Angeles CA, 60032</p>

  <label>Primary Shared With</label>
  <p><span class="user-circle">AK</span>&nbsp;Bruna Mars</p>
</div>

<h2>User Name Documents</h2>
<p>Put Doc Table here that is all documents with the association Contact and Current User</p>

<table>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Tags</th>
      <th>Shared With</th>
      <th>Actions</th>
    </tr>

    <tr>
      <td>
        <a>DocumentName.pdf</a>
      </td>
      <td>07/31/2016</td>
      <td>
        <span class="doc-tag">Insurance</span>
        <span class="doc-tag secondary-tag">Car</span>
      </td>
      <td>
        <span class="user-circle">AK</span>
        <span class="user-circle">BM</span>
        <span class="user-circle">MB</span>
      </td>
      <td>
          <button class="outline-button small-button">
            Edit
          </button>
      </td>
    </tr>
</table>
