<a class="add-link fr" href="/uploads/new">
  <span class="circle-button">
    <svg class="icon circle-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
  </span>Add Contact
</a>
<h1>Shared With Me</h1>
<table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Documents</th>
      <th>Categories</th>
      <th></th>
    </tr>
    <tr>
      <td><span class="user-circle">AK</span>&nbsp;Anthony Kedis</td>
      <td><a>akedis@gmail.com</a></td>
      <td>15</td>
      <td>12</td>
      <td>
        <button class="outline-button small-button">
          View
        </button>
      </td>
    </tr>
</table>
