<%= link_to 'Add Document', new_upload_path, :class=>'add-doc' %>
<h1>Documents</h1>

<table>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Tags</th>
      <th>Shared With</th>
      <th>Actions</th>
    </tr>

<% @uploads.each do |upload| %>
    <tr>
      <td>
        <%= link_to upload do %>Document Name<% end %>
      </td>
      <td>07/31/2016</td>
      <td>
        <span class="doc-tag">Insurance</span>
        <span class="doc-tag secondary-tag">Car</span>
      </td>
      <td>
        <span class="user-circle">AK</span>
        <span class="user-circle">BM</span>
        <span class="user-circle">MB</span>
      </td>
      <td>
        <button class="outline-button small-button">
          Edit
        </button>
      </td>
    </tr>
<% end %>
</table>
