<% @uploads.each do |upload| %>
  <%= link_to upload do %>
  <div class="file-block">
    <svg class="icon" x=2000>
      <use xlink:href="#icon-document-3"></use>
    </svg>
  </div>
  <% end %>
<% end %>

<br>

<%= link_to 'New upload', new_upload_path %>
