<div class="insurance-body-content">
  <div class="field">
    <h2 class="policy-information-title">Policy Information</h2>
    <label>Policy Type</label>
    <% policy_type_options = ["Choose Type...",
        "Home",
        "Renters",
        "Vehicle",
        "Commercial",
        "Casualty",
        "Pet",
        "Other"]%>
    <div class="styled-select">
      <%= select_tag 'policy_type', options_for_select(policy_type_options.collect.with_index{|p, i| [p, i]}, {disabled: '0', selected: '0'}) %>
    </div>
  </div>
  <div class="field">
    <label>Insured Property</label>
    <div class="styled-text-input">
      <input type = "text" />
    </div>
  </div>
  <div class="field">
    <label>Policy Holder</label>
    <div class="styled-select">
      <select>
        <option value="empty">Choose Contact...</option>
        <option value="user1">User 1</option>
        <option value="user2">User 2</option>
       </select>
    </div>
  </div>
  <div class="field">
    <label>Coverage Amount</label>
    <div class="styled-text-input input-symbol-dollar">
      <input type = "text"/>
    </div>
  </div>
  <div class="field">
    <label>Policy Number</label>
    <div class="styled-text-input">
      <input type = "text"/>
    </div>
  </div>
  <div class="field">
    <label>Broker or Primary Contact</label>
    <div class="styled-select">
      <select>
        <option value="empty">Choose Contact...</option>
        <option value="user1">User 1</option>
        <option value="user2">User 2</option>
       </select>
    </div>
  </div>
  <div class="field notes-field">
    <label>Notes</label>
    <textarea id="life_insurance_notes"></textarea>
  </div>
</div>