<div class="card vault-info mb-30 text-center mt-20 max-w-1000-centered">
  <h1 class="card-label fn clr-color-primary mb-30">
    <svg class="icon" viewBox="0 0 20 20">
      <use xlink:href="#icon-Safe"></use>
    </svg> Shared With
  </h1>
  
  <p class="mb-30 inline-block">ZokuVault provides secure file and data sharing with trusted third parties. As the account owner, you are the only person that can manage this functionality.
  </p>
  
   <div class="max-w-600 m-0-auto mb-30">
     <%= image_tag "marketing/lock.png", :class => "w-120 inline-block w-30-percent"%>
     <h5 class="description clr-gray-dark-tinted w-70-percent fr mt-20 text-left fw-600">You can request that your Tax Accountant upload your tax returns into your Vault.</h5>
     <span class="clear mb-30"></span>
   
     <%= image_tag "marketing/files.png", :class => "w-120 inline-block w-30-percent"%>
     <h5 class="description clr-gray-dark-tinted w-70-percent fr mt-5 text-left fw-600">You can request that your Estate Planning Attorney upload your wills, trusts or powers of attorney directly into your Vault.</h5>
     <span class="clear mb-30"></span>
   
     <%= image_tag "marketing/pie.png", :class => "w-120 inline-block w-30-percent"%>
     <h5 class="description clr-gray-dark-tinted w-70-percent fr mt-10 text-left fw-600">You can request that your Financial Advisor upload statements or legal documents directly into your Vault.</h5>
     <span class="clear mb-30"></span>
   </div>
   
   <p class="inline-block mb-0">The sharing of information within ZokuVault limits users to see only what you want, from just a document to your entire Vault.</p>
  
  <%= render partial: 'tutorials/buttons_section' %>
</div>