<% if value_negative?(type) %>
  <% if value.present? && value > 0 %>
    <span class="negative-value">-<%= number_to_currency(value, unit: "$", precision: 0) %></span>
  <% else %>
    <span><%= number_to_currency(value, unit: "$", precision: 0) %></span>
  <% end %>
<% else %>
  <span><%= number_to_currency(value, unit: "$", precision: 0) %></span>
<% end %>