<section class="mt-60 bt-gray-light pt-20 mb-10 flex-button">

 <%= link_to 'Back', tutorial_destroy_path, method: :post, class: "big-button outline-button padded f-left" %>
 <%= link_to "Skip", tutorials_confirmation_path, class: "big-button outline-button padded skip-btn" %>
 &nbsp
 <%= link_to "Continue", tutorials_confirmation_path, class: "button big-button blue-button f-right" %>

</section>

