<div class="card mb-30 mt-20 max-w-1000-centered">
  <h1 class="mb-20">Add Your Family</h1>

  <p>This is your spouse, partner, children, parents or trusted family memebers.
  These people are your dependants and beneficiares</p>

  <div class="modal-content">
    <%= render partial: 'tutorials/contact_tutorial_table', locals: { table_title: 'Your Personal Contacts', 
                                                                    contacts: @primary_contacts, 
                                                                    table_id: 'primary-contacts-table' } %>

  <div class="flash-success-static flash add-contactable static small" style="display: none;">
    You added a contact! Add another one of your Primary Contacts, or click Next.</div>
    <button class="button primary-button big-button" onclick="createPrimaryContact();">Add Primary Contacts</button>
  </div>

  <%= render partial: 'tutorials/buttons_section' %>
</div>

<%= render partial: 'contacts/ajax_form', style: 'display: none;' %>

<script>
  var createPrimaryContact = function() {
    window.tableIdToUpdate = '#primary-contacts-table'
    setProfessionalDropdown(['Family & Beneficiaries'])
    contact_type_handle($('#contact_contact_type'), true)
    displayContactFormModal();
  }
</script>
