<div class="add-new-button mt-20 mb-10" id="address_phone_button" href="" onclick="javascript:toggleAddressPhone()"
  <% if edit?(provider) %> style="display: none;" <% end %> >
  <svg class="icon add-icon">
    <use xlink:href="#icon-add-1"></use>
  </svg>
  Add Address and Phone Number Details<br>
</div>