<div class="flash-success flash" style="display:none;"><%= flash[:success] %></div>

<div class="flash-error flash" style="display:none;"><%= flash[:error] %></div>

<div class="flash-notice flash" style="display:none;"><%= notice %></div>

<div class="flash-alert flash" style="display:none;"><%= alert %></div>

<% flash[:success] = nil %>
<% flash[:error] = nil %>
<% flash[:notice] = nil %>
<% flash[:alert] = nil %>

<script>
$(document).ready(function(){
  if ($(".flash-success").text().length > 0) {
    $(".flash-success").show().fadeOut( 5000 );
  }
  if ($(".flash-error").text().length > 0) {
    $(".flash-error").show();
  }
  if ($(".flash-notice").text().length > 0) {
    $(".flash-notice").show().fadeOut( 5000 );
  }
  if ($(".flash-alert").text().length > 0) {
    $(".flash-alert").show().fadeOut( 5000 );
  }
});
</script>
