<footer class="app-footer">
  <%= link_to 'Contact Us', contact_page_path, class: "footer-link" %>
  <%= link_to 'Terms of Service', terms_of_service_path, class: "footer-link" %>
  <%= link_to 'Privacy Policy', privacy_policy_path, class: "footer-link" %>
  <p class="small-text">&copy; <%= Time.zone.now.year %> Zoku Technologies, LLC.</p>
</footer>
