<header>
  <section class="header-inner blank">

    <%=link_to( image_tag("SVG/ZokuVault.svg", :alt=>"Zoku Vault"), root_url, :class=>"logo") %>
    <%= link_to('Exit', destroy_user_session_path, :method => :delete, :class=>"button secondary-button big-button fr") %>

  </section>
</header>
