<span class="fa-stack fa-1x icon-section fr">
  <span class="fa-stack-1x document-number"><%= count %></span>
  <svg class="icon icon-document-2">
    <use xlink:href="#icon-document-2">
    </use>
  </svg>
</span>

<!-- <div class="card-document-count fr">
  <svg class="icon icon-document-2">
    <use xlink:href="#icon-document-2">
    </use>
  </svg>
  <%= count %>
</div> -->
