<span class="fa-stack fa-1x icon-section">
  <span class="fa-stack-1x document-number"><%= document_count(user, group, @category) %></span>
  <svg class="icon icon-document-1 ">
    <use xlink:href="#icon-document-1">
    </use>
  </svg>
</span>
