<footer class="marketing-footer">
  <section class="footer-inner">

    <section class="copyright">
      <%= image_tag "SVG/ZokuVault_logo_white.svg" %><br>
      &copy; <%= Time.zone.now.year %> ZokuVault.  All rights reserved.
    </section>

    <nav class="footer-nav flex-boxes">
      <section class="flex-marketing">
        <a class="footer-link" href="">About Zoku</a><br>
        <a class="footer-link" href="">Easy Setup</a><br>
        <a class="footer-link" href="">Security</a><br>
        <a class="footer-link" href="">Resources</a><br>
      </section>
      <section class="flex-marketing">
        <a class="footer-link" href="">Become a Partner</a><br>
        <a class="footer-link" href="">Buisness Solutions</a><br>
        <a class="footer-link" href="">Careers</a><br>
        <a class="footer-link" href="">Events</a><br>
      </section>
      <section class="flex-marketing">
        <a class="footer-link" href="">Terms of Use</a><br>
        <a class="footer-link" href="">Privacy Policy</a><br>
        <a class="footer-link" href="">Security Policy</a><br>
        <a class="footer-link" href="">Contact Us</a><br>
      </section>
    </nav>

  </section>
</footer>
