<header>
  <section class="header-inner">
    <% if !user_signed_in? %>
       <a id="mobile-menu" class="mobile-menu button fr primary-button big-button">☰ Menu</a>

       <section class="slide-nav">
         <a id="close-mobile-menu" class="close-link">
           Close Menu
           <svg class="icon close-icon fr">
             <use xlink:href="#icon-x-2"></use>
           </svg>
         </a>
         <a class="button fr primary-button big-button menu-signup" href="/users/sign_up">Sign Up</a>

         <%= link_to 'Login', new_user_session_path, class: "login-link" %>

         <nav class="marketing-nav">
          <a class="marketing-link" href="/about">About Zoku</a>
          <a class="marketing-link" href="/setup">Easy Set Up</a>
          <a class="marketing-link" href="/security">Security</a>
          <a class="marketing-link" href="/resources">Resources</a>
        </nav>
      </section>
    <% end %>

    <%=link_to( image_tag("SVG/ZokuVault.svg", :alt=>"Zoku Vault"), root_url, :class=>"logo") %>

    <% if user_signed_in? %>
      <a class="" href="/my_profile">
        <span class="user-avatar fr">
          <span class="user-circle"><%= current_user.initials %></span>
          <%= user_name(current_user.id) %>
        </span>
      </a>

      <a id="mobile-app-menu" class="mobile-app-menu button fr primary-button big-button">☰ Menu</a>
      <%#= search_field_tag 'search', 'Search', :class=>"header-search" %>
      <%#= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"logout-link") %>
    <% end %>
  </section>
</header>

<script>
$(function(){
  //marketing website navigation
  $('#mobile-menu, #close-mobile-menu').click(function() {
     $('.slide-nav').animate({width:'toggle'},150);
  });
  //application navigation
  $('#mobile-app-menu, #close-mobile-app-menu').click(function() {
     $('.primary-nav').animate({width:'toggle'},150);
  });
  //window navigation resize reset
  $( window ).resize(function() {
    if ($(window).width() < 660) {
       $('.primary-nav, .slide-nav').css('display', '');
    }
  });
});
</script>
