<nav>

  <% if !user_signed_in? %>

    <%= link_to('Login', new_user_session_path, :class=>"main-nav")  %>

  <% else %>

    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-contacts-2"></use>
      </svg>My Profile
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-share-3"></use>
      </svg>Contacts &amp; Permissions
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-activity-monitor-1"></use>
      </svg>Financial Accounts
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-cloud"></use>
      </svg>Web Accounts
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-book-6"></use>
      </svg>Wills, Trusts &amp; Gifts
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-umbrella-1"></use>
      </svg>Insurance Information
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-plus-1"></use>
      </svg>Healthcare Choices
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-bookmark-2"></use>
      </svg>Final Wishes
    </a>
    <a class="main-nav">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-Safe"></use>
      </svg>Shared Vaults
    </a>
    <a class="main-nav" href="#documents">
      <svg class="icon nav-icon">
        <use xlink:href="#icon-folder-1"></use>
      </svg>Documents
    </a>

  <% end %>
</nav>
