<nav>
  <a class="main-nav">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-menu-2"></use>
    </svg>
    Menu
  </a>
  <a class="main-nav">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-activity-monitor-1"></use>
    </svg>
    Financial Overview
  </a>
  <a class="main-nav">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-Safe"></use>
    </svg>
    My Vaults
  </a>
  <a class="main-nav">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-share-3"></use>
    </svg>
    People &amp; Permissions
  </a>
  <a class="main-nav">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-profile-1"></use>
    </svg>
    Family &amp; Beneficiaries
  </a>
  <a class="main-nav">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-book-6"></use>
    </svg>
    Wills, Trusts &amp; Gifts
  </a>
  <a class="main-nav">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-umbrella-1"></use>
    </svg>
    Insurance Information
  </a>
  <a class="main-nav">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-plus-1"></use>
    </svg>
    Healthcare Choices
  </a>
  <a class="main-nav">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-bookmark-2"></use>
    </svg>
    Final Wishes
  </a>
  <a class="main-nav">
    <svg class="icon nav-icon">
      <use xlink:href="#icon-folder-1"></use>
    </svg>
    Documents
  </a>
</nav>
