<div class="tooltip password-tooltip">
  <b class="clr-color-primary-shaded">Strong password</b>
  <p class="clr-color-primary-shaded">It is highly recommended that customers choose a strong password for their ZokuVault account. This password should not be used anywhere outside of ZokuVault. Users should never share their password with anyone.</p>
</div>