<% bottom ||= "" %>
<div class="tooltip-item">
  <span class="required">Show Requirements</span>
  <div class="tooltip wide <%= bottom %>">
    <ul>
      <li>Password must be at least 10 characters long</li>
      <li>Password should contain uppercase letters, lowercase letters, number and characters</li>
      <li>Avoid using any word spelled completely</li>
      <li>Avoid using previously used password if you're creating new one</li>
    </ul>
  </div>
</div>