<div class="password-validation mb-10">
  <section class="not-validated">
    <span class="conditions-fail" id='ten_characters_condition'>
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use 10 or more characters
    </span><br>
    <span class="conditions-fail" id='upper_lower_case_condition'>
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use upper and lower case letters (e.g. Aa)
    </span><br>
    <span class="conditions-fail" id='number_condition'>
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use a number (e.g. 1234)
    </span><br>
    <span class="conditions-fail" id='special_characters_condition'>
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use a symbol (e.g. !@#$)
    </span>
  </section>
  <section class="validated">
    <span class="conditions-met">Your password is STRONG.</span>
  </section>
</div>

<%= javascript_include_tag 'password_strong' %>
<script>
  var eightfifty = 850
  var mobile = 660
  $(document).ready(function() {
    var passwordField = $('#' + '<%= password_field_id %>')
    passwordValidate(passwordField)
    
    passwordField.on('focus', showPasswordTooltip)
    passwordField.on('focusout', hidePasswordTooltip)
    
    $(window).resize(function() {
      tooltipOnWindowResize(passwordField)
    })
    $(window).trigger('resize')
  })
  
  var tooltipOnWindowResize = function(passwordField) {
    if ($(window).width() <= eightfifty) {
      showTooltipIfFocused(passwordField)
      cardMarginSet("100px auto 100px 40px")
    }
    if ($(window).width() > eightfifty) {
      showTooltipIfFocused(passwordField)
      cardMarginSet("100px auto")
    }
    if ($(window).width() <= mobile) {
      hidePasswordTooltip()
      cardMarginSet("100px auto")
    } 
    if ($(window).width() > mobile) {
      showTooltipIfFocused(passwordField)
    }
  }
  
  var showTooltipIfFocused = function(passwordField) {
    if (passwordField.is(':focus')) {
      showPasswordTooltip()
    }
  }
  
  var cardMarginSet = function(margin) {
    $('.card.eightfifty-align-left').css("margin", margin)
  }
  
  var hidePasswordTooltip = function() {
    $('.tooltip').hide()
    $('.tooltip').css("opacity", "0")
    $('.tooltip').css("visibility", "hidden")
  }
  
  var showPasswordTooltip = function() {
    if ($(window).width() > mobile) {
      $('.tooltip').show()
      $('.tooltip').css("opacity", "1")
      $('.tooltip').css("visibility", "visible")
    }
  }
</script>