<div class="tooltip-item">
  <span class="required">Show Requirements</span>
  <div class="tooltip wide top">
    <ul>
      <li>Password must be 10 or more characters long.</li>
      <li>Password must include 3 of the following 4 character types: an uppercase letter, a lowercase letter, a number and/or a special character.</li>
      <li>Password may not match a previously used password.</li>
    </ul>
  </div>
</div>