<div class="password-validation mb-10">
  <section class="not-validated">
    <span class="conditions-fail" id='ten_characters_condition'>
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Has 10 or more characters
    </span><br>
    <span class="conditions-fail" id='upper_lower_case_condition'>
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use upper and lower case letters (e.g. Aa)
    </span><br>
    <span class="conditions-fail" id='number_condition'>
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use a number (e.g. 1234)
    </span><br>
    <span class="conditions-fail" id='special_characters_condition'>
      <svg class="icon mr-10">
        <use xlink:href="#icon-x-1"></use>
      </svg>Use a symbol (e.g. !@#$)
    </span>
  </section>
  <section class="validated">
    <span class="conditions-met">Your password is STRONG.</span>
  </section>
</div>

<%= javascript_include_tag 'password_strong' %>
<script>
  $(document).ready(function() {
    passwordValidate($('#' + '<%= password_field_id %>'))
  })
</script>