<% shares && shares[0...3].each do |share| %>
  <% if share.contact.present? %>
    <%= render partial: "layouts/avatar_circle", locals: { :contact => share.contact } %>
  <% end %>
<% end %>
<% if shares && shares.length > 3 %>
  <span>...</span>
<% end %>