<% shares && shares[0...3].each do |share| %>
  <% if share.contact.present? %>
    <%= avatar_circle(share.contact) %>
  <% end %>
<% end %>
<% if shares && shares.length > 3 %>
  <span>...</span>
<% end %>