<nav class="primary-nav share-with">

  <a id="close-mobile-app-menu" class="main-nav close-primary-nav">
    Close Menu
    <svg class="icon close-icon fr">
      <use xlink:href="#icon-x-2"></use>
    </svg>
  </a>

  <a class="main-nav <%= 'active' if current_page?(shared_view_dashboard_path) %>"
     href=<%= shared_view_dashboard_path(@shared_user) %> >
    <svg class="icon nav-icon">
      <use xlink:href="#icon-dashboard"></use>
    </svg>Dashboard
  </a>
  <% shared_view_estate_planning = 'active' if current_page?(shared_view_estate_planning_path) %>
  <%= link_to shared_view_estate_planning_path, class: "main-nav #{shared_view_estate_planning}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-document-3"></use>
    </svg>Wills Trusts &amp; Legal
  <% end %>
</nav>
