<table id="documents-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Modified</th>
      <th>Category</th>
      <th class="fixed-cell-small">Shared With</th>
      <th class="fixed-cell-small">Notes</th>
      <th class="nosort nosearch">Actions</th>
    </tr>
  </thead>
  
  <tbody>
    <!-- Datatable content goes here! -->
  </tbody>
  
  <tfoot> <tr></tr> </tfoot>
</table>

<script>
  $(document).ready(function() {
    if ($('#documents-table').length) {
      var options = {
        processing: true,
        serverSide: true,
        ajax: {
          url: "<%= documents_path %>",
          method: 'GET',
          dataType: 'json'
        },
        fnDrawCallback: function() {
          var tableId = '#documents-table';
          var controlsArray = prepareTableControls(tableId);
          updateSearchField(tableId, controlsArray, 'document');
          updateTable(tableId, null, controlsArray);
          $('.dataTables_filter input').focus();
        }
      };

      DatatableUpdate('#documents-table', [ [5, 10, 15, 25, 50, 100], 'documents', [[0, 'asc']] ], null, options)
    }
  });
</script>
