<% with_name ||= false %>
<div class="avatar-wrapper">
  <% if user.photourl.present? %>
    <%= image_tag(get_file_url(user.photourl), class: "avatar-small", alt: user.initials.to_s) %>
  <% else %>
    <%= image_tag(empty_image, class: "avatar-small", alt: user.initials.to_s) %>
    <p class="avatar-initials"><%= user.initials %></p>
  <% end %>
</div>
<% if with_name %>
  <span class="avatar-name"><%= user.name %></span>
<% end %>