<nav class="primary-nav no-side-bar" style="display: none;">
  <a id="close-mobile-app-menu" class="main-nav close-primary-nav">
    Close Menu
    <svg class="icon close-icon fr">
      <use xlink:href="#icon-x-2"></use>
    </svg>
  </a>
  <% user_profile_current = 'active' if current_page?(user_profiles_url) || controller?('user_profiles') || breadcrumb?(:user_profiles_path) %>
  <%= link_to user_profiles_path, class: "main-nav tablet-show #{user_profile_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-contacts-2"></use>
    </svg>My Profile
  <% end %>
  <% account_traffic_current = 'active' if (current_page?(account_traffics_path))%>
  <%= link_to account_traffics_path, class: "main-nav tablet-show #{account_traffic_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-user-1"></use>
    </svg>Account Traffic
  <% end %>
  <% account_settings_current = 'active' if (current_page?(vault_co_owners_account_settings_path) || current_page?(login_settings_account_settings_path) || current_page?(manage_subscription_account_settings_path))%>
  <%= link_to vault_co_owners_account_settings_path, class: "main-nav tablet-show #{account_settings_current}" do %>
    <svg class="icon nav-icon">
      <use xlink:href="#icon-settings-1"></use>
    </svg>Account Settings
  <% end %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"main-nav tablet-show") %>
</nav>