<div class="modal-header">
  <h2>Login Settings</h2>
  <p>Please choose how you would like us to verify your identity on future logins.</p>
</div>



<div class="modal-content">

  <ul class="radio-list">
   <li class="radio-list">
     <label for="f-option">
     <%= radio_button_tag "user[user_profile_attributes][mfa_frequency]", "every_time" %>
     Verify using my phone every time.</label>
     <div class="check"></div>
   </li>

   <li class="radio-list">
     <label for="s-option">
     <%= radio_button_tag "user[user_profile_attributes][mfa_frequency]", "new_device" %>
     Verify using my phone when logging in from a new device.</label>
     <div class="check"></div>
   </li>

   <li class="radio-list">
     <label for="t-option">
     <%= radio_button_tag "user[user_profile_attributes][mfa_frequency]", "off" %>
     Do no use my phone for login.</label>
     <div class="check"></div>
   </li>
  </ul>

</div>
