<div class="modal-header">
  <h2>Terms of Service</h2>
  <p>Thank you for verifying your account.  By clicking ‘I agree’ below you verify agreement with the Zoku Vault terms of service.</p>
</div>

<div class="modal-content">
  <div class="show-terms">
    <%= render :partial => 'pages/terms_of_service' %>
  </div>

  <ul class="check-list">
    <li class="check-list">
      <label>
        <%= check_box_tag 'user[user_profile_attributes][signed_terms_of_service]',
          1,
          false,
          onclick: "toggleNextOnTos(); return true;"
          %> <span></span>I agree to the Terms of Service
      </label>
    </li>
  </ul>
</div>

<script>
function toggleNextOnTos() {
  var check_el = $('#user_user_profile_attributes_signed_terms_of_service');
  var next_el = $("#next-step");
  if (check_el.is(':checked')) {
    next_el.show();
  }
  else {
    next_el.hide();
  }
}
</script>
