<div class="modal-header">
  <h2>Terms of Service</h2>
  <p>Thank you for verifying your account.  By clicking ‘I agree’ below you verify agreement with the Zoku Vault terms of service.</p>
</div>

<div class="modal-content">
  <div class="show-terms">
  Thank you for verifying your account. I clicking 'I agree' below you verify agreement with the Zoku Vault terms of service.

  Bacon ipsum dolor amet pig meatball drumstick ball tip porchetta chuck rump. Drumstick t-bone kielbasa, pastrami boudin jowl beef ribs kevin alcatra fatback rump filet mignon tail ribeye. Ground round cow swine, tongue fatback pork loin rump biltong jowl short ribs. Biltong strip steak shank pork pancetta sausage ham rump kevin flank doner tongue bresaola corned beef.

  Bacon doner frankfurter, bresaola shank short ribs picanha prosciutto boudin chicken landjaeger meatball kevin cow tenderloin. Bresaola filet mignon shoulder short loin, chuck cupim swine. Swine cupim rump, ball tip leberkas pork loin t-bone short ribs meatball shank tenderloin. Cupim tenderloin beef, rump meatball tail shank capicola.

  Shankle porchetta kielbasa tri-tip prosciutto pork sausage pastrami beef landjaeger kevin cow fatback picanha pork loin. Jerky corned beef bacon chuck, rump pork loin salami frankfurter porchetta alcatra ground round flank brisket short ribs leberkas. Pancetta venison sausage cupim kevin. Tail kielbasa doner cupim ribeye, brisket salami t-bone pork kevin. Bresaola turkey salami sirloin pork chop tongue jowl sausage bacon turducken pork belly. Jerky ribeye ham hock chuck tri-tip.

  Pork loin strip steak sausage boudin pig turkey andouille ball tip bresaola brisket sirloin alcatra chicken meatball. Bacon andouille drumstick biltong tail. Doner cow kielbasa, swine ribeye tri-tip pancetta jowl picanha. Porchetta t-bone landjaeger, pig pork loin turducken shoulder meatloaf. Short ribs turkey corned beef picanha ground round. Tri-tip sausage tongue picanha jerky ham hock turkey landjaeger. Shankle beef venison, porchetta pancetta hamburger tri-tip meatloaf pastrami cupim cow drumstick kielbasa biltong.

  Short loin sausage ground round, leberkas doner meatball tail ham hock meatloaf tongue jowl pig pastrami. Ground round filet mignon tri-tip corned beef shank pork chop. Tri-tip salami filet mignon tenderloin cow. Boudin doner ribeye leberkas turkey shoulder strip steak capicola. Frankfurter meatball porchetta, tri-tip jowl boudin pancetta sausage brisket short loin t-bone cupim kielbasa swine ball tip. Porchetta alcatra picanha salami bresaola pancetta chuck cow ground round frankfurter jowl brisket shoulder. Pig andouille boudin frankfurter kevin strip steak.

  </div>

  <ul class="check-list">
    <li class="check-list">
      <label>
        <%= check_box_tag 'user[user_profile_attributes][signed_terms_of_service]', 
          1,
          false,
          onclick: "toggleNextOnTos(); return true;" 
          %> <span></span>I agree to the Terms of Service
      </label>
    </li>
  </ul>
</div>

<script>
function toggleNextOnTos() {
  var check_el = $('#user_user_profile_attributes_signed_terms_of_service');
  var next_el = $("#next-step");
  if (check_el.is(':checked')) {
    next_el.show();
  }
  else {
    next_el.hide();
  }
}
</script>
