<div class="card mb-30 text-center max-w-1000-centered">
  <h2 class="fn clr-color-primary-shaded mb-30">
    Welcome to ZokuVault, <%= current_user.name %>!
  </h2>
  <p class="m-0-auto mb-30">You have started your 14 day free trial of ZokuVault.</p>
  <div class="max-w-600 m-0-auto mb-30">
    <%= image_tag "marketing/safe.png", :class => "w-200 inline-block w-30-percent" %>
  </div>

  <%= link_to "Let's Get Started", new_tutorial_path, class:"mb-20 mr-0 button big-button blue-button inline-block" %>
</div>
