<div class="card mb-30 text-center max-w-1000-centered">
  <h2 class="card-label fn clr-color-primary-shaded mb-30">
    Welcome to ZokuVault, <%= current_user.name %>
  </h2>
  
  <div class="max-w-600 m-0-auto mb-30">
    <%= image_tag "marketing/safe.png", :class => "w-200 inline-block w-30-percent" %>
  </div>
  
  <p class="mb-30 m-0-auto">These next few steps will help you get your account setup.</p>
  
  <%= link_to "Let's Get Started", tutorial_primary_contacts_path, class:"mb-20 button big-button blue-button inline-block" %>
</div>