<%= form_tag :user_type_update_accounts, { method: :put, id: 'account-form' } do %>
  <div class="card mb-30 max-w-1000-centered text-center">
    <%= hidden_field_tag "user[user_type]" %>
    <% if current_user.corporate_user? %>
      <%= render partial: 'corporate_user_type' %>
    <% else %>
      <%= render partial: 'common_user_type' %>
    <% end %>
    
  </div>
<% end %>

<script>
  var formSubmit = function(type) {
    $('#user_user_type').val(type)
    $('#account-form').submit()
  }
</script>
