<p>Dear, <%= @user.name %>.</p>
<p>Welcome to ZokuVault!</p>
<p>To verify your identity and activate your account, please click on the link below:</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>Once you have successfully confirmed your identity, you will be returned to the ZokuVault website where you 
will be prompted to re-enter your username and password to continue with your sign up process.</p>
<p>Thank you, <br> The ZokuVault Team</p>
